[2015-11-24 23:00] namurphy opened #1 "Create minimal structure within PlasmaPy"
Before we do anything else, we must first establish the minimal structure of a python module.

[Minimal Structure - Python Packaging Tutorial](http://python-packaging.readthedocs.org/en/latest/minimal.html)

[2015-11-25 20:47] #1 closed

[2015-11-25 22:09] namurphy opened #6 "Develop constants submodule"
Astropy contains a submodule called constants that contains commonly used constants from physics and astronomy.  PlasmaPy should include a similar module with commonly used constants from plasma physics and related disciplines.  PlasmaPy's module should make use of the powerful units functionality present in Astropy (e.g., from astropy import units).

[2015-11-25 22:56] namurphy opened #7 "Implement a basic 2D MHD code"
One possibility for future development in PlasmaPy is adding basic simulation capabilities.  At first, the codes can be simple (e.g., 2D resistive MHD on a rectangular grid using finite differences and a straightforward time-advance).  Later, the project could include more sophisticated options and numerical methods (finite element, spectral element, finite volume, etc.).  Some thoughts on 2D MHD

[2016-01-08 21:40] namurphy opened #11 "Implement a dispersion relation solver"
When dealing with plasma waves, it would be helpful to have a dispersion relation solver.

This was recommended by John Raymond.  I believe Carl Sovinec wrote a code that this several years ago, though not in python.

[2017-02-27 22:47] tulasinandan commented on #11
I have a very simple two fluid dispersion (e.g. Stringer JNE 1963 or Rogers PRL 2002). I could include that in. In the long run we could include a full kinetic solver in here too.

[2017-04-12 16:34] namurphy opened #15 "Clarification of code of conduct"
At present there are two parts of the repository that fulfil the role of a code of conduct: [vision_statement.md](https://github.com/PlasmaPy/PlasmaPy/blob/master/vision_statement.md) and [CODE_OF_CONDUCT.md](https://github.com/PlasmaPy/PlasmaPy/blob/master/CODE_OF_CONDUCT.md).  The section from the vision statement is adapted from Astropy, and the code of conduct file is adapted from the contribu

[2017-04-17 21:53] namurphy opened #18 "Need a way to store atomic data"
We are frequently going to need to reference basic atomic data such as the atomic number and atomic mass, including for different ionization states and different isotopes.  We will need this information for numerous applications, including as basic as getting the Alfven speed from the number density and the ion species.  There will also be situations that require significantly more atomic data (e.

[2017-04-17 22:51] namurphy commented on #11
I also talked with Kristopher Klein about a general dispersion solver written in Fortran at a conference in late 2016, though I wasn't able to find it online.  We would need to port that to Python or maybe Cython, however.

[2017-04-18 05:32] tulasinandan commented on #11
I also have Peter Gary's dispersion solver. I am currently working on a python wrapper that simply calls the executable. We could bundle 64 bit static binary along with the python wrapper until we have something that is more in line with our goals. IRFU people do similar thing with WHAMP and matlab. I would have to take Peter's permission for it though.

Kris and Daniel (Verscharen) are working on

[2017-04-19 16:02] namurphy commented on #6
This pull request addresses this issue: https://github.com/PlasmaPy/PlasmaPy/pull/17

[2017-04-24 22:22] yopology opened #23 "Should we define plasma class in a single set of parameters instead of on an array?"
Currently it looks like plasma class is defined on a Cartesian array, that makes it a bit specific. I am thinking maybe we could define a plasma with a single set of parameters e.g. electron/ion number density, temperature, ion charge state, magnetic field, etc., which can be used to calculate Alfven speed, sound speed, Lundquist number, transport coefficients, etc.

And when we have  arrays of no

[2017-04-24 23:16] namurphy commented on #23
I've been thinking along the lines of what you're thinking, which is possibly because you're the one who told me about this idea in the first place!

I have been wondering if it would be best to have multiple classes.  There could be a simple class which exists primarily for calculating plasma parameters (or maybe investigation dispersion relations, etc.) for a set of uniform conditions, without a

[2017-04-25 14:04] SolarDrew commented on #23
I disagree @yopology , with the disclaimer that I wrote the current Plasma class so I'm obviously biased towards keeping it :)

I think using arrays for parameters gives you more flexibility - you can use an array of a single value for a parameter that's uniform throughout the plasma, whereas you can't use a scalar for a parameter that has a spatial distribution. Also, it's set up in a way that as

[2017-04-25 21:45] namurphy commented on #23
The methods included in a class would likely vary considerably depending on what data (or functions describing physical parameters) are provided in it.  Along the lines of what @yopology is suggesting, there should be a way to do something very simple like:

[code]

[2017-05-01 16:34] namurphy commented on #11
Thinking about this more...all the dispersion relation solvers I've heard of are numerical.  I am wondering if we could implement something with SymPy to analytically find dispersion relationships as well, at least for situations where an analytic solution is possible.  I think it would be possible, at the very least.  Just a thought!

[2017-05-02 15:43] #6 closed

[2017-05-02 15:45] namurphy commented on #18
See pull request: https://github.com/PlasmaPy/PlasmaPy/pull/24

[2017-05-06 01:20] namurphy opened #25 "What versioning scheme should we use?"
At some point we will need to decide on a versioning scheme.  It'd probably be good to figure this out sooner rather than later so we can have as consistent a scheme as possible for the lifetime of the project.  I looked into what other projects are doing, and ended up finding [PEP 440 -- Version Identification and Dependency Specification](https://www.python.org/dev/peps/pep-0440/) which extensiv

[2017-05-08 17:31] smithsp commented on #23
From the tokamak point of view, it was disheartening to see the origin classes assuming cartesian geometry.

[2017-05-09 05:51] SolarDrew commented on #23
That's fair. I certainly didn't mean to exclude the tokomak community, cartesian is just easier to use for a basic proof of concept. Again, I don't see why we couldn't have some coordinate system information defined as part of the class that would allow the grid you've got to represent some other geometry.

Also, @namurphy, I quite like your idea about flexible function input, but I have no idea h

[2017-05-09 16:22] namurphy commented on #23
I was thinking of cartesian geometry as a prototype to make sure we were approaching this from the right angle, but you're right that those of us who primarily use rectangular geometry should start thinking outside the box.

Astropy has a whole subpackage on coordinate transformations and how to go back and forth between equatorial coordinates, galactocentric coordinates, and so on.  That's pretty

[2017-05-09 23:29] namurphy commented on #25
Astropy has development version tags like `'2.0.dev18104'` where the trailing number appears to be the number of the commit for that version.  They are automating it using functions in [git_helpers.py](https://github.com/astropy/astropy-helpers/blob/master/astropy_helpers/git_helpers.py) in astropy-helpers.  Perhaps we can do the same!

[2017-05-11 21:46] namurphy opened #29 "Converting angular velocity to frequency with astropy.units"
I raised an [Astropy issue about converting between radians per second and Hertz](https://github.com/astropy/astropy/issues/6032) using `astropy.units`.  I ran into some potential pitfalls using the `dimensionless_angles()` equivalency which treats 1 rad/s as equal to 1 Hz rather than 1/2π Hz as I expected.  Some examples are:
[code]
and
[code]
The most elegant and readable solution that was prese

[2017-05-11 21:53] #18 closed

[2017-05-12 01:40] namurphy opened #30 "Set up and automate documentation builds using Read the Docs"
One of the things that we should probably do sooner rather than later is to set documentation up for PlasmaPy on Read the Docs.  We have a choice between [reStructuredText](http://docutils.sourceforge.net/rst.html) (reST) and [Markdown](https://daringfireball.net/projects/markdown/).  For reST we would be using [Sphinx](http://www.sphinx-doc.org/en/stable/rest.html).  Astropy appears to be mostly

[2017-05-12 06:48] SolarDrew commented on #25
👍 I'm happy with this. On a similar note, we should look at the package-template and astropy-helpers packages, which help with a lot of this sort of thing, I believe.

[2017-05-14 15:27] SolarDrew commented on #30
I have a little experience with Sphinx and easy access to people with more, so I'm happy to have a go at this.

[2017-05-15 18:36] namurphy commented on #29
For reference, here is a pull request on Astropy to add a bit of documentation to help clarify this for people in the future: https://github.com/astropy/astropy/pull/6067

For methods that yield an angular frequency, we should include an example or two that shows the best way to do this conversion.

[2017-05-15 18:42] #29 closed

[2017-05-15 20:24] namurphy commented on #25
@SolarDrew - Yes, good idea!

For quick access:
- [Astropy package-template](https://github.com/astropy/package-template)
- [astropy-helpers](https://github.com/astropy/astropy-helpers)

[2017-05-15 20:57] SolarDrew commented on #7
I have a lot of previous work I can put towards this, which I'm porting onto my fork in bits when I have time, so I've assigned myself to this for now.

[2017-05-15 21:10] SolarDrew opened #31 "Getting started docs"
We should have some introductory documentation for new users. This should cover:

- Creating and using Plasma objects
- Brief introduction to Astropy units (or whatever, if we end up switching to another package)
- Overview of available plasma parameters

This (and other narrative docs) should be in addition to the autogenerated docs from Sphinx (#30).

[2017-05-15 21:12] SolarDrew commented on #31
ping @PlasmaPy/plasmapy-community . Feel free to add anything I've forgotten to that list.

[2017-05-15 21:50] namurphy commented on #7
Thank you!  In terms of the interface, I've been thinking a lot a lot about [Dedalus](http://dedalus-project.org/) which is a flexible spectral code in Python/Cython and seems to be really intuitive.  I'm really impressed with their [problem file for 3D Rayleigh-Benard convection](https://bitbucket.org/dedalus-project/dedalus/src/90d8b271bb66e24a32ca9b4b7b425d77b8813927/examples/ivp/3d_rayleigh_be

[2017-05-16 07:51] StanczakDominik commented on #11
I've been practicing SymPy recently and I could try to implement something in that. I could use a pointer to some reference materials for the dispersion relations themselves, though.

[2017-05-22 16:41] namurphy opened #35 "Create functionality for calculating transport coefficients"
At some point we'll need to write the functionality for calculating transport coefficients, including resistivities, viscosities, Braginskii everything (and then some), etc.  This is one of the next steps after pull request https://github.com/PlasmaPy/PlasmaPy/pull/34 to calculate plasma parameters.  My hope is to have docstrings that describe the meanings of each of these coefficients in terms th

[2017-05-24 10:19] StanczakDominik opened #36 "Get onto the Python Package Index"
You can do `pip install astropy`. The rest seems self-explanatory.

It's nothing urgent, if we want to wait until this is somewhat feature-stable, that's completely fine. I suppose we're going to want to be out there eventually, though.

[2017-05-24 16:22] namurphy commented on #36
Yes, getting on PyPI will be important!  My vote would be to wait until we have version 0.0.1 which will have better feature stability, as you brought up.  Hopefully we can do that in the next few months, though we still need to decide what our first micro release will include!  I would also be okay with getting on PyPI sooner if we decide there are good reasons to do so.  Thank you for bringing t

[2017-05-24 17:23] namurphy opened #37 "What should we include in version 0.1?"
We are presently in the early stages of development, and it is probably worth thinking about what we want to include in our first micro version of PlasmaPy.  My hope is that we will have something that is useful enough that it would be worthwhile for plasma physicists to install, though not so ambitious that it would take us more than ~3-6 months to complete.  I'll create a few milestones with Git

[2017-05-24 17:30] SolarDrew commented on #36
I'm happy to do this, there were some sessions at Python in Astronomy on exactly this process that I've been meaning to go back over.

[2017-05-24 17:37] SolarDrew commented on #37
Space wombats...?

I'd say my approach at the simulation aspect can be 'working' in that timeframe, but not necessarily properly tested and verified. I think we should set a date for this as well, I think setting deadlines will help us push on with things and make sure we get regular releases out.

[2017-05-24 17:55] Cadair commented on #37
Following semantic versioning your first release should be numbered 0.1 http://semver.org/#how-should-i-deal-with-revisions-in-the-0yz-initial-development-phase 0.1.1 would then be your first bug fix release and 1.0.0 would be for your first "major" release.

0.0.1 would be the first bug fix release for the 0.0 series, which means your first release should be 0.0.0 not 0.0.1 which is a little weir

[2017-05-24 17:59] SolarDrew commented on #37
But zero-based indexing.... :P

[2017-05-24 17:59] Cadair commented on #37
I mean release version 0.0.0 if you want :D

[2017-05-24 18:02] namurphy commented on #37
That is helpful, @Cadair!  Following your suggestion, I will rename this issue so that we're discussing what to include in 0.1. :-)  Would December/January be a good time to tentatively plan for a 0.1 release?

[2017-05-24 18:35] namurphy commented on #25
This is a useful resource regarding semantic versioning: http://semver.org/

[2017-05-24 18:35] SolarDrew commented on #37
December/January sounds reasonable to me, depending on how much ends up going in it.

[2017-05-25 18:27] namurphy commented on #37
I tentatively put January 18, 2018 as the v0.1 due date, though this is arbitrary so I am completely open to changing it (especially if there are meetings or other conflicts that core developers have).  I'll probably regret it on January 17! :crying_cat_face:  We would probably want a feature freeze, beta release, and branch created a month before, and a release candidate a week before if we follo

[2017-05-26 21:08] namurphy commented on #36
I tentatively put this as part of the v0.1 milestone since that's the latest we'd want to do this, but I'm curious if we would want to put a development version up on PyPI sooner than that.  Part of the reason is that I'm worried that a group of hematologists will decide to name something "PlasmaPy" on there before us!

[2017-05-28 16:23] StanczakDominik opened #40 "Add a particle stepper for given external fields"
As discussed on HipChat recently, I'd like to give adapting my particle stepper a try. The way I see this working would be:

- [x] Add a `ParticleSpecies` class containing their basic information such as position and velocity (as numpy `ndarray`s), charge and mass. This seems like a minimal necessary set of information. I would also like to save historical data on their positions and velocities ev

[2017-05-30 17:34] namurphy commented on #40
This sounds wonderful!  With regards to interpolation, the method I'm most familiar with is trilinear interpolation (e.g., [Haynes & Parnell, 2007](http://aip.scitation.org/doi/10.1063/1.2756751)).  I suspect that some of the interpolation routines in SciPy would do pretty much what we need them to do (e.g., [RegularGridInterpolator](https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scip

[2017-05-30 19:15] StanczakDominik commented on #40
... so this was implemented in scipy all along?

Well.

I really do need to read the full docs of that, scipy keeps positively surprising me.

Thank you very much for the heads up, this will definitely come in handy!

I'll try to make the interpolation easy to swap out.

Uniform mag fields are definitely one of the tests I'm considering; another would be a harmonic potential. The drifts are a neat

[2017-05-30 22:59] namurphy opened #42 "Creating functionality for calculating relativistic plasma parameters"
Most of the plasma parameters that we come across are non-relativistic.  However, relativistic plasmas that are often of interest to our community.  Eventually, we should come up with some functionality so that people can calculate and/or work with quantities like the relativistic Alfven speeds, and so on.  It's been a while since I've thought about relativity so I'm not sure what the best way to

[2017-06-01 20:46] namurphy opened #44 "Should we include more general physics functionality?"
Plasma physicists occasionally need to make use of more general areas of physics, including electromagnetism, mechanics, thermodynamics, relativity, and quantum mechanics.  Many of the expressions that we occasionally use would be straightforward to include, though writing useful tests and detailed docstrings do take quite a lot of time.  We can use this issue to brainstorm and plan different func

[2017-06-02 07:22] SolarDrew commented on #37
Sorry! Wrong button! 18th of January sounds good to me. And I think that list of features is a good starting point, perhaps with one or two more major-ish features added.

[2017-06-02 08:07] StanczakDominik commented on #44
We PhysicsPy now.

Would simply trying to abstract physical formulas we actually use in writing code here into functions that can be stored in a few common files and reused be enough? Otherwise it seems to me we really do risk becoming a jack of all trades physics package.

Not that it'd be a bad thing to have one like that, but let's perhaps focus on plasmas for now. :D

[2017-06-02 15:24] namurphy commented on #44
These are good points.  I agree that anything we include should have a reasonably strong link to plasma physics, and that we should prioritize based on how strong the connection to plasma physics is and how useful it would be.  I'll rephrase my question to: **What aspects of general physics are most essential to include in a plasma physics package?**  Having this question be included in the "Futur

[2017-06-04 06:08] colbych commented on #30
I took a crack at this and I got something pretty to drop out.

Here is a ReadTheDocs for PlasmaPy: http://plasmapy.readthedocs.io/en/docs/
I set it up using Sphinx and reST and I used autodocs to read in the docstring.

Right now it is built based off of my docs branch on my fork, that is now in the pull request section as well (#43 to be exact).

[2017-06-05 09:33] Cadair commented on #30
I would highly recommend using the automodapi Sphinx extension developed by astropy. https://github.com/astropy/sphinx-automodapi it has some nice improvements over the top of autodoc

[2017-06-05 18:51] namurphy opened #45 "Create a project webpage"
A while ago, I registered [plasmapy.org](http://plasmapy.org/) as a website for our project, though it is presently empty.  Sometime before our v0.1 release, we should collaboratively build a website that contains overall information on the project to complement [our documentation being created on readthedocs](http://plasmapy.readthedocs.io/en/docs/).  We can probably begin our website using the [

[2017-06-05 22:36] namurphy opened #46 "Adding a solver for 2D ideal MHD axisymmetric equilibria"
We will eventually need to include a solver for the Grad-Shafranov equation to facilitate finding axisymmetric MHD equilibria.  The solver should allow for flexible geometry to be able to match a variety of experiments.  Some configurations do not have a central stack (e.g., spheromaks), so the solver should account for regularity conditions at R=0.  The highest priority should probably be given t

[2017-06-05 23:16] namurphy opened #47 "Magnetic topology analysis tools in 3D"
The magnetic skeleton of a plasma includes the boundaries that separate plasma into distinct topological domains.  These topological features include magnetic null points, spine field lines, separatrix surfaces, and separators.  In plasmas like the solar atmosphere there are also bald patches where the magnetic field is tangential to the photosphere.  In addition to the topological features, there

[2017-06-06 05:02] StanczakDominik commented on #47
As for visualization, I suppose I could recommend mayavi, of all the plotting packages I've found it was the one I liked most for 3D. It can be admittedly a pain to install. I had an article on using conda to do that somewhere, I'll put it up here once I have found it.

[2017-06-06 07:18] StanczakDominik commented on #40
Okay, a minor point of confusion. I started doing some minor work on porting my code, and I'm noticing that we don't actually have an electric field defined in the plasma class. I know, quasineutrality, everything runs on magnetic in MHD scenarios, but in this case this means I'm kind of at a loss on how to proceed for now. I can't really interpolate a non-existant electric field.

I had the idea

[2017-06-06 16:18] namurphy commented on #40
Hm...some options would be to have the electric field either inputted directly, or calculated from an Ohm's law.  @SolarDrew, do you have thoughts on how to address this?

[2017-06-06 19:25] namurphy commented on #46
Two more thoughts:
- This task would probably work well in conjunction with coding up a spectral/finite element solver, since there are several papers that describe spectral/finite element Grad-Shafranov solvers.  (I'm also curious if there already exist open source spectral element frameworks that are written in Python/Cython.)
- I suspect that this functionality already exists within OMFIT and t

[2017-06-08 23:16] namurphy opened #48 "Improve functionality of atomic subpackage"
Thus far in the atomic routines, there are a few ways to represent ions in the form of a string: `'p'`, `'proton'`, `'H-1+'`, `'H-1 1+'`, and `'H-1 +1'` all represent protons.  Another possibility would be to represent them as a tuple or class that contains the ion species and the ionization state: e.g., `('H-1', 1)` would also represent a proton.  Perhaps `(1, 'H-1')` could be treated as equivale

[2017-06-09 00:06] namurphy commented on #25
Closing this because we're on the way to using [semantic versioning](http://semver.org/).

[2017-06-09 00:06] #25 closed

[2017-06-09 01:03] namurphy opened #49 "Create functionality for calculating dimensionless plasma parameters"
We will soon need functionality to calculate dimensionless plasma parameters.  Obvious ones to include are:

- [ ] `Lundquist_number` (my favorite!)
- [ ] `magnetic_Reynolds_number` (note: similar to Lundquist number)
- [x] `Reynolds_number`
- [ ] `Prandtl_number`
- [x] `plasma_beta` (went in as `beta`)
- [ ] `Mach_number`
- [x] `Coulomb_logarithm`
- [ ] `Debye_number` (this may be better here tha

[2017-06-09 16:46] namurphy commented on #48
Here are some antimatter matters with inconsistent or undesirable behavior:
[code]

[2017-06-09 16:50] namurphy commented on #48
We may want `charge_state` to allow electrons, even though it was intended for ions.
[code]

[2017-06-09 17:22] namurphy commented on #48
Some more thoughts while I'm talking to myself:   :smile_cat: :speech_balloon:
- It would probably helpful to have a function called `charge` that would give the physical value of the charge for various particles.  This would be easy to add.
- I'm wondering if it would be worth considering particles like muons, pions, etc.  These do not come up that often for most plasma physicists, but may come u

[2017-06-09 18:38] namurphy commented on #49
[code]

[2017-06-12 13:38] colbych commented on #36
I am just copying this over for the HipChat, cause I thought it was cool and I wanted to keep track of it even if we stop using hipchat:

you can now download PlasmaPy  0.1dev1 from here: https://testpypi.python.org/pypi/plasmapy/0.1.dev1156
and install it with `pip install -i https://testpypi.python.org/pypi plasmapy`
```pip install -i https://testpypi.python.org/pypi <yourpkgname>```

[2017-06-12 13:48] StanczakDominik commented on #40
Hey, just wanted to give a heads up that I still intend to get this done, but other commitments are kind of getting in the way right now. I hope I can get back to this soon.

[2017-06-19 20:36] namurphy opened #51 "How should we organize the main subpackages?"
Before our first minor release, we'll need to think more about how to organize the subpackages that we are creating.  Right now we have the following subpackages:
- `analytic`
- `classes`
- `constants`
- `io`
- `utils`
- `visualization`
Additionally, there will probably be new subpackages for the simulation capabilities that are being implemented (https://github.com/PlasmaPy/PlasmaPy/pull/33).  Pr

[2017-06-21 18:55] colbych commented on #30
I'll give astropy autodo a go and see what it does.

[2017-06-24 16:04] StanczakDominik commented on #51
I have little experience in this regard, but as for the name for the subpackage storing parameters... simply `parameters`, perhaps?

[2017-07-03 19:34] namurphy opened #52 "What are our atomic data needs?"
Over the last few years, I have gradually learned that plasmas tend to contain atoms.  Hence, we will need to include some degree of atomic physics within PlasmaPy.  The atomic data needs in plasma physics are very broad.  For example, temperatures of interest range from ~10 K in molecular clouds to ~30-40 MK in solar flares.  Astronomers tend to care about the dozen or so most abundant elements i

[2017-07-05 22:25] namurphy commented on #35
Here is a brainstorm of a few functions to include in `transport.py`:
[code]
The Coulomb logarithm will need a function `de_Broglie_wavelength` since that sometimes sets the lower limit on the impact parameter.  For the Coulomb logarithm, I am thinking that it would be best to include actual formulae rather than approximations since this would produce the most readable/maintainable code.  (For app

[2017-07-18 19:14] namurphy opened #55 "Change _check_quantity() and _check_relativistic() to decorators"
When working on `parameters.py`, I created two temporary methods in `utils/checks.py`: `_check_quantity` and `_check_relativistic`.  `_check_quantity` does a lot of checking to make sure that a Quantity has the right units or gets the right units attached to it and has valid values.  `_check_relativistic` makes sure that the output of a function is not relativistic by raising warnings if the veloc

[2017-07-18 19:17] namurphy commented on #55
Other possibilities would be to make a pull request to Astropy to extend the `astropy.units.quantity_input` decorator to include the functionality that we need, and to create a new Astropy decorator to check for relativistic velocities in outputs.

[2017-07-18 19:38] namurphy opened #56 "Improve discussion of physical concepts in plasma parameter function docstrings"
The functions to calculate plasma parameters in `physics/parameters.py` should have a discussion of physical concepts in their docstrings.  Some of the functions sort of do, while others like `ion_inertial_length` presently have little more than the formula.  These docstrings should be improved to have a concise and easily understandable discussion of the physics involved.  The docstrings should a

[2017-07-18 19:49] namurphy opened #57 "Test instructions on how to contribute by making a small pull request"
As suggested in https://github.com/PlasmaPy/PlasmaPy/pull/43, we should add `.swp` files to `.gitignore`.  These are files created when using the vim text editor that shouldn't be part of the repository.  This is a great, straightforward issue for a first time contributor to work on.

[2017-07-19 13:28] StanczakDominik commented on #48
It would be pretty handy to have `charge_state` and even `ion_mass` to allow electrons and perhaps more exotic particles - as it stands with `Species` in #54 , I would like to permit initializing those with a string and avoid having special cases for electrons. This seems like a better place for that.

A `charge` function seems trivial to pull off, as most of the exceptions are already in `charge_

[2017-07-19 16:03] namurphy commented on #57
An additional motivation in raising this as an issue is to see if anyone who has not made a pull request before would simultaneously check to make sure that our [instructions on how to contribute](https://github.com/PlasmaPy/PlasmaPy/blob/master/CONTRIBUTE.md) are helpful and don't have any mistakes in them.  That would be a great help!

[2017-07-19 22:03] namurphy commented on #52
Existing atomic databases or spectral modeling codes used in astrophysics include:
* [Chianti](http://www.chiantidatabase.org/) and [ChiantiPy](https://github.com/chianti-atomic/ChiantiPy) - Atomic data mostly for solar spectroscopy
* [AtomDB](http://www.atomdb.org/) and [pyatomdb](https://github.com/AtomDB/pyatomdb) - Atomic data mostly for X-ray astronomy
* [Cloudy](http://www.nublado.org/) - Sp

[2017-07-20 20:45] namurphy opened #59 "Some NumPy and SciPy operations drop units from arrays"
A [known issue with `astropy.units`](http://docs.astropy.org/en/latest/known_issues.html#quantities-lose-their-units-with-some-operations) is that some NumPy operations take in arguments that have units, but return arguments that do not have units even though they should.  This issue requires an upstream fix in NumPy (e.g., https://github.com/numpy/numpy/issues/4164). The SciPy 2017 talk on [MetPy

[2017-07-20 20:52] namurphy commented on #59
A takeaway point: when writing functions that take Astropy Quantities as arguments, always include a unit test to test units.
[code]

[2017-07-21 10:10] Cadair commented on #59
iirc the `__array_ufunc__` stuff is in astropy 2.0 / numpy 1.13 so you could require these versions to avoid some issues.

There is a quantity aware version of `isclose` and `assert_all_close` in `astropy.test.helpers` I think.

Also a good way to make sure your functions return the correct units is to use the return annotations and `u.quantity_input` in astropy 2.0 which now converts the output o

[2017-07-24 16:46] namurphy commented on #47
I tried mayavi a few years ago, and I liked it though I found it a little difficult to use at the time (partially because I was just learning Python back then).  I've been wondering if [yt](http://yt-project.org/) would be a good package for visualization too.

[2017-07-24 19:23] namurphy commented on #59
It was decided during our last telecon that we shall support only Astropy 2.0 and later, and NumPy 1.13 and later.  It was also decided that Nick's puns are hilarious and that there should be more of them in the code base.

[2017-07-24 19:25] SolarDrew commented on #59
For the record, I whole-heartedly support both of these decisions.

[2017-07-24 19:28] namurphy commented on #59
Once Astropy Quantities can work with `scipy.special.erf`, then we should:
 - [ ] Refactor plasma_dispersion_function so that it works with Quantities directly and we don't need to use `.value` to get the numerical value(s) as follows:
[code]

[2017-07-24 19:40] bla1089 commented on #47
For those of us who don't do a lot of 3D viz, mind sharing a quick thought
about why we need something other than matplotlib?

On Mon, Jul 24, 2017 at 12:46 PM Nick Murphy <notifications@github.com>
wrote:

--
Ben

[2017-07-25 19:57] namurphy commented on #47
@bla1089 - I'm guessing that we will end up doing a lot of visualization with matplotlib.  An advantage of using yt is that it has a lot of support for simulations (including particle simulations).  The biggest advantage of Mayavi is that it is both interactive and 3D, which would allow people to play with 3D simulation results and rotate them, zoom in, etc.

[I also just heard about another inter

[2017-07-26 05:36] bla1089 commented on #47
My one suggestion on this point would be to consider how widely used a
package is. The larger the user base, the more likely it will be maintained
in the long run and the less time PlasmaPy time will be devoted to external
library maintenance & development.

On Tue, Jul 25, 2017 at 3:57 PM Nick Murphy <notifications@github.com>
wrote:

--
Ben

[2017-07-26 05:41] StanczakDominik commented on #47
yt seems big enough in the scientific computing community that it doesn't seem likely to be going away any time soon. Matplotlib is, of course, near for plots, but given we want to do simulation and data viz too, it seems like something with more power would be handy.

I have been intending to learn that anyway. :)

[2017-07-26 12:53] bla1089 commented on #47
Fair enough.

On Wed, Jul 26, 2017, 01:41 Dominik Stańczak <notifications@github.com>
wrote:

--
Ben

[2017-07-27 14:53] #57 closed

[2017-07-28 19:10] StanczakDominik commented on #45
For further reference: we kind of settled on a statically generated site ( @SolarDrew and I suggested using Nikola) hosted on github pages. @namurphy 's accessibility checklist (I'm typing down what I see on Riot, so this is not exhaustive by any means):

- [ ] Text based button (screen reader compatible)

- [ ] Linear/sequential content, easy to navigate

- [ ] Captions on graphics

- [ ] https:/

[2017-07-29 15:55] LukeRoantree4815162342 commented on #49
Unless somebody has already started work on this, I'd like to contribute here. I'll update each time I add functionality and be happy to coordinate with anyone else working on this to avoid duplication.
I'll be starting with ```Mach_number``` unless someone is already working on it

[2017-07-30 00:17] GrahamGoudeau commented on #55
I've been taking a look at this. One question I had: in `physics/parameters.py`, there are two methods (`electron_gyroradius` and `Alfven_speed`) that do computation before the `_check_quantity` call. How were you imagining this working with a decorator?  I'm not a big fan of that pattern of physically swapping the contents of two of the parameters.

[2017-07-30 06:53] acfisher opened #66 "Discretization/Solver Libraries"
It may be a good time to start scoping out which discretization and solver libraries the project will use to solve PDEs.  It will be important to decide early on what kinds of parallelism will be supported (threading, MPI, GPU, etc).

[2017-07-30 08:14] StanczakDominik commented on #66
Are you aware of any existing ones for PDEs?

Do you think it's a bad idea to support multiple kinds of parallelism? GPUs seem perfect for high resolution PDEs, but I don't want to conclusively say we'll do that and nothing else.

Basically, what do you think is the best approach that stays general?

[2017-07-30 08:24] StanczakDominik commented on #49
Hey, I believe Nick has already done some work on this in #34 , #60 and possibly some others. I don't think we have the Mach number just yet, though, so if you could look over there, that'd be amazing! Thanks for the heads up!

[2017-07-30 20:49] namurphy commented on #66
Yes, this is a really good thing to bring up!

Some existing tools include:
 - [`sympy.utilities.codegen`](http://docs.sympy.org/latest/modules/utilities/codegen.html) has automatic code generation capabilities, I believe mostly for finite difference methods.
 - [FEniCS](https://fenicsproject.org/) is a partial differential equation solver using the finite element method (which is fairly similar t

[2017-07-30 20:54] namurphy commented on #49
I haven't worked on `Mach_number` yet so it would be great if you could!  I'm in the middle of working on `Coulomb_logarithm` at the moment.

[2017-07-31 04:33] namurphy commented on #52
[Astroquery](http://astroquery.readthedocs.io/en/latest/) has some really helpful functionality in terms of retrieving atomic data from places like NIST.

[2017-07-31 06:17] StanczakDominik commented on #66
Well, multicore processors are the norm these days. It'd be a terrible shame not to use them at least!

And GPUs are indeed the best thing there is for PICs, as far as I know. We might have to look into [PyCUDA](https://mathema.tician.de/software/pycuda/) for that, but it's probably not a very high priority just now.

[2017-07-31 17:35] acfisher commented on #66
Whatever piece of software handles the mesh for the PDE domain typically handles the parallelism too, and it can be difficult to add it after the fact.  If support for multiple kinds of parallelism is in the cards, then it is important to choose libraries that support them.

I have used a lot of [MFEM](mfem.org) which is a C++ library, but there are python bindings.  It works in serial, but scales

[2017-08-01 06:01] StanczakDominik opened #68 "Overhaul readme"
When I posted the link to PlasmaPy on Reddit many people were rather confused as to the aim of what we are trying to do here. I believe the materials are already in place on Riot, Reddit - it just needs some cutting and pasting, with a pinch of rewriting.

What we need to cover:

Why astronomy benefits so much from astropy and what that is

Why plasma physics is lagging behind in that and why that

[2017-08-01 06:21] StanczakDominik opened #69 "Include a full particle in cell code"
With the particle stepper pretty much being finished and live I believe we could begin thinking about including a full pic simulation within the code.

I don't think we need to focus on beating commercial and research codes at scalability, efficiency or speed, it'd be nice if that turned out to be the case, but it'd take a lot of effort and it's probably better to start small.

I think what would

[2017-08-01 06:26] StanczakDominik opened #70 "Replace "code" with "software" in readme"
It turns out Fortran lingo is mighty confusing.

Please see the attached Reddit thread and the related discussion:

https://www.reddit.com/r/Python/comments/6qa11t/comment/dkw3hfu

[2017-08-01 06:28] StanczakDominik commented on #45
A redditor suggested taking this to r/learnprogramming, but if there's anyone with a penchant for web dev already here, we'd really appreciate anyone getting into this one!

[2017-08-01 06:47] StanczakDominik opened #71 "A logo"
@namurphy mentioned having talked with, if I remember correctly, NUMFOCUS people who said they'd put us on their web page if we had a website and a logo to go with it. The website is another issue, so let's discuss the logo here. Any suggestions for the design?

[2017-08-01 06:51] StanczakDominik opened #72 "Consider punnier names"
Some candidates as proposed by the Reddit hivemind:

* Pysma
* Pylasma (I like that one!)

I wouldn't mind staying with PlasmaPy but I thought I'd remind everyone of the infinity of pun space.

[2017-08-01 07:00] StanczakDominik opened #73 "Should we be a set of packages instead of a single package?"
https://www.reddit.com/r/Python/comments/6qa11t/comment/dkw8ur9

Just linking this comment for now, I thought it was insightful.

[2017-08-01 07:04] SolarDrew commented on #55
Closed by #65

[2017-08-01 07:04] #55 closed

[2017-08-01 07:30] antoinelpp commented on #73
This reddit  comment is quite pertinent. ! Using sub-packages would allow users to use any small tools the way they want.

However, I'm not sure to understand the subtle difference between module and package. I thought any collection of python files was a package... On my opinion this question is more about the code architecture, isn't it ?
Or is it about providing a lot of little tools instead of

[2017-08-01 07:55] antoinelpp commented on #69
I'd like to contribute. I totally agree with the objectives you said, especially about speed and well documented and tested.

However, I think we have to discuss about few points to begin with :
1. For what simulation? Space plasma (collision less, no borders, maybe relativistic), laser-plasma interaction (electro-magnetic ), cold plasma (collisionnal, with wall interaction) ? We could try to make

[2017-08-01 08:18] SolarDrew commented on #73
I'm inclined to agree with @antoinelpp. I don't really see much of a useful distinction between calling it a module or a package, though I'm happy to be educated on that if I'm just being ignorant.

I do think that structuring it as a number of fairly self-contained sub-modules/sub-packages (following the astropy model again) does make sense, so I'm happy to do that to the extent that it's useful

[2017-08-01 08:20] SolarDrew commented on #72
As much as I love a pun, I think we should probably stick with PlasmaPy, since that's what we've been advertising it as up to this point. Willing to be convinced otherwise though :P

[2017-08-01 08:32] StanczakDominik commented on #73
Oh yeah, I did misspeak there. I intended to say that a system of sub-packages for organization would be neat. As it stands, we've got three main branches: analytic functions, atomic data (the two I of which I think could be gathered into a single `knowledge about plasmas` package for which I lack a name), and then there's `simulation` which currently seems to be branching into `PIC` and `MHD`. Wo

[2017-08-01 08:40] StanczakDominik opened #74 "What would you like to see in an open-source plasma physics Python package?"
We might need a place for people to weigh in on the actual direction we're taking, and this is probably the best place.

Some questions to consider:
* What tasks are common in your own niche of plasma research (it's a big field, after all)?
* What would you like automated or what have you successfully automated that could be handy for others as well?
* What do you find yourself rewriting in each a

[2017-08-01 10:15] StanczakDominik commented on #69
@antoinelpp re: your 1, I know that's a pain, but that's kind of a given for a **generic** package for **plasma** physics, probably one of the broadest fields in physics.

I think the framework idea is best: letting people pick and choose the kind of simulation they want to run helps the most people, though it is indeed going to be difficult. Besides, if they built something on top of it, that can

[2017-08-01 11:54] antoinelpp commented on #69
@StanczakDominik 3D pic is very time consuming. Even in the HPC sector, people don't try it too much.
However, we can think of it, starting from low but keeping in mind that 3D can eventually supported.

Building a generic framework for the different presets sound nice ! I like that.

[2017-08-01 13:53] namurphy commented on #73
I am a big fan of the Astropy model where there's the core Astropy package with the functionality needed by most plasma physicists and then a long list of [affiliated packages](http://www.astropy.org/affiliated/) with more specialized functionality.

I am wondering if we should keep `simulation` as a subpackage within the core PlasmaPy package because it would contain functionality that would prob

[2017-08-01 14:07] namurphy commented on #72
I was reading something a few weeks ago about writing cleaner code, and it pains me to say it, but one of the recommendations was to avoid puns in variable names because they end up making the code more confusing.  I like PlasmaPy because the name makes clear that it deals with plasmas, and it is a python package.

Suppose we were writing a package on laser surgery to correct vision.  We'd need a

[2017-08-01 14:12] namurphy commented on #72
I also dislike names like "Rayleigh-Taylor instability" because they're confusing and don't tell you anything about the physics.  I propose that we rename it as the "Swirly Mushroom Instability".

[2017-08-01 14:59] bla1089 commented on #72
FYI: "pandas" is short for "panel data".

Puns definitely create challenges for new comers.

What is it that people say about tests? They should be explicit and simple?
I think that can apply to open source as well b/c people will, ideally,
pick it up from nothing regularly.

On Tue, Aug 1, 2017 at 10:12 AM Nick Murphy <notifications@github.com>
wrote:

--
Ben

[2017-08-01 15:04] bla1089 commented on #74
When performing data analysis, I tend to do a lot of reduction and data
subsetting. (In pandas, this tends to involve grouping operations via
"groupby".)

Automated things I've written and am open to contributing are:

   1. Wrappers around curve fit that can take inputs, generate fits, and
   produce publication quality plots with fit parameters, uncertainties, and
   functional forms indicated.

[2017-08-01 15:05] bla1089 commented on #73
Perhaps asking how we want to write and structure tests will help clarify
some of this? I find that when I write out my test cases, get a much
stronger feeling for how I should organize things.

On Tue, Aug 1, 2017 at 4:18 AM Drew Leonard <notifications@github.com>
wrote:

--
Ben

[2017-08-01 15:06] bla1089 commented on #71
How about some interesting looking VDF?

On Tue, Aug 1, 2017 at 2:47 AM Dominik Stańczak <notifications@github.com>
wrote:

--
Ben

[2017-08-01 15:06] antoinelpp commented on #74
Should we create a TODO.md file to list that ?
Some points I listed :
* characteristic frequency/distance
* Easy transformation of units eV <-> K, Pa <-> Torr, T <-> Gauss, an so on
* Dispersion relation of common waves
* the legend - wait for it - dary Maxwellian function and its integrations
* A simple particle pusher in given fields
* A Child Languir sub-package

[2017-08-01 15:09] bla1089 commented on #74
We also might want different sub-packages for data analysis, simulation,
etc.

On Tue, Aug 1, 2017 at 11:06 AM antoinelpp <notifications@github.com> wrote:

--
Ben

[2017-08-01 15:11] bla1089 commented on #68
Quick thought: moving from Riot to Gitter.im. The latter is used heavily by
pydata development teams, so we'll more easily integrate with those groups
if we use that platform. We'll likely attract more users and gitter fully
integrates with github, making some things quite seamless.

On Tue, Aug 1, 2017 at 2:01 AM Dominik Stańczak <notifications@github.com>
wrote:

--
Ben

[2017-08-01 15:12] StanczakDominik commented on #74
Just a quick update on a few of the points raised, keep up the good discussion: would everyone be okay with using github issues instead of a todo file? Everyone can open them, they're easier to track than a single file... it just seems better than a static file in most respects, as long as we keep using them dilligently.

We already kind of have a particle pusher in #54, I'll be finishing that (do

[2017-08-01 15:20] antoinelpp commented on #74
@StanczakDominik I'm not used to github projects, so I'll refer to your opinion. However, if I like Github issues to deal with each issue, I think it is quite scattered. I like Todos because it sums up the goal of the project.

[2017-08-01 16:16] bla1089 commented on #74
Here's my not quite 2, maybe 7 cents?

If we're really worried about all this integration, we can sign up for
something like a todoist <http://todoist.com> account, create a shared
project, and then have github issues and todoist todo lists (which can be
assigned to people, marked as complete, given a priority, etc.) merged by
something like IFTTT <http://ifttt.com>.

One of the major problems we

[2017-08-01 19:29] namurphy commented on #73
Oh...I forgot to say that it is no problem at all to set up new packages through the [PlasmaPy organization](https://github.com/PlasmaPy) on GitHub.  We already have one set up for [PlasmaPy Enhancement Proposals](https://github.com/PlasmaPy/PlasmaPy-Enhancement-Proposals) though nothing is yet there.

[2017-08-02 08:00] antoinelpp commented on #52
Concerning Cross sections (Elastic, excitation, ionization) [LXcart](https://fr.lxcat.net/home/) is a quite well known data base.

[2017-08-02 09:01] kuszaj opened #75 "Simplify installation process (move metadata to separate file)"
Currently the installation process requires 2 steps, one of which is installing required packages by running `pip install -r <requirements file>` command. I think this should be handle automatically by `setup.py`, without forcing users to do it themselves. Moreover, this method might be a problem in the future, when PlasmaPy will become mature enough for its first PyPI release.

Unfortunately, wit

[2017-08-02 11:12] StanczakDominik commented on #75
That sounds awesome! I don't think any of us have much experience with packagin, so if you could try to do that, it'd be amazing!

[2017-08-02 12:17] kuszaj commented on #75
Unfortunately neither have I, however after my changes in `setup.py` I was able to make both source distribution (`*.tar.gz`) and a wheel (`*.whl`). Both successfully installed on a fresh virtual environment, so I think all should be fine.

[2017-08-02 13:52] SolarDrew commented on #75
So the installation process is a bit under-developed at the moment, mostly because we haven't had an actual release yet. I've got things set up so that when we hit 0.1 I can put it up on PyPI and after that you'll be able to do `pip install plasmapy` and it should just work. It would be great to have a properly working `setup.py` though, because I guess some people will want to install manually, s

[2017-08-02 21:29] ministrike3 commented on #70
The reddit comment is actually talking about the vision statement and I'm currently working on it!

[2017-08-03 04:31] StanczakDominik commented on #70
@ministrike3 oh right, yeah. I misread that. Thank you for the PR, closing this one!

[2017-08-03 04:31] #70 closed

[2017-08-03 04:37] StanczakDominik commented on #75
Closed by #76 :)

[2017-08-03 04:37] #75 closed

[2017-08-03 05:29] StanczakDominik commented on #68
That sounds reasonable. Riot seems nice whereas I haven't used gitter much, but I guess home is where the python devs are.

Everyone, would another change of chat room be okay with you?

[2017-08-03 07:14] antoinelpp commented on #68
No problem for me, and I think the earlier we change the better.

[2017-08-03 07:15] StanczakDominik commented on #69
Awesome, let's start with 1D and 2D first then :) I made a project for this one. I'll try to make a bunch of issues for things to do to make this stepper a full fledged PIC code, but I probably won't be able to do that today. If you want to try, go right ahead!

[2017-08-03 07:21] SolarDrew commented on #68
Personally I'd rather not change, partly because we've only recently moved over to Riot, and partly just because I have a personal preference for it. There is a bridge to gitter though, so I'd be happy to set that up and we can have a gitter channel that I don't have to use :P

[2017-08-03 08:56] SolarDrew commented on #72
I agree, it's definitely important to keep things easy for newcomers to pick up - especially as that's a major aim of the project, to me at least.

[2017-08-03 09:14] SolarDrew commented on #68
We now have a [gitter room](https://gitter.im/PlasmaPy/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link) for those who want to use it, and a bridge into the matrix room for those who don't.

[2017-08-03 09:39] StanczakDominik commented on #72
I completely agree and did not suggest this as a serious change, but simply as a joke. My bad, apologies to everyone.

[2017-08-03 09:39] #72 closed

[2017-08-03 14:14] namurphy commented on #68
A bridge between gitter and matrix sounds great!  Though admittedly, I only 43% know what that means. :-)

It would be good to include how to get started with both of these on the top-level README page too, perhaps after testing the bridge for a little while.

[2017-08-03 14:33] antoinetavant opened #78 "[PIC] Handle boundaries"
In the PIC simulation, task of #69
After each particles step/push , boundaries have to be handled.
May be needed :
- [ ] kind of `check_out` function that check if the particle is out, and where (up, down, ...)
- [ ] `remove_particle` to delete the particle from the arrays
- [ ] `reflect_particle` for a reflection re-injection. May be diffuse or scattered ?
- [ ] `periodic_boundary` for a periodic

[2017-08-03 14:49] antoinetavant opened #79 "[PIC] particle initialisation"
A task from #69 , in the PIC simulation
We need particle initialization functions, like :
- [ ] uniform Maxwellian distribution
- [ ] Maxwellian flux
- [ ] drifting Maxwellian
- [ ] Mono-energetic beam

flux and beam direction should have as argument the position and the direction.
a temperature should be used of the energy (best in electron Volt)

[2017-08-03 15:07] antoinetavant opened #80 "[PIC] Poisson solver"
task from #69 , for PIC simulation
For the Electrostatic PIC simulation, a Poisson solver will be needed.
- [ ] for 1D, Thomas Solver gives the exact solution. Boundaries have to be carefully set
- [ ] for 2D, a solver is needed. Multiples solvers could be implemented, starting from a homemade SOR, then libraries could be called. Boundaries again : careful
- [ ] Electric field calculation from Pot

[2017-08-03 15:26] antoinetavant opened #81 "[PIC] Particle to density and Fields to particle"
task of #69 , for a PIC simulation
Passing from the particle to the field :
- [ ] linear weighting via "inverse area" of the particle to the plasma density field
From the field to the particle
- [x] calculate the electric and magnetizable field via 1D or 2D interpolation.

This task is not complicated, but it is the interface between the Plasma and the Particle instances. This interface should be

[2017-08-03 18:12] namurphy opened #82 "Add finite element or spectral element simulation capability"
Finite difference methods work really well for a lot of problems, but there are some problems that they are not well suited for.  Finite element and spectral element schemes have the advantage of considerable geometric flexibility, which makes them highly suitable for simulating toroidal confinement devices with round-ish/triangular-ish cross sections or otherwise non-trivial geometry.  It would b

[2017-08-03 22:44] bla1089 commented on #68
Can we link riot and gitter accounts so that our comments are tracked
without worrying about which we sign in through?

On Thu, Aug 3, 2017 at 10:14 AM Nick Murphy <notifications@github.com>
wrote:

--
Ben

[2017-08-04 07:39] SolarDrew commented on #68
Yes, that's what the bridge does - messages in one are automatically passed to the other.

If there's further discussion on the messagin service I suggest we move it to its own issue.

[2017-08-04 07:45] jhillairet commented on #57
One additional comment could be made on the documentation, on a aspect which I find is poorly documented elsewhere: how do deal with and what should we do of the specific branches which have been created on our own fork after successful PR?

[2017-08-07 10:30] StanczakDominik commented on #57
I think there's no harm in either removing them or keeping them. If you like to have your repos tiny, remove away :)

[2017-08-08 15:35] StanczakDominik commented on #30
#43 closed this one :)

[2017-08-08 15:35] #30 closed

[2017-08-08 20:31] bla1089 opened #86 "What about data analysts and experimentalists?"
I've been following a lot of the recent developments with PlasmaPy. Have discussions started about how experimentalists or data analysts will use the project? A lot of focus seems to be placed on simulations at the moment and I'm not sure that the paradigm forming will be appropriate for those (like me) who deal with spacecraft and other experimental data.

[2017-08-08 20:47] bla1089 commented on #59
Would you mind if I added my 2 cents to the discussion?

I happen to be visiting @namurphy and we're discussing several piles of code I'd like to contribute to PlasmaPy. There are two concerns that have come up in our discussions. (1) How will data analysts and experimentalists use PlasmaPy? (2) How can we leverage already existing standards? I bring up (1) in #86. I'd like to focus on (2) here.

[2017-08-08 21:01] namurphy opened #87 "What packages should we use to store data?"
@bla1089 and I were just talking in person and ran into the following question: **What package or packages should we use to store data?**

Some possibilities include:
- [NumPy](http://www.numpy.org/) (which we are mostly using thus far)
- [pandas](http://pandas.pydata.org/)
- [xarray](http://xarray.pydata.org/en/stable/)
- [yt](http://yt-project.org/)

Some of the qualities that I think would be v

[2017-08-08 21:04] bla1089 commented on #87
What about finding a way to be agnostic to some of these other packages? One way I get around subclassing things like numpy and pandas is doing the following.

    class Plasma(object):
        __init__(self, data):
            self.set_data(data)
        @property
        def data(self):
            return self._data
        def set_data(self, new):
             assert isinstance(new, (pd.DataFra

[2017-08-08 21:08] bla1089 commented on #87
It's also worth noting that with something like `Pandas` we get to leverage all of the Cython level code that the package has completed.

[2017-08-09 07:21] SolarDrew commented on #86
Pull requests welcome ;)

Personally my focus is on simulation capability simply because that's what interests me. Not being an observer myself, I don't really know what kind of tools you need for that sort of work. I can't speak for anyone else on the project of course, but we do seem to have a lot of simulation people, so it would definitely be good to have an extra perspective.

If you want to

[2017-08-09 08:22] jhillairet commented on #86
Hi,

I'm not sure what the topic ask for, but here my two Centimes, focused on magnetic fusion research:
- most of the experimental data consist in time-varying data, that is, array of shape (nt, nx, ny, ...) where nt is the number of time samples and nx, ny, etc are the number of additional dimensions of the signal. A lot of signal are (nt, nd) with nd>=1, and such can be handled with pandas data

[2017-08-09 09:37] SolarDrew commented on #74
I agree we should stick to GitHub issues for tracking new features, it keeps bundled in with the codebase itself. We can group issues together into self-contained projects (e.g. [v0.1](https://github.com/PlasmaPy/PlasmaPy/projects/1)) and if we don't already we should have a 'Feature request' tag for easily searching issues that relate to new things we want to implement.

 We do :) (or at least we

[2017-08-09 10:17] antoinelpp commented on #74
@SolarDrew I'm waiting for the *unit* discussion to finish and the *PR*  #54  to be merged. But I'll make some issues !

Gauss, Torr and eV are not common units. I don't think there already are functions do convert them directly.

[2017-08-09 10:38] SolarDrew commented on #74
Cool, no problem :)

True. To clarify: `astropy.units` allows you to define units and equivalencies between units that aren't technically converible (e.g. nm <--> Hz for wavelength/frequency). What I meant was that it should (in theory) be reasonably simple to use these systems to implement the conversions you want, rather than that they would just work out of the box (although Gauss actually is s

[2017-08-09 11:34] SolarDrew commented on #59
Please always feel free, it's an open forum :)

My understanding is that none of those things is trivial. They may be slightly more efficient in the long term, but we also need to remember the short-term goal of providing useful funcitonality to users now.

I don't see that it's any less so if we decide existing tools don't serve our purposes and implement new ones that do.

To get back to the mai

[2017-08-09 11:36] Cadair commented on #59
There are still issues with numpy 1.13 and astropy  2.0 but at least there are less.

[2017-08-09 13:40] SolarDrew commented on #59
Fair enough. I think we should log these as individual issues as and when we find them (so we can tick them off) and refer back to this one.

[2017-08-09 14:52] bla1089 commented on #86
Drew, I'd be happy to chat on gitter about what I think is and isn't
necessary for observational work. Is there a time that works well for you?

On Wed, Aug 9, 2017 at 4:23 AM Julien Hillairet <notifications@github.com>
wrote:

--
Ben

[2017-08-09 14:59] SolarDrew commented on #86
Pretty much any time, I'm usually around :) I'll be online and available for at least the next few hours.

[2017-08-09 15:01] bla1089 commented on #74
@SolarDrew, the best explanation of pandas groupby functionality is the
documentation itself. Here's a [quick overview](
https://pandas.pydata.org/pandas-docs/stable/groupby.html). With that in
mind, here's my summary.

Pandas gives us the ability to take continuous data (e.g. measurements),
convert them into discrete values (e.g. bin the data), and then reduce a
large dimensional data set based o

[2017-08-09 20:41] SolarDrew commented on #74
For the record I'm not arguing that pandas and xarray aren't good tools. I guess what I should have asked was "what does groupby do that we need in PlasmaPy?"

This issue asks about what tasks people want to accomplish - I think we should decide first what physics people want to do, and then talk about what tools we want to do it with.

[2017-08-10 01:10] bla1089 commented on #74
@SolarDrew the benefit to a package like pandas is that instead of array
operations that typically assume a specific composition of the plasma (e.g.
just protons and electrons) or functions that require a lot of user
forethought to ensure that multiple ion species are treated appropriately,
pandas multi level indexing (or xarray ndimensionality) plus a bit of
forethought allow us to write calculat

[2017-08-21 09:43] #40 closed

[2017-08-22 03:31] colbych commented on #71
Has anyone given this a go yet? My wife likes to do this kind of stuff some times and/or my sister is a designer/illustrator. I could see if they would want put something together for y'all to see.

[2017-08-22 03:46] bla1089 commented on #71
I was actually thinking of measured data. I have some spacecraft
measurements that would probably be very useful for this. I just need to
sit down and pick out a spectrum to plot.

On Mon, Aug 21, 2017 at 11:31 PM Colby Haggerty <notifications@github.com>
wrote:

--
Ben

[2017-08-22 06:11] StanczakDominik commented on #71
Both of those ideas sound cool! Give 'em both a go if you can :)

On Aug 22, 2017 05:46, "blalterman" <notifications@github.com> wrote:

[2017-08-22 17:00] namurphy commented on #71
A while ago, Silvina Guidoni brought up the possibility of our logo being a python wrapping itself around magnetic field lines, with its path representing a particle orbit.

A possibility I was thinking of would be to have a python representing a magnetic flux rope, with magnetic field lines wrapping around the python.  An extension of that would be to have a python with magnetic field lines wrapp

[2017-08-22 17:07] namurphy commented on #48
One more bug:
[code]
`'He-3 2+'` is giving the wrong mass, since it's interpreting it as an alpha particle.

[2017-08-22 17:37] colbych commented on #71
I had the exact same idea about the snake orbiting a field line!

[2017-08-22 18:10] tulasinandan commented on #82
I'm working on a spectral Hall-MHD code.

[2017-08-22 18:44] tulasinandan opened #90 "Collecting ideas for Logo"
1) Snakes reconnecting!
2) Tokamak/Stellerator around the Sun
3) Lots of other snake ideas: Snake following particle path aroung B, B going around snake, ...

[2017-08-22 19:18] namurphy commented on #90
@tulasinandan - I forgot to mention on the telecon that there is an issue already for the logo.  Could you add these thoughts to https://github.com/PlasmaPy/PlasmaPy/issues/71?  Thank you!

[2017-08-23 08:29] antoinelpp commented on #87
Hey all,

I dig into `yt` (on [their site](http://yt-project.org/doc/index.html) ). They seem to have everything we need !!
* units and dimensions label
* can load lots of common data type (see [this list](http://yt-project.org/doc/examining/index.html) )
* grid and particle representations as well as data-frame like Pandas
* conda's supported
* has a large community
* seems fast and easy from the

[2017-08-23 13:15] bla1089 commented on #87
@antoinelpp I expected `new` to be any instance we wanted to account for.
DataFrame and DataArray were just the examples that immediately came to
mind.

On Wed, Aug 23, 2017 at 4:29 AM antoinelpp <notifications@github.com> wrote:

--
Ben

[2017-08-24 10:03] StanczakDominik commented on #87
@bla1089's abstraction idea seems reasonable. I'm not 100% sure how it'd work in practice just yet, but... I'm pretty sure I'd need pointers on implementing this kind of thing.

As for data structures, at a glance `yt` does seem to be the better fit at least for huge simulation etc data, given that it also seems to make grid visualization easier. But it seems like there's nobody among us but Cadai

[2017-08-24 10:04] StanczakDominik opened #91 "Narrative documentation"
Previously seen on 2017-08-22 telecon. I can do some narrative doc writing, just point me in a general direction!

Did you guys mean documentation for PlasmaPy as a thing in general by this, as well?

[2017-08-24 10:06] StanczakDominik commented on #68
Oh crud. I forgot about this one,  Will get to it asap!

[2017-08-24 11:49] StanczakDominik opened #93 "Get onto Conda"
This is somewhat related to #36. We need to be accessible and most of the cutting edge scientific Python is on [Conda](https://conda.io/docs/), probably due to ease of downloading stuff like C extensions, Numba etc.

Anyway, this gets closed once we can do `conda install plasmapy` in a new environment and have it work out of the box.

I haven't been able to find a how-to on this yet. I'll update t

[2017-08-24 14:29] Cadair commented on #87
@solardrew has used it a bit as well.

[2017-08-24 18:20] SolarDrew commented on #87
Indeed. I've found it really good for storing and plotting simulation data, but I don't know what kind of support it has for timeseries-type data of the kind @bla1089 has been talking about.

That said, I think it's great for pretty much everything else though, so in practice I think the real solution is going to be to use both as appropriate and try to provide consistent wrappers so the user does

[2017-08-24 19:14] bla1089 commented on #87
I agree. It's also worth looking at other developments in regards to
spacecraft data. For example:

pysat: https://github.com/rstoneback/pysat
pysatCDF: https://github.com/rstoneback/pysatCDF

Part of why I like the idea of pandas & xarray is that they are designed to
be very similar, simplifying the early part of the learning curve.

Just to point out, we could decided that simulation and experim

[2017-08-24 19:16] StanczakDominik commented on #87
Sure, that sounds pretty reasonable. I wouldn't mind this being the semi-final consensus we reach, as we'll probably eventually need to split simulation and experiment up anyway.

[2017-08-24 19:26] bla1089 commented on #87
Then the question inevitably becomes: how do we want to name it? Do we want
it to be PlasmaPy and have two separate parts in it, an experiment
(PlasmaExp) and a simulation (PlasmaSim) module with potentially common
routines or do we want the modules to be entirely separate and retire the
PlasmaPy name?

On Thu, Aug 24, 2017 at 3:16 PM Dominik Stańczak <notifications@github.com>
wrote:

--
Ben

[2017-08-24 19:34] SolarDrew commented on #87
Yeah that's pretty reasonable, I had considered we might have to do that. If possible I would like to keep a single mostly-consistent API, or at least have a single contructor that returns an appropriate subclass of  Plasma, a la SunPy Maps. But yes, if necessary having two would be a decent compromise.

[2017-08-24 19:37] SolarDrew commented on #87
And with regards to the name I'd say we still want to keep everything within PlasmaPy and have `experiment` and `simulation` (or whatever) as top-level submodules.

[2017-08-24 19:49] SolarDrew commented on #93
I'll sort this out if nobody objects. I've been meaning to learn how to do conda packaging anyway and unless anyone has a pressing desire to take on dealing with the pip installing it seems reasonable for me to deal with both.

[2017-08-25 03:36] StanczakDominik commented on #90
Duplicate of #71. So we don't have to remember to close this.

[2017-08-25 15:14] #68 closed

[2017-08-30 18:06] namurphy commented on #15
Another possibility: [Open Code of Conduct](http://todogroup.org/opencodeofconduct/)

[2017-08-30 18:06] #90 closed

[2017-08-31 14:32] odbaruch commented on #45
I'm already here and I would be more than happy to get into this one! I think a statically generated site is a great idea and if you're happy with modelling it after Astropy's site, so am I.

It would be a good idea to get requirements for the site down in a concrete manner before starting. If you guys let me know what content you'd like on the site, I can get going right away.

I subbed to the ma

[2017-08-31 21:29] bla1089 commented on #45
We could just do what most projects do and have something like a
documentation website that is mostly generated through Sphynx (sp?) and let
it auto update for us based on master on GitHub.

On Thu, Aug 31, 2017 at 10:32 AM odbaruch <notifications@github.com> wrote:

--
Ben

[2017-09-01 16:26] StanczakDominik commented on #45
@colbych has already mostly taken care of setting up a readthedocs website for the docs, we could link it from there. I think a central front page for the project is still a neat idea, thanks @odbaruch for being up for it!

As for concrete requirements, @PlasmaPy/plasmapy-community?

[2017-09-01 18:56] colbych commented on #45
@odbaruch I would be happy to work with you on this if you would like! I started some stuff like Dominik mentioned, but I was mostly interested in documentation (I kind of hate/am bad at making websites (see my home page for example [http://udel.edu/~colbych/](http://udel.edu/~colbych/))). DM me on Riot if you want to talk about this more.

[2017-09-04 18:49] thakkardharmik commented on #36
@StanczakDominik  I would like to help on this. Please guide me on what needs to be done.

[2017-09-05 18:10] tulasinandan commented on #71
1.     Snakes reconnecting!
2.     Tokamak/Stellerator around the Sun
3.     Lots of other snake ideas: Snake following particle path aroung B, B going around snake, ...

[2017-09-05 19:16] StanczakDominik commented on #45
Okay, after some discussion at today's telecon we've settled on things we'd like to put out there on the website:

- Quickstart guide (could go with `lorem ipsum` for now and once we have some working code I'll try to contribute something)
- Team page (we'll be discussing that during the next telecons, but basically [something like this](http://www.astropy.org/team.html))
- Code of conduct (mirror

[2017-09-05 19:42] StanczakDominik commented on #36
Hey @thakkardharmik, nice to see you being interested in helping out with this! I may have been mistaken with the Help wanted label though, as I forgot @colbych has already gotten this mostly done though :( @colbych, is there anything you need help with to port this to PyPI proper?

[2017-09-05 19:54] colbych commented on #36
Hey @thakkardharmik and @StanczakDominik! I did not actually do this. If I remember right @SolarDrew did this and posted this on hipchat back when we were using that. I wanted to archive the information somewhere, so I added it here.

[2017-09-05 19:58] SolarDrew commented on #36
It was indeed me :) I can't remember exactly what needed to change for setting up on proper PyPI, but it's not a lot. @thakkardharmik, I'll look into it tomorrow and put a list here of the things that need doing and you can take your pick. And thanks for getting involved :)

[2017-09-06 09:52] Cadair commented on #36
It is probably worth registering the plasmapy name on pypi proper even if you don't upload a package yet.

[2017-09-08 17:29] namurphy opened #99 "Calculate vacuum magnetic fields from general static current distributions"
The [Biot-Savart law](https://en.wikipedia.org/wiki/Biot-Savart_law) describes the magnetic field resulting from currents throughout a volume.  It will eventually be useful for PlasmaPy to have a Biot-Savart law solver that is able to calculate the magnetostatic field associated with one or more current carrying wires or the current density throughout the volume.  Potential applications would be t

[2017-09-08 17:42] namurphy opened #100 "Functions to get magnetostatic fields from known solutions (infinite wires, circular loops)"
In addition to the Biot-Savart law solver proposed in #99, we should have a way of calculating the magnetic fields resulting from simple current-carrying wire setups.  This would include the magnetic field from an infinite wire (which has a simple exact solution) and the magnetic field resulting from a circular current-carrying loop (which has a complicated exact solution) for boundary conditions

[2017-09-08 17:43] namurphy commented on #100
Happy issue/pull request #100, PlasmaPy!

[2017-09-08 17:56] namurphy opened #101 "Functions for Maxwellian and kappa distribution functions"
Particle distribution functions are used pretty commonly in plasma physics, and there are analytical expressions for [Maxwell-Boltzmann](https://en.wikipedia.org/wiki/Maxwell-Boltzmann_distribution) and [kappa](https://arxiv.org/pdf/1003.3532.pdf) distributions.  It would be great to create functions for these distributions in the `physics` subpackage.

[2017-09-08 18:15] namurphy opened #102 "Change subpackage name from "analytic" to "math""
The `analytic` subpackage originally contained plasma parameter as well as mathematical functionality.  The plasma parameter functions were moved to the `physics` subpackage, so `analytic` contains only the plasma dispersion function and its derivative.  Renaming the `analytic` subpackage to `math` would clarify the purpose of this subpackage.  This would involve changing the directory name, modif

[2017-09-08 23:03] namurphy opened #103 "Create function in atomic subpackage to return a particle's electric charge"
At present the `atomic` subpackage has a function called `charge_state` which returns an integer representing the charge (i.e., for an electron the charge state will be `-1` and for an alpha particle the charge state will be `2`).  It would be helpful to have a function called something like `electric_charge` in `atomic.py` that returns the actual charge as an Astropy `Quantity`.  This function wi

[2017-09-08 23:39] namurphy opened #104 "Improve readability of elements.py and isotopes.py"
At present, the `atomic` subpackage stores data for elements and isotopes as dictionaries that are coded into `elements.py` and `isotopes.py`.  I did this as a way to get the functionality done quickly, but this does not strike me as the best way to go about this.  I am wondering if it would be better to store the atomic data in HDF5 form and then to use `pytables` or `h5py` to access the informat

[2017-09-09 00:00] namurphy opened #105 "Include half-life data for all isotopes with a known half-life"
Half-life data is presently included for only a subset of isotopes, since I wasn't able to find an easily usable database of nuclide stability.  We still need to include half-life data for all nuclides with known half-lives.  It would probably be helpful to include information on the uncertainty of each half-life, and information on the source of each half-life.

This is related to #104 since the

[2017-09-09 00:20] namurphy opened #106 "Consolidate separate functions for ions and electrons in plasma parameter calculations"
When I was working on the plasma parameter calculations, I put in separate functions for ions and electrons.  In retrospect, it would probably work better to have a single function that has the particle species as the input instead of separate ion/electron functions.

The checklist of things to do are:
- [ ] Merge `electron_thermal_speed` and `ion_thermal_speed` into `thermal_speed`
- [ ] Merge `e

[2017-09-11 22:52] nrb1324 commented on #103
I'm taking a look at this. My python is very rusty so it might take a while.

[2017-09-12 04:48] StanczakDominik commented on #103
Closed by #107.

[2017-09-12 04:48] #103 closed

[2017-09-12 07:01] LudovicoGitHub commented on #102
Hey! This is my first time trying to contribute, I would like to tackle this problem.

[2017-09-12 07:06] StanczakDominik commented on #102
@LudovicoGitHub awesome, hit that pull request button! :D

[2017-09-12 07:42] StanczakDominik opened #109 "Add note about adding "Closes #107" to pull requests to CONTRIBUTING.md"
There's a 1:1 correspondence between most pull requests and issues they're based on. Adding a keyword to the pull requests would make our lives easier.

https://help.github.com/articles/closing-issues-using-keywords/ this is the source on automated keywords

I also believe there's a way to have this displayed in Pull Requests as a template, bonus points for googling this and adding something of th

[2017-09-12 07:51] antoinelpp commented on #101
Hi, I'd like to take care of this one.
I'll try to implement :
* functions with arg {T, V_dift, v} which return f(v) (add $\kappa$ for the Kappa function)
* A generator, creating a particle which velocity corespond to the discribution function

I'm not sure if I can do it all by myself... We'll see ! :)

[2017-09-12 07:54] StanczakDominik commented on #101
Awesome! For the particles, could you also try to tie it to that PIC
`species` class and try to make it return velocities for multiple
particles? I'll try to help out as I can :)

12.09.2017 09:51 "antoinelpp" <notifications@github.com> napisał(a):

[2017-09-12 08:21] antoinelpp commented on #104
Hi,
Putting data outside of the code seams good to me, however, `HDF5` seems a bit too much to me... I would consider `JSon` for informations like mass, charge, Inonization energy, and so on.
The only data that may require `HDF5` would be the cross sections, but I'm not sure it is worth it.

Json is very similar to a dictionary, but the library [JsonPickle](https://jsonpickle.github.io/) allow to

[2017-09-12 09:13] StanczakDominik commented on #104
Antoine does have a point. It might be overkill, given that you're not
really doing any writing during usage and the data you're reading is sparse
(by which I mean, not arrays but maybe a few numbers with different
conceptual meaning per element or isotope). You don't really need lighting
fast data access for this one. I kind of like the json idea - but in all
honesty, given we already kind of hav

[2017-09-12 16:30] namurphy commented on #102
Resolved by #108.  Thank you!

[2017-09-12 16:30] #102 closed

[2017-09-13 02:54] namurphy opened #110 "Add functionality to find fusion reaction rates, cross sections, and energy generation rates"
In laboratory fusion devices and in stellar astrophysics, it's important to be able to calculate quantities associated with different fusion reactions.  We will need a way to calculate the following quantities as functions of temperatures and densities:
- Reaction rates (the number of reactions per cubic meter per second)
- Reaction cross sections (in square meters)
- Energy generation (in joules

[2017-09-13 17:46] namurphy commented on #104
All good points!  JSON seems like a good choice if we decide to do this, so I updated the title.  Since it's in an adequate format now, we can wait to do this until later.

[2017-09-13 18:23] namurphy commented on #105
These could be good sources for half-life and other atomic/nuclear data:
- [NUBASE 2016 reference](https://www-nds.iaea.org/amdc/ame2016/NUBASE2016.pdf)
- [NUBASE 2016 ASCII formatted table](https://www-nds.iaea.org/amdc/ame2016/nubase2016.txt)
- [Nuclear Wallet Cards](http://www.nndc.bnl.gov/wallet/)

[2017-09-14 17:24] namurphy opened #111 "Create initial developer documentation for version 0.1"
A lot of packages have documentation written specifically for new as well as experienced developers.  This would be really useful to have in order for new people to get involved and for consistency between subpackages.

Examples include:
- [Contributing to NumPy](https://docs.scipy.org/doc/numpy/dev/)
- [SciPy Developer Guide](https://docs.scipy.org/doc/scipy/reference/dev/index.html)
- [SunPy Dev

[2017-09-14 18:44] namurphy opened #112 "Raise ImportError when installing/importing with old versions of Python, Astropy, & NumPy"
We decided that PlasmaPy will only be supported for:
- Python version > 3.6
- Astropy version > 2.0
- NumPy version > 1.13

However, when I try to run:
[code]
from the command line with Python 3.5 then I get a `SyntaxError` for syntax that is new in version 3.6.

When I try to run
[code]
in Python 3.6 with Astropy 1.3.1, then I get an exception since one of the constants imported from Astropy was

[2017-09-14 18:47] namurphy opened #113 "Append 'dev' plus the commit number to development version numbers"
So Astropy does this cool thing where if you're using the development version of the code, then you can do this:
[code]
That's really cool!  We should implement this for PlasmaPy also.

The relevant code is in [Astropy's setup.py](https://github.com/astropy/astropy/blob/master/setup.py), and we will need to edit [our own setup.py](https://github.com/PlasmaPy/PlasmaPy/blob/master/setup.py).  It see

[2017-09-14 19:00] namurphy commented on #112
Thank you @colbych for bringing up this problem!

[2017-09-14 19:20] namurphy commented on #113
Oh!  Another thought.  Confusion sometimes arises when you think you're importing an official release of a package, but you instead import an unstable development version.  Does anyone think it would be helpful to print out something like `"Importing PlasmaPy version 0.1.dev351 (last updated on 2017 Sep 13)"` when running `import plasmapy` if `'dev'` is in the version number?  A drawback might be

[2017-09-14 19:39] namurphy commented on #112
There's already a check for the Python version at the bottom of `plasmapy/__init__.py`, but I think that should be moved to the top of the file.  Then I think you can do things like
[code]
and then check to make sure it is recent enough, and then run `raise ImportError(error_message_string)` if it is too old.

I *think* this is the right syntax for `requirements/base.txt` to specify minimum versio

[2017-09-14 19:53] namurphy commented on #111
It'd also be great to have tips for how to have a constructive and helpful code review.  We could add links to resources and videos as well.

@SolarDrew - A while back I think you posted a video on this somewhere.  Was this one it?  [Erik Rose Constructive Code Review PyCon 2017](https://www.youtube.com/watch?v=iNG1a--SIlk)  Or was it something else?

[2017-09-15 12:24] antoinelpp commented on #31
Hi,
Is there already something that parse the doc-strings and generate docs ?
I'm not sure if Sphinx can do that...

[2017-09-16 15:56] jhillairet commented on #106
Shouldn't the gyrofrequency be signed ?  In the current implementation, ion and electron gyrofrequency has the same sign. Is it designed?

[2017-09-16 17:07] StanczakDominik commented on #106
That's a convention thing, I believe. Could do with an optional Boolean flag in the function's signature!

[2017-09-16 17:46] jhillairet commented on #106
I believe it's more than a convention thing. For example, the sign of the cyclotron frequency should affect the calculation of the cold plasma dielectric tensor. Here is a capture from the Stix book :
![image](https://user-images.githubusercontent.com/4642848/30514551-689384e8-9b17-11e7-85b4-024b03a7631a.png)

By the way, I was trying to make a cold tensor calculator using plasmapy, but I discover

[2017-09-17 16:02] namurphy commented on #106
@jhillairet, thank you for bringing this up!  I like @StanczakDominik's idea of having a Boolean flag like:
[code]
The question for me is what the default should be.  I would most likely use `gyrofrequency` to determine ratios of timescales, in which case having `signed=False` as the default would be preferred.  If someone is primarily analyzing plasma wave behavior, then having `signed=True` as t

[2017-09-17 16:07] namurphy commented on #106
Thank you for bringing up the units bug too.  Using Astropy 2.0 and NumPy 1.13 together provides improved unit support, but it's still ongoing and requires an upstream fix in NumPy.

Cross-reference: https://github.com/PlasmaPy/PlasmaPy/issues/59

[2017-09-17 16:12] namurphy commented on #59
If anyone happens to run into this problem, the first thing I would suggest is making sure you're using the most recent versions of NumPy and Astropy.

[2017-09-18 07:05] AarohGala commented on #113
Hey! I'm new to this and I want to contribute to this. Can you tell how can I start contributing?

[2017-09-19 20:10] namurphy commented on #106
Whether or not the cyclotron frequency depends on the sign of charge is one more area where there's disagreement in the literature.  I took a quick look at the plasma physics books I had nearby to check on their conventions:

### Cyclotron frequency depends on **magnitude and sign** of charge
- The *Plasma Formulary* by Declan Diver
- *Waves in Plasmas* by Stix
- *The Physics of Plasmas* by Boyd a

[2017-09-20 08:11] jhillairet commented on #106
Great litterature review ! I agree to the proposed function prototype.

For the other book I do not know, but for the Swanson's book, the author introduces a multiplicative signum (+/- 1) function to the cyclotron pulsation (with a footnote saying that some other authors do not which in these cases leads to negative values for electrons).

[2017-09-21 21:24] namurphy commented on #110
A review article: [Solar fusion cross sections](https://doi.org/10.1103/RevModPhys.70.1265)

[2017-09-22 07:14] StanczakDominik opened #118 "Consider splitting up tests into multiple ones per function"
Let's say I'm debugging `physics.Alfven_speed` after making some changes. I run pytest in my trusty old PyCharm and I run into an error on line 69. I fix that one and run pytest again. Now there's an error on line 79, which the previous test run didn't reach as `assert` failure means executing the code within the test function gets stopped. I fix that one and proceed to repeat until there are no t

[2017-09-22 13:51] thomasjpfan commented on #118
`@pytest.mark.parametrize` can be used as well. For example, this snippet:
[code]
can be refactored to:
[code]
I'll work on a pull request for this issue.

[2017-09-22 15:14] StanczakDominik commented on #118
Nice! I agree they 'pytest.mark.parametrize' should be great here. I
already started work on that general area with refactoring 'physics', but
this kind of change should be easy to merge, so go right ahead!

22.09.2017 15:51 "Thomas Fan" <notifications@github.com> napisał(a):

[2017-09-26 09:47] thakkardharmik commented on #36
@SolarDrew Can you please update if there is anything I can get involved with? Thanks.

[2017-09-26 15:53] StanczakDominik opened #120 "Trim the dependency tree a bit"
On doing `pip install plasmapy` into a fresh env I get

   `Successfully installed astropy-2.0.2 certifi-2017.7.27.1 chardet-3.0.4 coverage-4.4.1 coveralls-1.2.0 docopt-0.6.2 idna-2.6 numpy-1.13.1 plasmapy-0.1.dev1 py-1.4.34 pytest-3.2.2 requests-2.18.4 scipy-0.19.1 urllib3-1.22`

Some of those are probably non-essential for the non-developing user. Especially:
* coverage
* coveralls
* pytest
* I

[2017-09-26 15:56] StanczakDominik commented on #36
It seems to be working nicely, so I'll close this one!

@thakkardharmik please check back with us on the Gitter/Matrix room, we'll find you something to get involved with!

[2017-09-26 15:56] #36 closed

[2017-09-26 16:00] StanczakDominik opened #121 "ModuleNotFoundError: No module named 'plasmapy.classes' on plasmapy import"
On importing freshly installed plasmapy into a new environment:

    (plasmapy) [~]$ python
    Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:51:32)
    [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/dom

[2017-09-26 17:58] namurphy commented on #48
Of the bugs I mentioned, I believe all have been fixed except for this one:
[code]

[2017-09-27 10:40] #118 closed

[2017-09-27 10:40] #109 closed

[2017-09-27 16:40] colbych commented on #121
Did this get fixed? I tried to recreate the problem and everything seemed to work for me.

[code]
The install looks good to me.

[code]

And no errors on the import.

Are you still getting this @StanczakDominik ?

[2017-09-27 17:02] StanczakDominik commented on #121
Yeah, just confirmed as still happening on two separate machines. Weird... :confused:

[2017-09-27 17:03] colbych commented on #112
With a clean environment I installed plasmapy and verified that it worked. Then I uninstalled plasmapy and astropy. Next I installed astropy==1.3.3 and reinstalled plasma py. On the installation I got
[code]
So it just skipped over astropy because it was already installed.

Then I updated requirements/base.txt to include the line above from nick and this is what I ended up getting.
[code]
So inclu

[2017-09-27 17:07] colbych commented on #121
Is your branch up to date? I started working on this issue because I had this exact same problem a few weeks back, so I figured I would try to fix it, but now I am not getting it any more.

[2017-09-27 17:10] StanczakDominik commented on #121
What do you mean by branch here? I'm running this in a completely clean conda env on a laptop that hasn't had anything to do with PlasmaPy, so nothing I did on any of my git branches should be of any importance, right?

[2017-09-27 17:12] colbych commented on #121
Sorry I meant, is whatever current branch on your local repository up-to-date with the plasmapy master branch on github?

[2017-09-27 17:19] StanczakDominik commented on #121
It is, but that's irrelevant to the laptop. @SolarDrew says on Matrix he's got the same issue going on, so maybe something's weird with your config? You're outnumbered 2:1 right now :D

[2017-09-27 18:56] Qabat commented on #121
I can also confirm this bug.
![screenshot](https://user-images.githubusercontent.com/11430843/30931852-278c0724-a3c6-11e7-9a8d-75fa5f8196df.png)

[2017-09-27 19:07] thomasjpfan commented on #121
If you stated your python session in a root directory of this repo, you would be able to import plasmapy.classes since the root directory would be part of the PYTHONPATH.

If you installed `plasmapy` with `pip install .` or `python setup.py install` and moved to another directory, the original setup.py only installed `plasmapy/_metadata.py` and `plasmapy/__init__.py`, leaving out all the other mod

[2017-09-27 19:18] colbych commented on #121
It looks like our init might be wrong. So if you checkout the file it is yelling about it is just plasmapy's __init__.py file moved to `/Users/colbych/anaconda/envs/plasmapy/lib/python3.6/site-packages/plasmapy/__init__.py` and then that is trying to load files from `.`.

I started looking at how [astropy](https://github.com/astropy/astropy/blob/master/astropy/__init__.py) does it and it seems pre

[2017-09-27 19:21] StanczakDominik commented on #121
Complex projects will do a bunch of cool weird stuff in their init files. Might be a massive ordeal to figure something out from that.

Wouldn't switching lines 8-9 [here](https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/__init__.py#L8-L9) solve the problem?

[2017-09-27 19:28] colbych commented on #121
It doesn't look like you can just switch the lines. This is what I get when I tried:
[code]

[2017-09-27 19:29] StanczakDominik commented on #121
Well, it was worth a try.

On Sep 27, 2017 9:28 PM, "Colby Haggerty" <notifications@github.com> wrote:

[2017-09-27 19:53] thomasjpfan commented on #121
There are no issues with the `__init__.py`. To test out the fix in my pull request start a clean environment and run:
[code]

[2017-09-28 00:59] colbych commented on #121
Yup I just tried it and your branch fixes it.

[2017-09-28 05:14] StanczakDominik commented on #121
Wow, yeah, it does work! @thomasjpfan, thank you for the fix and for your patience with us while we figure out how packaging works and how to actually test this! :smiley:

[2017-09-28 09:40] #121 closed

[2017-09-28 12:27] StanczakDominik commented on #112
Awesome! Wanna PR that @colbych?

[2017-09-28 12:29] #113 closed

[2017-09-28 16:46] colbych commented on #112
Turns out pep8 doesn't like this. In #125 pep8 is yelling at me about the module level import not at top.

[code]

Do you have thoughts about the @namurphy ?

[2017-09-28 19:06] namurphy opened #126 "Add documentation on how to build documentation with sphinx and readthedocs"
We presently have a `docs` directory that includes `.rst` files for our documentation.  We need to add documentation that describes the procedure we go through to edit/rebuild the documentation using sphinx and readthedocs.  I'm unfamiliar with the procedure to do this, so I'll pose the question here: what is the procedure for updating our docs?

Thank you @colbych for getting our documentation st

[2017-09-28 19:24] colbych commented on #126
So right now I made the docs with my own RTD account that is grabbing what ever is the latest master version from my repository. This was ok for a proof of concept, but I think @namurphy will have to make an account for the official version.

I need to remember how to get his all to work. I will spend some time and get back with an answer.

[2017-09-28 19:38] namurphy commented on #126
Thank you!  Would it be possible to change the name of the repository it builds from to the master PlasmaPy repository?

For reference, here is a link to the [PlasmaPy Read the Docs page](http://plasmapy.readthedocs.io/en/docs/).

[2017-09-28 19:40] colbych commented on #126
For sure, I will make sure to change that.

[2017-09-28 19:46] namurphy commented on #126
Thank you!  I was able to navigate the Read the Docs website from there, and there was a button to rebuild the documentation, which I clicked, and I think that rebuilt the documentation from your repository, but I can't remember what I did. :-)

[2017-09-28 19:58] colbych commented on #126
I updated some stuff in the admin section and now this RTD page is grabbing the master repository form the PlasmaPy repository http://plasmapy.readthedocs.io/en/master/

[2017-09-28 20:03] colbych commented on #126
Also it looks like @namurphy will have to integrate an RTD web hook. There is a bunch of info here: http://docs.readthedocs.io/en/latest/webhooks.html

[2017-09-28 20:31] #112 closed

[2017-09-29 07:36] StanczakDominik commented on #126
I think the Payload URL was incorrect, it was specified as `http://plasmapy.readthedocs.io/en/master/` whereas I found it on [teh internets](http://readthedocs.org/build/plasmapy) that it should be `http://readthedocs.org/build/plasmapy`. I changed it. I'm not 100% sure, but @namurphy, could you try rebuilding it again and seeing whether it works?

[2017-09-29 17:49] namurphy commented on #126
Thank you, @StanczakDominik and @colbych!  I triggered a build earlier and it seems to have worked, though I haven't checked it out in detail.

[2017-09-30 04:59] #120 closed

[2017-09-30 18:28] namurphy opened #128 "Automate testing of example code with doctest"
Python's built-in [doctest](https://docs.python.org/3.6/library/doctest.html) module includes capabilities to search through docstrings for examples that look like interactive Python sessions, and then make sure that the actual output of the examples matches what is shown in the docstring example.  This capability should be included in our continuous integration testing so that we can ensure that

[2017-09-30 19:13] StanczakDominik commented on #128
Isn't this on by default? I thought it was. I'll check for it anyway and
make sure.

On Sep 30, 2017 20:28, "Nick Murphy" <notifications@github.com> wrote:

Python's built-in doctest <https://docs.python.org/3.6/library/doctest.html>
module includes capabilities to search through docstrings for examples that
look like interactive Python sessions, and then make sure that the actual
output of the ex

[2017-09-30 19:44] pohzipohzi commented on #128
Hi if im getting you correctly, we can add a `pytest.ini` file with the lines:

`[pytest]
 addopts = --doctest-modules`

to automatically add doctest integration for pytest (see [this](https://docs.pytest.org/en/latest/doctest.html))

I made a PR with the relevant changes for the atomic package, hopefully that's what you were looking for :)

[2017-10-01 09:28] StanczakDominik commented on #126
I don't think this worked, but I found a seemingly helpful snippet [here](https://github.com/rtfd/readthedocs.org/issues/2677):

    https://readthedocs.org/api/v2/webhook/github/plasmapy

And it appears you can trigger a rebuild using `curl`. Let's see if automatic rebuilds work the next time somebody merges or pushes to `master`.

[2017-10-02 22:08] namurphy opened #131 "Add eV_temp unit in astropy.units"
A common convention in plasma physics is to use the electron-volt (eV) as a unit of temperature.  Strictly speaking, the eV is not a unit of temperature but is rather a measure of the typical thermal energy per particle (using the relation E = k_B * T).  The duality of eV as a unit of temperature and energy complicates the usage of units.

At present, several functions in `parameters.py` permit eV

[2017-10-03 00:28] namurphy commented on #48
This was resolved in: https://github.com/PlasmaPy/PlasmaPy/pull/122

The original title of this issue (to allow ions to be represented as a tuple) did not get implemented since something like `('H', 1)` would leave it ambiguous about whether the `1` meant the charge state or the isotope.  The `Species` class is an improvement over this idea.

[2017-10-03 00:28] #48 closed

[2017-10-03 05:15] StanczakDominik commented on #131
In an ideal world 3 would be optimal, but the convention seems so prevalent that I think we have to consider alienating the users, which we - bear in mind - don't have yet. Taking this into account I'll have to go with option 1 for now, but I'm open to being convinced otherwise!

I guess what I'm trying to say is.... It seems all right to set out to improve the world of plasma science one formula

[2017-10-03 09:04] StanczakDominik opened #133 "Check consistency of argument ordering in physics"
Here are a few example signatures straight from `physics.transport`:

[code]
It would be nice to ensure that non-keyword arguments, where applicable, have the same ordering - like in other scientific packages, like Numpy, a consistent API is helpful for being able to call multiple functions without having to check the signature each time you call them.

Any consistent ordering would be welcome - b

[2017-10-03 09:09] StanczakDominik opened #134 "Add bindings to functions from `physics` or `atomic` in `Plasma` and `Species` classes"
Eventually we'd probably like to be able to define a plasma, run some simulations on it or whatever, then do `plasma.Alfven_speed()` instead of having to go through `physics.Alfven_speed(plasma.B, plasma.rho)`.

This is pretty far off as `Plasma` and `Species` are still crystallizing, but I wanted to note it down for later.

[2017-10-03 09:13] StanczakDominik opened #135 "Check whether we need to update our doctests on every Astropy.constants update"
With #129 in the works and given that

* we have a bunch of functions using those values and numerically they do change
* our doctests check for exact results without going through anything like `np.isclose`

we might be setting ourselves up for some future work and bugs. I'm not sure what the best solution would be here.

[2017-10-03 09:18] StanczakDominik opened #136 "Implement Sympy expressions for `physics` functions?"
Here's an idea - given that we have a bunch of functions already done, perhaps there may be a smart way of implementing versions of those for symbolic manipulation using [SymPy](https://github.com/sympy/sympy/) ? We could have a submodule for this.

This could also go into SymPy upstream, where [searching for plasma related code](https://github.com/sympy/sympy/search?utf8=%E2%9C%93&q=plasma&type=)

[2017-10-03 10:07] StanczakDominik opened #137 "Reimplement `Plasma` numerical solvers via Numba for potential speed increases"
Given we had a speed problem with the solvers in `Plasma`, here's an idea. How about implementing [numba](https://numba.pydata.org/) versions of those? That might speed things up, especially given that there's this little thing called `numba.cuda` we might also be able to leverage... but I suppose going with straight numba first would make debugging any possible cuda version easier later on.

[2017-10-03 10:10] StanczakDominik commented on #126
Well... I might have broken it. http://plasmapy.readthedocs.io/en/docs/ seems to be down right now, but http://plasmapy.readthedocs.io/en/master/ is up and so is http://plasmapy.readthedocs.io/en/latest/.

[2017-10-03 13:15] antoinelpp commented on #131
I was getting into this question while dev: I myself are not consistant ! :/
Offering a conversion function can be very usefull, for us and also as a tool of the library.

Either we force every temperature to be in Kelvin in the argument, or we look at every temperature arguments and if it is in eV, we change it to K, which would be redondant and slow.

Hence, 3 for me.

[2017-10-03 13:23] #133 closed

[2017-10-03 14:12] namurphy commented on #136
I really like this idea!  I had been wondering if we could use SymPy as part of an analytic dispersion solver.

[2017-10-03 15:47] RoberTnf commented on #135
Maybe hardcode the constants that are susceptible of changing in the tests?

[2017-10-03 16:32] RoberTnf commented on #106
@namurphy

Wouldn't it be better to keep it in one function and add a parameter method which would take values, "rms", "most_probable" and maybe "mean_magnitude", defaulting to "rms", as per https://en.wikipedia.org/wiki/Thermal_velocity?

[2017-10-03 16:55] namurphy commented on #106
Yes, that sounds like a really good way to do it.  Thank you!

[2017-10-04 04:18] #128 closed

[2017-10-04 05:10] StanczakDominik commented on #99
Actually, you know what I just remembered? Deep down in my list of repositories I have a script that, while pretty crude and brutish, does this very thing. I'll work on adapting it!

[2017-10-04 10:36] jessicalostinspace commented on #106
Is anyone currently working on this? What is the easiest way to see if there is progress on the ticket?

[2017-10-04 10:38] StanczakDominik commented on #106
Hey @jessicalostinspace, @RoberTnf is already making good progress on this one. In fact, it's referenced above @namurphy's post from pull request #140.

[2017-10-04 11:21] jessicalostinspace commented on #110
Is there any reason why the input is a string that is being parsed through here? Further development would be much more convenient if the function took in two lists: reactants and products (e.g. nuclear_reaction_energy("D + T --> alpha + n") would become nuclear_reaction_energy(reactants=[D, T], products=[alpha, n]). That way, if you were checking against a database of reactants to products to aut

[2017-10-04 12:15] jessicalostinspace commented on #110
Also, I'm not an expert on this BY ANY MEANS but as far as the initial temperature you mentioned in the description - is that the ignition temperature? If so, shouldn't it default to that temperature depending on the reaction? I haven't taken a physics class in years but was reading more into this to tackle this issue: https://www.ems.psu.edu/~radovic/Chapter14.pdf

[2017-10-04 14:46] RoberTnf commented on #45
I will start working on this!

[2017-10-04 14:56] namurphy commented on #110
@jessicalostinspace - This is a great idea!  You're right that we should have this be able to take a list of reactants and a list of products.  I put this as a string to maximize readability, but I was operating under the (incorrect!) assumption that people would only care about two or three reactions at a time.  This does ignore nucleosynthesis in massive stars and supernovae which have to deal w

[2017-10-04 15:18] namurphy commented on #110
Oof, it took me a few minutes to figure out [how to add an image](https://guides.github.com/features/mastering-markdown/) in one of these comments!

![Fusion reactivity as functions of temperature for D-T, D-D, and D-He3+.  The reactivity for each reaction increases with temperature until it reaches a maximum and then gradually declines.  Licensed under CC BY 2.5 under the associated link.](https:

[2017-10-04 21:38] jessicalostinspace commented on #110
@namurphy would you suggest opening up a ticket for the refactor? or just branching off on this ticket? It should probably be refactored before implementing the logic for reaction rates, etc. They should also be in two different PR's. There won't really be a need to parse a string so a lot of that code can be cleaned up and more succinct. Thank you for your feedback :)

[2017-10-06 00:04] namurphy commented on #45
Closed by https://github.com/PlasmaPy/plasmapy.github.io/pull/1.

- Our website repository is: https://github.com/PlasmaPy/plasmapy.github.io which is the place for all future website issues to be brought up (besides documentation on readthedocs which is still in this repository)
- Our website is: http://www.plasmapy.com/ but I don't think we should advertise it just yet!

Thank you, @RoberTnf!

[2017-10-06 00:04] #45 closed

[2017-10-06 07:38] jhillairet commented on #45
I think you meant http://www.plasmapy.org (instead of .com)

[2017-10-10 17:02] namurphy commented on #110
Branching off this ticket sounds fine to me, and I agree that two separate PRs are needed.

I'm wondering if we should require that `reactants` and `products` be keyword-only arguments.  That would require that resulting code be more clear and explicit, but perhaps it's not necessary since maybe it would be common sense that reactants would go first in a call like  `nuclear_reaction_energy(['Be-8'

[2017-10-13 22:55] namurphy opened #144 "Archive version 0.1.1 on Zenodo and get a DOI"
There is a partnership between [Zenodo](https://zenodo.org/) and GitHub that allows Zenodo to archive releases and [make code citable](https://guides.github.com/activities/citable-code/).  Zenodo can then mint a digital object identifier (DOI) that would make that version of PlasmaPy citable.  We can also get a persistent doi that would alway refers to the most recent version.  We should make arch

[2017-10-13 22:58] namurphy commented on #144
I attempted to link PlasmaPy to Zenodo.  However, I could only get Zenodo to list my repositories and not the PlasmaPy organization's repositories even after I temporarily enabled third-party access like I was supposed to.

[2017-10-18 04:00] colbych commented on #131
I have been working recently on trying to do calculations based off of published observations. Most of my energy has been spent trying to calculate thermal speeds from temperatures reported in eV (Almost every reconnection observation!).

I get all of the points and from design structure I agree that 3 would be the way to go, but from a user perspective it would be great to be able to enter eV as

[2017-10-18 20:47] #111 closed

[2017-10-18 22:47] Cadair commented on #131
Is there a unit equivalency in astropy to allow this conversion? You could work on an API where the user has to explicitly provide the equivalency to say "treat eV as convertible to K"

[2017-10-18 23:05] namurphy commented on #131
Yep, I've used that equivalency a lot.  It is: `astropy.units.temperature_energy`.  What @Cadair said can be option 4. 😸

Looks like `astropy.units.set_enabled_equivalencies()` can do this already:
[code]

[2017-10-19 06:08] StanczakDominik opened #146 "Turn docstrings into raw strings"
As seen in #145, it turns out you need to use raw strings (`"this is not a raw string", r"but this is because of the prepended r"`) for docstrings if you want to have LaTeX formulas rendering properly via Sphinx. We could probably use some help with this one - basically, this means going through all the files with some clever regex substitution or something.

[2017-10-19 06:24] StanczakDominik commented on #131
So in essence, a short wrapper, say,

    def some_easily_memorable_name():
        u.set_enabled_equivalencies(u.temperature_energy())

And then we could have this located in `plasmapy` itself for ease of access? Does that make sense?

[2017-10-19 07:52] raajitr commented on #146
Hi, I would like to take this.
Do we have to convert docstrings of all the py files to raw string or only those which have backslash in them?

[2017-10-19 16:17] StanczakDominik commented on #146
Heey @raajitr, thanks for offering to deal with this one!

Converting docstrings with LaTeX formulas (and thus backslashes) in them would be enough and much appreciated, we can try to remember to turn the others into raw strings. Converting them all in one sweep would be awesome though, as most of our docs will probably include formulas sooner or later!

[2017-10-19 17:07] golanor commented on #100
Hacktoberfest TLV
Shotgun.
Now that the mandatory announcement is over - I'll start by adding the infinite wire case.

[2017-10-19 21:03] #146 closed

[2017-10-25 03:19] AaruranE commented on #137
Hi, I'm going to start working on this issue.

[2017-10-25 05:10] StanczakDominik commented on #137
Hey, awesome! This is definitely not one of the simpler ones, I'm really
looking forward to seeing what you end up coming up with!

I believe the most recent version of the plasma simulation capability is
#33. It'd probably be best if you started working based on that one.

On Oct 25, 2017 05:19, "Aaruran" <notifications@github.com> wrote:

[2017-10-25 17:15] RoberTnf commented on #106
This issue should be closed, right?

[2017-10-25 17:17] StanczakDominik commented on #106
Indeed!

[2017-10-25 17:17] #106 closed

[2017-10-29 09:27] lemmatum opened #150 "Migrate tests to using unittest module?"
I think it'd be better to use a proper unit testing module like the built-in unittest, rather than using asserts with no feedback on tests passed. I have some familiarity with this module and could readily write some example tests that you can then build off of.

Thoughts?

[2017-10-29 09:36] lemmatum commented on #137
Could also try converting some lower-level, frequently-used functions to Cython. This is what a lot of packages like scipy, numpy, numba, etc. use under the hood. Cython removes all the overhead associated with figuring out input/output types at runtime by using static typing and using compiled code. Cython plays nicely with Python and doesn't have the GIL (global interpreter lock) so you can more

[2017-10-29 10:14] lemmatum commented on #74
My focus is mostly on experiments in high energy density plasmas (though I do some theory), and most of my tasks involve processing raw data into some usable format (e.g. applying calibrations) and then doing some plasma physics analysis with that processed data (e.g. fit simulations, take line ratios to get temperature, run processed data through an inverse model for the diagnostic to get plasma

[2017-10-29 10:23] lemmatum opened #151 "Improve CONTRIBUTING.md documentation"
This is mostly a note to myself to add the notes I've taken on this process to the documentation. Things to include:
* How to setup virtualenv
  * export LD_LIBRARY_PATH when setting up virtualenv on Linux
  * No spaces allowed in path names
  * How to activate virtualenv
  * Installation of plasmapy dependencies in virtualenv
  * `python setup.py develop` command
* How to test/run newly written f

[2017-10-29 10:32] lemmatum commented on #87
What about HDF5? We can use PyTables, Pandas, and [h5py](http://www.h5py.org/) to handle HDF5 files in different ways (with different learning curves). There is already archiving and compression functionality built-in. It's cross-platform, highly-highly-optimized, and language agnostic. This latter point would be important for converting to other formats like CDF.

[2017-10-29 11:29] lemmatum commented on #131
If you are going to be using just Kelvins I think you'll be pandering mainly to cold plasma people. In HEDP you have to use eV; it becomes absurd when you're talking about 2 MegaKelvins temperatures. I vote for allowing eV as a temperature input and just converting it into Kelvins.

I did some quick testing with timeit and it looks like the timing difference between a function with conversion and

[2017-10-29 13:21] StanczakDominik commented on #150
I don't think that's a flaw in pytest - astropy and matplotlib both use it, so I don't think it's necessary to switch to unittest (I'd be happy to be convinced otherwise, though!) I do think it's likely that our tests can be badly written! Can you point out some of the worse ones?

Perhaps instead of doing tests like this:

    assert result == 42

it would be enough to pay attention to write them

[2017-10-29 15:51] AaruranE commented on #137
That's a good idea, I'll definitely use some Cython to investigate some speed improvements.

[2017-10-29 23:33] lemmatum commented on #150
There are a few issues with assert. One big one is not being able to continue the testing after failure of an assert statement. Modules like pyTest and unittest will crank through all the tests and tell you how many successes, how many failures and where.
There are other advantages to modules like pyTest and unittest, such as being able to setup and teardown tests (very useful for testing classes/

[2017-10-29 23:37] lemmatum commented on #150
btw, this ties into the whole `if __name__ == "__main__":` issue, which is that using these modules (e.g. pyTest), when you run a test script directly they'll tell you the successes and failures within that test script. At the moment the test scripts are just a bunch of functions that don't get run (at least in test_quantum.py).

[2017-10-29 23:49] lemmatum commented on #150
I think this and the `if __name__ == "__main__":` issues are mainly my ignorance of how pyTest works. With unittest you run the module directly using `python test_quantum.py`, whereas with pyTest you call `pyTest` instead. So yea, I agree pyTest is good, just need to cleanup and add more informative messages when tests fail.

[2017-10-30 04:30] SaravananOffl commented on #100
I can work on this!
@namurphy you can assign it to me

[2017-10-30 07:01] lemmatum commented on #86
Here is some stuff that would be useful for me in high energy density physics:
* Dielectric susceptibilities as a function of plasma parameters, wavevector and frequency
  * Random phase approximation using Maxwellian distribution function
  * same as above but for a magnetized plasma
* Dimensionless parameters
  * Single function to run over a Plasma object that returns what regimes the plasma is

[2017-10-30 07:08] StanczakDominik commented on #150
Did you remove a bunch of your posts in this discussion? I had email notifications for them and can't find them here right now :smile:

I do think we need to clean up our testing process and documentation, it's pretty darn opaque at the moment. I'll try to get on that ASAP.

There was also, I believe, a good point you raised about tests within a function  stopping at an assertion and not running t

[2017-10-30 07:09] lemmatum commented on #35
There are a few different ways to calculate the Coulomb logarithm in addition to the ones already listed. Gericke and Murillo's PRE (2002) list 6 different ways to obtain this value for dense plasmas. Might be handy to include these

[2017-10-30 07:41] lemmatum commented on #49
Some other ones:
* Knudsen number
* Degeneracy parameter (theta = thermal kinetic energy / Fermi energy)
* coupling parameter ( Gamma = Coulomb potential between two particles / thermal kinetic energy)

Also it would be cool to have a Plasma object where one defines the temperature, density etc, and then call a method on the object which then calculates all the dimensionless parameters and let's y

[2017-10-30 07:53] StanczakDominik commented on #49
Yeah, we were thinking about having a `PlasmaBlob` object that would include those quantities without bothering with spatial data. That'd fit that.

[2017-10-30 07:58] lemmatum commented on #150
Mistakes were made! I didn't fully appreciate the power of pyTest 😄

Might be valuable to add how to setup and run tests via pyTest under the contributing doc #151

Looks like I can stumble upon good points sometimes, even when confused!
I quite like the Riemann example you gave. So for the tests we currently have written, do you think the solution is to split them up into a bunch of tiny function

[2017-10-30 08:11] StanczakDominik commented on #150
Sure, there probably is. I'll have to dig deeper into them pytest docs and look into that!

[2017-10-30 12:07] Cadair commented on #150
You can have tests in classes with pytest, but personally I do not like that, using pytest fixtures and a bunch of functions is generally enough. Too much setup and tear-down code can lead to trouble.

In general (having just had a *quick* scroll through) you do need to split up the tests in to lots of little ones. Also worth knowing how to use is [pytest parametrize](https://docs.pytest.org/en/la

[2017-10-30 12:21] Cadair commented on #87
Also, just for the record here, someone is working on a pure-python implementation of a CDF package: https://github.com/MAVENSDC/cdflib

I believe it is currently read only.

[2017-10-30 12:26] Cadair commented on #131
I disagree with this on principal (sticking a `u.MK` is only one character more than `u.K` and infact the same as `u.eV` :wink:), but I appreciate the general point about conventions in different areas.

My opinion is that if you wish to do anything with units other than follow the SI units then you should have to be explicit about it.

[2017-10-30 17:20] namurphy commented on #131
Based on everything that people have said, my vote has changed to requiring that the equivalency between eV and K be made explicit, while also making it as easy as possible to set that equivalency.  That seems like a fair compromise to me that could prevent some unanticipated behavior with unit conversions while also allowing people to use eV if that is their preference.

I've noticed that in sola

[2017-10-30 17:34] namurphy commented on #35
Thank you!  I was just talking with someone at the APS DPP meeting last week about how to generalize the Coulomb logarithm, so I think it would be great if we could add more flexibility for people who study strongly coupled plasmas.

The full reference is: [Dense plasma temperature equilibration in the binary collision approximation](https://link.aps.org/doi/10.1103/PhysRevE.65.036418) by Gericke,

[2017-10-31 01:10] lemmatum commented on #131
So I'm still not sure what the problem is with using eV for temperatures.... Sure it's an energy unit, but does this conflict with some sort of type checking? Is there some issue I'm unaware of with using `T_e = T_e.to(units.K, equivalencies=units.temperature_energy())` within the function body?

As mentioned previously, I've not seen significant speed changes by adding this check/conversion. Here

[2017-10-31 03:57] bla1089 commented on #87
I know of several people working on a pure python CDF library. It seems
like there are a lot of people duplicating this work. Perhaps it's best to
stay away from this one.

Ben

---------------------
B. L. Alterman
Candidate, Applied Physics
Solar and Heliospheric Research Group
Climate and Space Sciences and Engineering
University of Michigan
balterma@umich.edu

On Mon, Oct 30, 2017 at 8:21 AM, S

[2017-10-31 05:22] lemmatum commented on #35
No problem! I definitely have vested interest in seeing this happen as I've worked with warm dense plasmas where classical Coulomb logarithm becomes negative and explodes! 🤣

[2017-10-31 07:40] Cadair commented on #87
Do you have links to the others? Perhaps we should get them talking? This one is being written by someone I know at GSFC.

[2017-10-31 13:21] bla1089 commented on #87
I not worth it. I know the people working on several. It's one of those
things that's just going to happen and settle out in time.

On Oct 31, 2017 03:40, "Stuart Mumford" <notifications@github.com> wrote:

[2017-10-31 16:45] StanczakDominik commented on #126
I believe this is solved in #153, so I'm going to close this.

[2017-10-31 16:45] #126 closed

[2017-10-31 17:23] namurphy opened #154 "Expand Coulomb logarithm functionality"
The `Coulomb_logarithm` function in [`transport.py`](https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/physics/transport.py) presently uses a classical approach for calculating this quantity.  The outer impact parameter in the derivation is the Debye length, and the inner impact parameter is the larger of either the de Broglie wavelength or the impact parameter corresponding to a deflectio

[2017-10-31 17:51] namurphy opened #155 "Fix math in docstrings so that it shows up correctly on Read the Docs"
Several mathematical expressions were included in docstrings before we had completely set up the [PlasmaPy Read the Docs page](http://plasmapy.readthedocs.io/en/latest/).  Some of these untested docstrings are rendering incorrectly on the documentation page.  We will need to go through and change the docstrings so that they do show up correctly.  The following pages look like they require fixes:

[2017-10-31 19:05] StanczakDominik commented on #150
I'm going to close this for now, but if there's anything more to discuss here I'll gladly reopen it!

[2017-10-31 19:05] #150 closed

[2017-10-31 19:15] StanczakDominik commented on #131
I'm not 100% sure it plays well with the strict physical unit input settings we're toying with implementing here via `astropy.units.quantity_input`. I'll check. later.

The current thinking is that we'll go with a thin wrapper to the `units.temperature_energy()` so it can be enabled in scripts like this, running it like this at the beginning of a script (if that's at all possible with astropy):

[2017-10-31 19:25] StanczakDominik commented on #82
There's a MOOC on edX on FEniCS I'm looking to participate in. I'll see how hard it would be to get something working with that.

[2017-10-31 19:42] StanczakDominik opened #156 "PlasmaBlob class"
This was mentioned by @lemmatum in #86, or at least that reminded me of the idea.

The current Plasma class is inherently a spatial object. That might be too much information for some analyses.

How about a single Plasma object that takes a bunch of parameters (this would require specifying a sufficiently minimal set of parameters, like temperature, density, maybe having multiple ways to specify t

[2017-10-31 21:00] Cadair commented on #82
fwiw, I met a FEniCS person recently, it looks very cool and is also a NumFOCUS project.

[2017-10-31 22:05] jasperbeckers commented on #155
I'll tackle this, seems like a good opportunity to get my GitHub set up correctly and get familiar with the code. Is there any way to build and view the Docs locally?

[2017-11-01 01:01] lemmatum commented on #156
I think it should relatively easy to create the class and then add methods to the class for each important dimensionless parameter which tests the plasma regime. Then there could be one method which just calls all these other methods and prints a report. There would essentially be a print statement for each parameter that returns the value obtained and what this means for the regime of the plasma.

[2017-11-01 05:07] jasperbeckers opened #158 "Adding Langmuir probe data analysis"
The current direction of PlasmaPy seems to be mostly theoretical/computational. I think it would be good to cater to experimentalists too, for example by providing data analysis functionality. There have been previous discussions about this (eg. https://github.com/PlasmaPy/PlasmaPy/issues/86) but I don't know if those ever went anywhere.

In any case, I'd like to begin implementing some basic Lang

[2017-11-01 05:17] StanczakDominik commented on #158
* agreed 100%
* Pandas is neat for experimental data and it's probably as close as python
comes to a standard on that, does it make sense to accept dataframes and
have the function logic separate the columns as need be?
* How about uncertainties? The first version probably doesn't need to
include them but it'd be nice to have
* I'd love to have some sample data and expected parameters for that, it

[2017-11-01 05:23] lemmatum commented on #158
I've got a code for triple Langmuir probe analysis in the "current-mode" as opposed to the more common "voltage-mode" that I could eventually clean up and contribute.

[2017-11-01 07:54] jasperbeckers commented on #158
@StanczakDominik
* I am not very familiar with pandas, but I think I get what you're saying. It sounds like it would help clearing up the data handling a bit, but at the cost of having to include an entirely new module and requiring users to deliver their data in a format they might not know.
* Uncertainties are highly important academically and should definitely be included at some point, where p

[2017-11-01 08:00] StanczakDominik commented on #158
Pandas ships with Anaconda and is basically the bread to python data science's butter, adding it as a dependency wouldn't hurt much. The main functionality could be independent of pandas and we could then find some way of adding that, maybe via a wrapper to that main functionality.

Sure, I was thinking about that as well. So we'd end up having `plasmapy.experiment.langmuir` or some such path. See

[2017-11-01 08:06] jasperbeckers commented on #158
@StanczakDominik I agree with all you said. As a start I'll try to find some Langmuir V-I traces and make a rough outline of what the submodule could look like.

[2017-11-01 08:07] StanczakDominik commented on #158
Awesome! Looking forward to that!

[2017-11-01 08:48] lemmatum commented on #158
Might I suggest `plasmapy.diagnostics.langmuir` instead? I think splitting between experiment and theory/simulation is not so clear as those are intimately tied together. For example, is spectroscopy experimental or simulation? You often need simulations to extract plasma parameters from a measured spectrum.

[Here](http://ieeexplore.ieee.org/abstract/document/1347276/?reload=true) is the paper I

[2017-11-01 08:59] StanczakDominik commented on #158
Sure, calling the subpackage diagnostics makes sense.

I can't dig into the paper just now, but it seems reasonable to include
both voltage and current modes. Given you guys seem more knowledgeable
about this kind of diagnostics, could I ask you two to collaborate on this,
especially when it comes to code review? I can help with the Python side of
things, but I lack the experience to easily say wh

[2017-11-01 09:04] lemmatum opened #159 "Journal publications on plasmaPy"
This project is quite wide in scope with many modules that have and will involve a lot of work. Are there any plans for publishing this stuff? To me, it would be cool if there was an over-arching plasmapy article and then separate articles describing the functionality of some of the more complex modules.
One place to consider publishing is the [Journal of Open Research Software](https://openresear

[2017-11-01 09:07] lemmatum commented on #158
Sure! Just ping me when the initial module gets setup and I can contribute my code to it and review code that @jasperbeckers  and others contribute.

[2017-11-01 14:35] jasperbeckers commented on #158
@StanczakDominik @lemmatum Sounds like a plan. I'll make a fork for us to work on and try to find some known V-I curves for the simplest single probe case (I am most familiar with that one).

[2017-11-01 16:58] namurphy commented on #159
I completely agree!  I have personally been wondering if version 0.2 would be a good time to publish an article that describes the overall project.  I heard a lot about the [Journal of Open Source Software](http://joss.theoj.org/) at SciPy 2017, which is another possibility.  Physics of Plasmas also allows open access publications for a higher publication fee, which might be worth it since it woul

[2017-11-02 04:43] #155 closed

[2017-11-02 04:45] StanczakDominik commented on #155
If this kind of bug pops up anywhere else, it's probably best to reopen this issue rather than start a new one :)

[2017-11-02 11:50] lemmatum commented on #158
@StanczakDominik would it be reasonable to start a "diagnostics" project over in the projects tab? I have no idea how this functionality works. I assume it's an admin thing?

[2017-11-02 11:54] StanczakDominik commented on #158
Sure, it would be. Already done :) By the way, I went ahead and figured out how to let @PlasmaPy/plasmapy-diagnostics notify you guys!

[2017-11-02 12:08] lemmatum commented on #159
Are there any particular physics milestones for v0.2 which you would want to include in a plasmapy paper? (both milestones which currently exist and ones you can think of which would look good in a publication)
Those are all great links! I shall look to them for inspiration for my own projects as well! 😃

[2017-11-02 12:11] lemmatum commented on #158
Dziękuje!

[2017-11-02 12:58] lemmatum commented on #86
So we now have a diagnostics project in the projects tab. We can open up a bunch of issues for stuff we want to implement and dump it into the "To Do" list.

[2017-11-02 13:00] lemmatum opened #162 "Add useful spectroscopic functions"
- [ ] Planckian function
- [ ] Bremsstrahlung estimator
- [ ] Saha-Boltzmann function
- [ ] Bragg diffraction function
- [ ] Grating diffraction function
- [ ] Spectral line LTE test functions
- [ ] profiles (e.g. Voigt, Lorentzian, Gaussian)

[2017-11-02 13:11] lemmatum opened #163 "Flag to ignore units"
Just having gone through this with `scipy.integrate.tplquad` for integrating over distribution functions, it might be handy to implement a similar flag for all functions where we wish to ignore the checking and converting of units in certain cases. This would, in effect, be an optimization flag for speeding up code that doesn't play well with all the unit calls.

Opinions?

[2017-11-02 13:49] lemmatum commented on #23
Would this be a good candidate for inheritance? In other words, make a uniform plasma class (which would have general utility for things like calculating plasma regimes) and then make an array/grid class which inherits the uniform plasma class for each cell (for simulations and stuff). You could probably tweak the inheritance of the latter class to allow for Cartesian, spherical, cylindrical, Klei

[2017-11-02 14:00] lemmatum commented on #42
It'd be important to list the different types of relativistic effects we want to account for. For example
* relativistic velocities
* relativistic transparency effects for EM waves
* relativistic intensities driving pair production
* Energy transfers large enough to perturb the rest mass of an electron (i.e., x-ray scattering)
* Thermal/kinetic energy on the order of electron rest mass

[2017-11-02 14:05] lemmatum opened #164 "Functions for x-ray matter interactions"
I'm thinking something like a web interface for pulling down filter transmissions from Henke's [site](http://henke.lbl.gov/optical_constants/). Or get our hands on the data/functions and implement the calculations ourselves.

[2017-11-02 14:10] lemmatum commented on #163
Relates to #59

[2017-11-02 17:24] smithsp commented on #23
@lemmatum My impression is that having each cell in an array/grid class be its own instance of the uniform plasma class would not be computationally efficient.  Compare numpy array efficiency to looping over each element of the array.  But maybe one could construct the arrays from the cells before doing any math on them.

[2017-11-02 17:49] namurphy commented on #162
Yes, we definitely need spectroscopic analysis capabilities!    All of the functions you are suggesting would be very helpful.

In the long run, I'm wondering how much we could partner with Astropy and SunPy since spectroscopy is important for these fields as well as laboratory plasma physics.  It would be great if all three of our packages could have a shared spectroscopy framework.

Cross-refere

[2017-11-02 21:36] lemmatum commented on #162
Yea, I was thinking about that as well, since spectroscopy is so rich with content. So far I haven't seen a broad spectroscopy package that integrates multiple databases, queries NIST, has functions useful for experimentalists, etc.

What do you think makes most sense?
* Start an independent spectroscopy package
* Start by writing spectroscopy functions in plasmapy and then split it off into its o

[2017-11-02 23:12] jasperbeckers commented on #158
@StanczakDominik @lemmatum Please see https://github.com/jasperbeckers/PlasmaPy/commit/4508c96d64e78ae4c639ebeb6b56bf3237b995f6 for the initial commit of `plasmapy.diagnostics.langmuir`! The file outline consists of the class Probe to capture the electrode area(s) and configuration, and functions to obtain the plasma parameters, EEDF and EEPF. Thoughts?

I haven't been able to find example data wi

[2017-11-03 02:43] lemmatum commented on #23
Sure, but if the objects are identical, you can make method for converting the parameters contained in an array of objects into a simple numpy array of the parameter. That would give you the options for dealing with objects for certain tests while dealing with arrays for intensive computation. Might even help with coordinate transformations.

[2017-11-03 05:39] StanczakDominik commented on #23
I agree with @smithsp, it'd be really slow. As a list of cells. Numpy is the way to go here.

I'll add right here that I have little to no experience with non-uniform grids. There may be things I'm missing in relation to those.

However, suppose we did something like this.

    class PlasmaBlob: # or UniformPlasma
        def __init__(self, T, n):
            self.T = T
            self.n = n

[2017-11-03 05:45] StanczakDominik commented on #158
Sure, that's probably the best way to do it. That way we can all contribute to that. Another approach would be to get a pull request for the main repository going - there's an option for repository maintainers to be able to push their own code to a contributor's branch. I'm not sure if that works for you guys as team members though, so it might be best to just turn on collaborator access for this

[2017-11-03 05:48] StanczakDominik commented on #162
I'm just going to say that the name SpectroscoPy pretty much writes itself.

[2017-11-03 05:56] StanczakDominik commented on #163
Those performance issues are exactly what I was afraid of when I was initially looking into the units package...

I'm not sure this needs to be optional. There's going to be code where units are an issue
(like your `tplquad` integration case), and then there's going to be code where adding units doesn't matter much - most of `physics.parameters` comes to mind. There's not much point in having a fl

[2017-11-03 05:59] smithsp commented on #23
Not sure if you've been down this path, but we have started using `xarray` a lot, and perhaps PlasmaBlob could inherit from `xarray.Dataset`, and then the quantities it stores would be `xarray.DataArrays`, which have dimensions, and the coordinate system could be enforced by the dimensions, with the naming standard enforced by the class.

[2017-11-03 06:03] StanczakDominik commented on #23
And that sounds like the solution, basically! If that's a framework that's general enough to deal with non-uniform (and if I'm getting your meaning correctly, also non-cartesian?) grids, I'm all for it. I'll have to start looking into `xarray`.

[2017-11-03 06:22] smithsp commented on #23
http://xarray.pydata.org/en/stable/examples/multidimensional-coords.html indicates the coordinates can be separate from the dimensions, supporting non-uniform grids.  However, they have chosen to not tackle unit propagation: http://xarray.pydata.org/en/stable/faq.html?highlight=units#what-is-your-approach-to-metadata

[2017-11-03 06:37] smithsp commented on #23
Of course, it appears that this discussion was already had at https://github.com/PlasmaPy/PlasmaPy/issues/59

[2017-11-03 08:47] lemmatum commented on #158
I'd say pull it into upstream so I can start contributing my own stuff as well 😛

[2017-11-03 08:48] lemmatum commented on #162
@StanczakDominik perfect name! I will have to setup this project in the near future!

[2017-11-03 08:54] lemmatum commented on #163
In some cases, like tplquad, it won't work because the inputs and outputs have to be unitless. So you just end up with an entirely unitless function. Also, I don't know how much dropping units within the function saves you on time. My guess is that this will heavily depend on what this function is being used for. If you're running something which is essentially a thin-wrapper over some highly effi

[2017-11-03 16:58] namurphy commented on #162
There are a couple of existing packages/subpackages that are worth looking into as well:
 - https://github.com/astropy/specutils
 - http://docs.sunpy.org/en/stable/code_ref/spectra.html

@StanczakDominik - Great name!  At one point I had hoped that Astropy could be renamed as "Py in the Sky".

[2017-11-03 17:10] namurphy commented on #162
@wtbarnes has started working on [fiasco](https://github.com/wtbarnes/fiasco) which would be a Python interface for the CHIANTI atomic database in the Astropy/SunPy ecosystem.  [ChiantiPy](https://github.com/chianti-atomic/ChiantiPy) also acts as an interface.  There's also [pyatomdb](http://atomdb.readthedocs.io/en/master/) which is an interface with AtomDB.  These databases are used pretty widel

[2017-11-03 17:12] lemmatum commented on #162
I saw you mention those in another issue. Unfortunately I don't think they support optically thick plasmas. :stuck_out_tongue:
It'd be cool to have some opacity codes.

[2017-11-03 17:21] namurphy commented on #162
Agreed.  Codes that deal with opacities and radiative transfer would be phenomenal, and even radiation hydrodynamics which comes up all the time in plasma astrophysics.  We still have to figure out how to deal with all of the ridiculous amounts of atomic data that we need for all of this though...  😿

[2017-11-03 17:26] wtbarnes commented on #164
I think [this package](https://github.com/ehsteve/roentgen) from @ehsteve is probably relevant. Not a web interface, but an API for x-ray interactions with matter.

[2017-11-03 17:36] wtbarnes commented on #162
While most of the common *calculations* done in CHIANTI would not be valid in the optically thick regime, It is possible that some of the *data* in CHIANTI (and AtomDB?) could still be used to do radiative transfer calculations. One would need to be careful about making sure there are no optically-thin assumptions leaking in.

[2017-11-03 17:38] lemmatum commented on #162
Probably just need to bite the bullet an and make an opacity table generator. It would have be tested against other tables, like SESAME, PROPACEOS, etc. All the ones I've seen are proprietary in one way or another.

I think most other atomic data can be obtained from NIST and any holes in NIST can be filled in with other tables or approximations (like with H-like atomic data). There is probably so

[2017-11-03 17:49] lemmatum commented on #162
BTW the matter in extreme conditions community has similar issues with equation of state tables being opaque. Last conference I was at, they mentioned how people cite tables but there is no unique identifier and therefore no way to know which version or subcomponent of a table people used. So we should take these issues into consideration if we use or generate these databases.

[2017-11-03 17:50] wtbarnes commented on #162
Is the NIST data easily accessible? I know they have a web portal, but from what I can tell there's no way to just download the whole database (or hit an API endpoint or whatever).

Because CHIANTI is distributed as a bunch of ASCII files, my approach has been to rebuild the entire database as an HDF5 file and then provide an API to this file. So far this has worked quite well.

I worry about havi

[2017-11-03 17:53] wtbarnes commented on #162
Yes this whole business of databases just being updated and old versions not being accessible or maintained is a big problem. The current state of CHIANTI is that no old versions of the database are supported by the current software and the old software is not really made available... From what @lemmatum has said, sounds like this problem is quite pervasive throughout the plasma community as well.

[2017-11-03 17:58] lemmatum commented on #162
Yea, there isn't an efficient interface to the NIST data like an API. But I do have some scripts for querying the data and then parsing it via HTTP. Astroquery has some functions for that as well. Also, I could just contact the guys over at NIST and ask them for a dump of the database files. They seemed willing to send me some smaller chunks in the past, like ionization data.

I agree! The importa

[2017-11-03 19:18] Cadair commented on #163
Dropping units is basically free. Converting units is obviously not. Stripping units and then putting them back will take some time but should not be as bad as some weird C layer side effects of having a ndarray subclass.

[2017-11-03 20:02] lemmatum commented on #158
@jasperbeckers what's the motivation for adding me to collaborate on your fork? Wouldn't it be better to just work on upstream directly?

[2017-11-03 20:04] jasperbeckers commented on #158
@lemmatum Oh, I thought that'd require me to add you. I'm not very familiar with how GitHub works yet.

[2017-11-03 21:03] lemmatum commented on #158
@jasperbeckers This [diagram](http://www.dalescott.net/wp-content/uploads/2012/09/centralized-github-4.png) might help. In this scheme PlasmaPy is "upstream", each of us contributors creates a fork of PlasmPy to our accounts, which we call "origin". We then clone from origin to our local machines (Alice, Bob, etc.). When a feature you want to add is ready, you push to origin on your account and th

[2017-11-03 21:07] lemmatum commented on #164
Looks potentially useful. Not much in the way of contributors though, eh?

[2017-11-03 21:16] lemmatum commented on #162
@StanczakDominik [spectroscopy](https://pypi.python.org/pypi/spectroscopy) is currently occupied on PyPI and unfortunately pip is case insensitive 😭 . What do you figure our odds are of getting the developer to rename their package? 😀

[2017-11-03 23:15] jasperbeckers commented on #158
@lemmatum Thanks for the explanation! But if I understand correctly I had to add you as collaborator to my `langmuir_analysis` branch for you to be able to add commits to the pull request? I guess what you mean is that we merge the pull request (with fixed function name) and continue development afterwards.

[2017-11-03 23:27] lemmatum commented on #158
@jasperbeckers Ah, I see what you're getting at, but I don't think that's the right way to git (though I may be wrong). I shouldn't be adding commits to your pull request. Whatever gets pulled doesn't have to be the final version of the code. Once an initial version of the diagnostics part of the code is built by you, you can do a pull request, we'll merge it upstream, and then I can work on it as

[2017-11-04 07:08] wtbarnes commented on #162
@lemmatum Re: interfacing with multiple databases, the calculations/derived quantities that people end up actually using from all of these databases are largely the same, e.g. ionization and recombination rates, level populations, etc.

I think a sensible approach would be to have a common high-level abstraction that the user interfaces with, e.g. `Ion` and `Element` classes, and then having datab

[2017-11-04 16:48] StanczakDominik commented on #158
I suppose either of those ways is fine. I for one wouldn't mind collaborating on a designated branch of Jasper's, but if you're more comfortable with working alternately via PRs on upstream, that's perfectly fine.

[2017-11-04 17:33] StanczakDominik commented on #23
@smithsp I actually forgot about that until you reminded me, sorry :( But yeah. That's quite the problem with us using xarray, if we're set on units as we seem to be. I'm not quite certain on what the best course of action is here.

[2017-11-05 09:26] lemmatum commented on #163
@Cadair on principle I agree with you, but has this been tested?

[2017-11-05 09:32] lemmatum commented on #162
@wtbarnes , yup! And then also need a way to identify particular energy levels... probably electron configuration + [term symbol](https://en.wikipedia.org/wiki/Term_symbol). It would also be useful to have aliases for common nomenclature like Ly-alpha, Li-gamma, etc.

[2017-11-05 09:35] StanczakDominik commented on #163
@Cadair wrote a good part of `astropy.units`, so I'd be willing to trust him on this one. :smile:

[2017-11-05 09:37] lemmatum commented on #163
fair play 😁 . I'm still going to plead ignorance and ask if this has been tested. Sometimes one finds surprises 😜

[2017-11-05 13:28] antoinelpp commented on #163
With a simple notebook, we can see that droping units for a simple multiplication can increase the performance by 2...

We could start with the framework sugjected by @StanczakDominik , and if the performence really is an issue add a flag...

There is the notebook:

[code]

[code]

    56.4 µs ± 1.01 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

[code]

    28.7 µs ± 165 ns per loop

[2017-11-05 17:31] Cadair commented on #163
This is wildly overstating the facts 😄 I contributed `u.quantity_input`.

My general feeling is some performance cost is worth units, but performance sensitive code should be unitless where appropriate. Just make sure to balance that with the maintenance burden of the extra complexity.

[2017-11-06 21:32] wtbarnes commented on #162
@lemmatum That's a great idea as well. In fiasco, I've implemented the ion and element abstractions that I mentioned (see [this notebook for a brief demo](https://gist.github.com/wtbarnes/1a9acc43381a33d016843c666150e8e9)) and I think it is a really nice way of interfacing with the data and is very intuitive. I hadn't thought too much about applying this same logic to the energy levels of an ion,

[2017-11-07 02:17] lemmatum commented on #162
@wtbarnes No I don't think PlasmaPy should support this functionality. I am planning on starting a separate spectroscopy project which people from various projects who might find this useful(e.g. PlasmaPy, AstroPy, SunPy) could contribute to.
In that project I would like to have this abstraction layer describing electron configurations and then transitions which emit/absorb photons could be descri

[2017-11-07 17:48] wtbarnes commented on #162
@lemmatum It seems well-suited for its own package.

What you're describing sounds a lot like what I am aiming to do with fiasco though of course my use case is currently limited to (optically thin) CHIANTI data. However, I think the approach I've taken could be easily generalized to other databases and to more involved calculations needed for radiative transfer.

[2017-11-07 18:56] lemmatum commented on #162
Thoughts on how to coordinate to minimize reproduced effort?

[2017-11-07 19:12] namurphy commented on #162
@wtbarnes, @lemmatum - This is a fantastic conversation!  My suggestion would be to create an affiliated package within one of the Astropy, SunPy, or PlasmaPy frameworks.  That way you wouldn't have to completely build new organizational infrastructure (which is a huge amount of work, we're discovering).  I personally would be happy for us to create an atomic data/spectroscopy package within the [

[2017-11-07 23:29] antoinelpp commented on #162
Hi everyone !
I'm not so into spectroscopy, but I ask my colegues, and they told me about another package of spectroscopy functions : https://bitbucket.org/OES_muni/massiveoes

I hope it can help you.

[2017-11-08 01:40] lemmatum commented on #162
@namurphy , I've created the new project under the PlasmaPy organization as per your suggestion https://github.com/PlasmaPy/SpectroscoPy

I've got a decent idea of how I want to begin structuring the project so I'll initiate some pulls to give it a directory structure. Otherwise feel free to make edits, open issues, etc.

[2017-11-08 01:47] namurphy commented on #162
Cool!  One possibility would be to use or look into [Astropy's package template](https://github.com/astropy/package-template) as a place to get started.

[2017-11-08 03:21] lemmatum commented on #162
@namurphy I've initialized the project using a combination of astropy template package and PlasmaPy's files. It seems to run setup.py without issues. Take a look!

[2017-11-08 05:33] lemmatum commented on #162
I'm closing this issue as it should now be handled by [SpectroscoPy](https://github.com/PlasmaPy/SpectroscoPy). If you guys want to discuss further I recommend adding to one of the already created issues or generating a new one.

[2017-11-08 05:33] #162 closed

[2017-11-08 09:50] Cadair commented on #162
Just to quickly chime in here, there is a lot of work going on in representing spectroscopic data in python within the astropy community. As much as it's always a lot of work, I recommend dropping an email to the astropy list to work out where your plans fit in with other efforts in the community. :)

[2017-11-08 19:16] wtbarnes commented on #162
@Cadair do you know of any other affiliated packages besides specutils that are doing this?

[2017-11-08 21:39] lemmatum commented on #162
Just sent a message to the astropy mailing list. Let's see what we get!

[2017-11-08 21:50] Cadair commented on #162
@wtbarnes no code yet but there is this APE: https://github.com/astropy/astropy-APEs/pull/28 and a lot of discussion in various places that has led to it.

[2017-11-10 19:23] samurai688 opened #166 "Collisions and Transport"
Hi all,

I've been reading through the code and trying to learn about git and style guides and testing and so forth. It looks great!

In terms of content, I think some good additional features for the package could be:
- some functions to calculate classical transport coefficients, e.g. Spitzer / Braginskii conductivities
- to add functionality from pages 31-34 of the plasma formulary, to do with

[2017-11-10 19:33] samurai688 commented on #156
I think something like this could be quite nice. It would provide kind of an object-oriented alternative to the individual plasma parameters functions.

I've always thought it would be cool to have a "tell me everything you can" function, so if you say, I make a plasma object and I only know the temperature and the species, let me know all the stuff you can calculate just based on that.

Could you

[2017-11-10 22:04] lemmatum commented on #156
@samurai688 The "tell me everything you can" function is exactly what I've had in mind! Especially as I've had the experience of ignoring a certain plasma parameter, thinking it'd be unimportant, and having it come back to bite me 😬 . Such a function would help avoid that scenario!

[2017-11-10 22:26] lemmatum commented on #166
@samurai688 , I think this is covered by #35

[2017-11-11 19:09] samurai688 commented on #166
Oh, yeah indeed that looks like it covers the Braginskii theory.  I don't think that one explicitly mentions like the coulomb collisions stuff though, so like ion slowing times, temperature equilibration, and such.

[2017-11-13 19:59] ehsteve commented on #164
hello, yes I did also grab all of that information already. I'd be happy for this work to get incorporated into a package that might be less niche (and therefore get more users).

[2017-11-13 20:02] ehsteve commented on #164
I also tried to make the file with the data easily usable by others so it could just be slurped up by plasmapy if you'd rather go that route.

[2017-11-13 21:31] jlvay opened #167 "Use OpenPMD standard for output data"
There is a new standard for storing particle and field data that is being adopted by a growing number of Particle-In-Cell codes in the U.S. and Europe. The name of the standard is OpenPMD and its github repo is at OpenPMD standard (https://github.com/openPMD). It can be used with HDF5 or other self-describing data formats and general purpose writer/reader are in development in Python, C++ and FORT

[2017-11-13 22:24] namurphy commented on #167
This sounds like a great idea to me!  I am strongly in favor of adopting open standards as much as we can.  Many thanks to @jlvay for proposing this.

A few of the things I am wondering about are:

- How compatible would this standard be with our adoption of [astropy.units](http://docs.astropy.org/en/stable/units/)?
- Are there any other standards for representing PIC simulation results?  As far a

[2017-11-14 00:15] RemiLehe commented on #167
Hi @namurphy,

Thanks for your interest in openPMD. Here are a few answers to your questions:

- In the openPMD standard, each dataset can be stored in whichever units the user (or the corresponding PIC codes) sees fit, but then the metadata must contain a coefficient (`unitSI`) which provides the conversion factor for SI units. The unit dimension (`unitDimension`) is also stored in the metadata (

[2017-11-14 00:16] RemiLehe commented on #167
Pinging @ax3l (main developer of the openPMD standard)

[2017-11-15 14:08] ax3l commented on #167
just shimming in to let you know I read the discussion and support it. thx to @RemiLehe for already answering everything so far :)

uh, that was a pain to implement for our particles and would definitely be better demeshed :)

quote talk: "must know where particles are on disk" -> openPMD particlePatches :)

[2017-11-15 19:30] namurphy commented on #167
Thank you, @RemiLehe and @ax3l!  Overall, I think my main question was about whether or not there were any disadvantages to adopting OpenPMD.  Right now I can only think of advantages!  We'll probably need to plan compatibility with `astropy.units` a bit more carefully but I think that will not a significant barrier.

We're working on setting up a repository for [PlasmaPy Enhancement Proposals](ht

[2017-11-17 19:56] #166 closed

[2017-11-17 20:01] namurphy commented on #35
To follow up on the discussion in #166, I was thinking that it would probably be really important to get experts in plasma transport to provide advice on the best ways to calculate different transport quantities.  I personally have been finding it hard to figure out which are the most general and/or reliable ways to calculate all of these things since I'm only somewhat familiar with transport theo

[2017-11-22 23:43] samurai688 commented on #35
I agree getting as much input as possible from the community would be great!

For my 2 cents, I think Spitzer and Braginskii are as fundamental as we have and make a great starting point. There is a 1986 Epperlein-Haines paper that fixed errors in a couple of the original Braginskii coefficients, and one in 2013 by Ji and Held that may even be another improvement, also some interesting considerati

[2017-11-22 23:46] namurphy opened #168 "Create physics exceptions and warnings"
Several of the exceptions and warnings that come up in PlasmaPy result from when we try to violate the laws of physics.  Most of the time these violations cause a `UserWarning` or raise a `ValueError`, but these are pretty generic and don't give much insight into the cause of the problem.  To help with exception handling, I propose that we create new exceptions and warnings, such as `PhysicsError`

[2017-11-22 23:56] samurai688 commented on #168
I think I could give this a shot.  I was actually meaning to ask about the warnings situation, right now whenever I calculate a maybe-relativity-is-important parameter it gives me a UserWarning that will stop execution if I don't catch it. It seems a bit aggressive, would we rather generate / display these warnings in a non-halting way?

[2017-11-23 00:16] namurphy commented on #168
Good catch!  A while ago I had put in some `raise UserWarning` statements.  We decided afterwards change them to use `warnings.warn` because of the problem you're bringing up, but it looks like we missed a few in `plasmapy/utils/checks.py` and maybe elsewhere.  That would be a good thing to fix too!

[2017-11-27 09:35] lemmatum commented on #164
@ehsteve So are you pulling this data from Henke or do you have equations built-in for calculating transmission curves?

[2017-11-27 10:03] lemmatum commented on #101
Anyone want to add Kappa distributions so we can close this one out? Or got any tips about Kappa distributions and what they're supposed to do? (I've never used them).

[2017-11-27 10:05] lemmatum commented on #137
Let me know how it goes! I'm considering incorporating some Cython into SpectroscoPy.

[2017-11-27 10:07] lemmatum commented on #151
Looks like we have a minor issue in #160 , and then this will be ready to close soon.

[2017-11-27 15:49] namurphy commented on #56
@nickmmain - That would be great!  The "notes" section would probably be the best place, and a length/complexity similar to Debye length and number would be good.  Ideally we like to have documentation that would be understandable by someone who is taking their first course on plasma physics, but would still be useful to experienced plasma physicists.  Thank you!

[2017-12-05 18:40] namurphy commented on #110
Another resource is [SkyNet](https://bitbucket.org/jlippuner/skynet) which has nucleosynthesis data for astrophysics (see [Lippuner & Roberts 2017](http://iopscience.iop.org/article/10.3847/1538-4365/aa94cb/meta)).  This uses a BSD 3-clause license as well.

[2017-12-06 08:52] lemmatum commented on #101
I sorted out the kappa velocity distribution functions (both 1D and 3D). This issue is nearly done.

[2017-12-06 21:40] namurphy opened #173 "Add period, group, block, and category for each element"
Each element in the periodic table has a [_period_](https://en.wikipedia.org/wiki/Period_(periodic_table)) and a [_group_](https://en.wikipedia.org/wiki/Group_(periodic_table)) related to its chemical properties.  Each row in the periodic table corresponds to a period, whereas each column corresponds to a group.  For example: lithium is in period 2, group 1 and helium is in period 2, group 18.  El

[2017-12-06 21:41] namurphy commented on #173
Also, there are too few emoji available on GitHub that are related to chemistry.

[2017-12-08 05:08] lemmatum opened #174 "Exotic particles"
It might be worthwhile to add some exotic particles to the particle library, such as muons, tauons, and neutrinos.

Opinions?

[2017-12-08 21:25] namurphy commented on #174
I suspect that cosmic ray scientists (including many plasma astrophysicists) would use this functionality.  This sounds like a good idea to me, especially since the implementation should be rather light.

[2017-12-09 10:53] lemmatum opened #175 "Equations of state"
Having a few common equations of state could be handy, especially for simulations. I believe there are also some EOS that relate things like incident laser energy to shock strength, which would be handy for experimentalists.

The implementation would need some thought. Do we create a separate Python function for each parameter in an EOS? Do we create one function representing a single EOS, take th

[2017-12-09 11:26] lemmatum opened #176 "Physics symbols"
Copy of [SpectroscoPy 19](https://github.com/PlasmaPy/SpectroscoPy/issues/19)

Include a dictionary of common physics symbols. This includes Greek letters, and other symbols, such as Angstrom.

There is currently no easy way to print these symbols (in contrast to rendering LaTeX equations via matplotlib). Yet, they are all accessible by Unicode, so just need to collect them into a dictionary and a

[2017-12-09 11:37] lemmatum opened #177 "Sensible plot defaults"
It would be useful to have some sensible plot defaults based on matplotlib to visually unify any examples we generate in the documentation.

These could also be used for generating publication quality plots (like for #159 ) and sort through some of the hiccups in matplotlib (e.g. unifying LaTeX rendered fonts with regularly rendered fonts, line plots with shaded regions representing errors, etc.).

[2017-12-09 12:10] lemmatum commented on #37
Seeing as we're about a month away from tentative [v0.1 milestone](https://github.com/PlasmaPy/PlasmaPy/milestone/1), it might be a good time to review what progress has been made, what needs to be done, and prioritize open issues.

[2017-12-10 06:26] samurai688 commented on #175
EOS would be great. I agree, ideal gas is the place to start.

To get fancier than that, my favorite general-purpose EOS is this "QEOS" based on this [paper by More et. al](http://aip.scitation.org/doi/abs/10.1063/1.866963). Writing an implementation would be a significant project, I attempted it once and got it kind of working, but had some lingering issues that I never fixed. I know there is a G

[2017-12-11 01:18] namurphy commented on #174
To implement this, I think we could create a file called `particles.py` which would have electrons, neutrinos, muons, tau particles and their anti-particles.  This would also be really helpful to account for all of the irksome special cases that keep showing up.  I've also been wondering how to cleanly account for all of the different aliases that are out there, some of which are cases sensitive a

[2017-12-11 05:08] namurphy opened #178 "Add new syntax to represent isotopes?"
Current, isotopes are represented with strings like `'H-1'`, `'D'`, and `'helium-4'`.  In #169 it was brought up that isotopes can also be represented as something like `'6Li'` in addition to `'Li-6'`.  This can be mostly incorporated by letting `isotope_symbol` in `atomic.py` take in something like `'6Li'` and returning `'Li-6'`.

One place where this will end up being a bit more complicated is i

[2017-12-11 05:39] namurphy opened #179 "Improve handling of aliases and special cases in atomic subpackage"
Right now there is some rather messy code in `atomic.py` to account for the pesky special cases that arise.  In particular are the functions at the bottom such as `_is_electron` and `_is_positron` that go through all of the different possible aliases for each of those particles and return `True` if there's a match and `False` otherwise.  There is definitely room for improvement.  This is very rela

[2017-12-11 10:07] lemmatum commented on #178
`6Li` and `6*Li` look very similar to me and it is not immediately obvious that one refers to an isotope while the other refers to 6 Lithium ions. It is also quite fragile to typos.
Is there are clearer way to distinguish the two, perhaps by forcing `element-number` for isotopes and `number*element` for reaction quantities?

[2017-12-11 10:10] lemmatum commented on #175
@samurai688 I was hoping to keep this function based and to avoid tables 😆

[2017-12-11 15:24] samurai688 commented on #175
Okay, sounds good! Yeah you might like the QEOS one, in that at least it has functions to generate the tables arbitrarily... but yeah, I don't know of anything but ideal-gas type that are reasonable to be run inline.

[2017-12-11 16:46] #168 closed

[2017-12-11 22:48] namurphy commented on #176
I've been thinking about a related accessibility issue regarding how we can make the equations that we have in our documentation screen-reader (text-to-speech) compatible.  That would make PlasmaPy more accessible to blind, visually impaired, and dyslexic students and scientists.  LaTeX formatting is really not useful for screen readers since it focuses on the layout but does not include informati

[2017-12-12 09:10] lemmatum commented on #176
@namurphy would you then replace the LaTeX equations we have in the docstrings for each function with some alternative that is more text-to-speech compatible?
Is there any such standard currently being used in the scientific Python community?

If not, we may have to develop such functionality on our own.

[2017-12-12 09:14] lemmatum commented on #177
For the plot defaults, we should keep in mind accessibility issues like color-blindness. I would lean towards more pastel colors and textured lines, and avoid red-green and blue-purple combinations. The latest major version of matplotlib has already established improved defaults in this regard.

[2017-12-12 15:30] StanczakDominik commented on #176
This seems like a lofty, grandiose and worthy goal. However, while I'm all for adding on reasonable features, I fear that if we branch out too much, the core of the package will suffer from neglect.

[2017-12-12 20:33] StanczakDominik commented on #35
We decided at the [telecon today](https://docs.google.com/document/d/1pJhLxeNJAdHeu4RFjOGHO2ksunmjHKZ2bxBIZZuYiGA/edit?usp=sharing) that we'll be pushing this angle for the 0.1 prerelease. @namurphy said he wanted to assemble an *ELITE TRANSPORT TASK FORCE* (I'm not kidding, 75% of this is what he said).

I'll help out as time allows. @samurai688, @lemmatum?

[2017-12-12 20:47] StanczakDominik opened #182 "Create an object-oriented Particle interface"
This has been brewing in a bunch of places, including discussion on #171 and [this chat on Matrix](https://matrix.to/#/!hkWCiyhQyxiYJlUtKF:matrix.org/$15130263015090890CUoWY:matrix.org).

Right now, we're calling all our particle-dependent functionality via strings. Those tend to be problematic for fitting in the complete information on those (there's different elements, isotopes, ionization state

[2017-12-12 20:56] StanczakDominik opened #183 "Allow running tests as plasmapy.test()"
In [this discussion on Matrix](https://matrix.to/#/!hkWCiyhQyxiYJlUtKF:matrix.org/$15124809421223589HCELA:matrix.org) @cadair raised the point of using Astropy's test runner to be able to run tests via

    import plasmapy
    plasmapy.test()

This seems pretty damn handy, and there was no issue for this one just yet so I'm making one.

@SolarDrew took a stab in this general direction, but came up

[2017-12-13 00:31] samurai688 commented on #35
👍 I feel like I've always wanted to be part of an _ELITE TRANSPORT TASK FORCE_ but never knew the words to explain.

[2017-12-13 01:40] lemmatum commented on #182
There is an additional complication. So far all the functions that use ionization have been using an integer value as determined by an individual particle's charge state (e.g. plasma_frequency), but many of these parameters are macroscopic and so they should instead depend on the average ionization state.

We should find a way to allow the user to manually input the average ionization while retain

[2017-12-13 01:42] lemmatum opened #184 "Add average ionization functionality"
We should allow for average ionization as an argument to functions like plasma_frequency, instead of just assuming integer values of ionization based on what particle is passed.

Related to #182

[2017-12-13 02:07] lemmatum commented on #35
![transport-spokesperson](https://user-images.githubusercontent.com/28945309/33918159-23adc838-df6f-11e7-9581-d93d11315649.jpg)

Spokesperson for _**ELITE TRANSPORT TASK FORCE**_

And yes, I can help out, particularly with Coulomb logarithm for dense plasmas.
i.e., 🐈 `QUANTUM SUBDIVISION` 🐈  of the 🦅  _**ELITE TRANSPORT TASK FORCE**_ 🦅

[2017-12-13 06:08] StanczakDominik commented on #35
That Borat picture is pure gold, and I'm now angry that I missed the opportunity to call this an **ELITE ALPHA/NEUTRAL TRANSPORT TASK FORCE**.

[2017-12-13 06:26] StanczakDominik commented on #182
... crud, partial ionization is a thing. Yeah, that's an issue.

One thing to consider may be to, given that we'd like to have a feature freeze for 0.1 in mid January and release it in February (and I should really send out an email about this, shouldn't I...), postpone doing partial ionization until later. Even "simple" things such as plasma parameters and transport coefficients (I'm probably nai

[2017-12-13 06:55] StanczakDominik commented on #37
#181 tries to handle this a bit. I'll keep this open for discussion, though.

[2017-12-13 06:58] lemmatum opened #186 "Verify thermal speeds for kappa distributions"
#171 was recently merged and it contains tentative functionality for kappa distribution functions and their thermal speeds. These should be verified, especially the mean magnitude thermal velocity for the kappa distribution function. I've made efforts to test and get references for different parts of this code, which I list below.

I found references for 1D and 3D kappa velocity distribution funct

[2017-12-13 06:59] StanczakDominik commented on #186
Thanks for writing this up! @namurphy this could be good to helpful to share with your knowledgeable friend once they're back from the conference :)

[2017-12-13 07:03] lemmatum commented on #101
I believe #141 and #171 close this issue. Subsequent testing and verification for the kappa distribution should fall under #186

[2017-12-13 07:03] #101 closed

[2017-12-13 07:13] lemmatum commented on #182
Yea and if you set a plasma at a certain temperature it is not either Z=10 or Z=11 but a mix of multiple charge states approximated by Saha-Boltzmann. Typically you deal with this by taking an average charge state.

I dunno, I think this is pretty important and quite a large omission for 0.1. It renders a lot of the functions useless for most plasmas unless users hack together some sort of averagi

[2017-12-13 07:38] StanczakDominik commented on #182
I'm just saying, it's a possibility to postpone this. I don't quite have a handle myself on how important this  is.

[2017-12-13 08:12] lemmatum commented on #184
We should decide whether we want this by 0.1 or not.

[2017-12-13 19:02] namurphy commented on #184
In addition to allowing for average ionization functionality, we should also have a way to represent the full charge state distribution (e.g., what fraction of iron atoms is in each of of the Fe 0+, Fe 1+, Fe 2+, ... states).

A colleague and I have done before this for a [prototype non-equilibrium ionization modeling package](https://github.com/namurphy/SunNEI) for solar eruptions.  [The applicat

[2017-12-13 19:04] namurphy commented on #184
With respect to how to modify the atomic subpackage to account for this, would it be enough to allow for syntax like: `"Fe-56 2.7+"`?

[2017-12-13 23:04] wtbarnes commented on #184
Ionization equilibrium is one of the few things I've actually implemented in fiasco thus far. fiasco actually provides two ways of getting at the ionization equilibria,

1. CHIANTI ships ionization fractions (as a function of temperature) as part of the database so this can be accessed as a property of an `Ion`. This just pulls data straight out of the database and interpolates it to a given tempe

[2017-12-14 02:49] lemmatum commented on #159
[Zenodo](https://zenodo.org/) may be another platform for publishing code/article.

[2017-12-14 03:34] lemmatum commented on #184
I'm tempted to add simple average ionization handling for v0.1. It should be relatively easy, just adding a default argument `Z=np.nan` with a snippet like this for defaulting to particle charge if no average ionization is provided by the user.
[code]

For the more complex charge state distribution idea (beyond 0.1)... one way to handle charge state distributions would be to create a `chargeDistri

[2017-12-14 03:51] lemmatum commented on #164
This can probably be moved to SpectroscoPy.

[2017-12-14 04:05] samurai688 commented on #35
Cool, well I can start in on the Braginskii coefficients!

If anyone has any time we will need tau_e and tau_i as well. What we will want are the "average momentum relaxation rate" electron-ion and ion-ion collision times in the form given on page 37 of the 2016 NRL formulary.  The only issue with the equations given in the formulary is that they are assuming singly charged ions.  A form that incl

[2017-12-14 04:15] lemmatum commented on #35
[I've got some functions](https://gist.github.com/lemmatum/52efc7f84a00373db3b93efd78576be6) written up based on Chen and some papers on Langmuir probes in collisional plasmas. Shall I include these?

[2017-12-14 04:54] samurai688 commented on #35
Nice!  These may prove very useful.  I'm thinking we may wind up with many different forms for coulomb logs and mean free paths and so on, which could be healthy in development so that we can figure out all the differences and be prepared to fully document whatever we end up with.

[2017-12-14 23:14] SolarDrew opened #189 "Rename math submodule"
Namespaces are one honking great idea, so let's not have a submodule that shares a name with [an existing library](https://docs.python.org/3.6/library/math.html). Will require changing the filename, folder name, and purging all instances of it being imported.

Current frontrunner for replacement name is `mathematics`.

[2017-12-15 05:55] StanczakDominik commented on #189
github y u no autoclose issue :(
Closed by #190

[2017-12-15 05:55] #189 closed

[2017-12-15 21:31] StanczakDominik commented on #184
Just popping in to say that I like this idea. It would clear up a bunch of code in #191 and likely elsewhere.

[2017-12-15 23:17] #44 closed

[2017-12-15 23:20] lemmatum commented on #184
@StanczakDominik on that note, we should consider doing the same for ion masse(s), especially with the whole reduced mass business in `transport.py`. I think the particles framework is starting to get fragile and in the way...

[2017-12-15 23:32] lemmatum commented on #175
Shall we make this into its own file and call it `equationsOfState.py`? We can then have `import equationsOfState as eos` 😁

[2017-12-16 08:06] StanczakDominik commented on #184
Yeah, perhaps it's wiser to rework that a bit before moving on with further changes in code. @namurphy, whatcha think about this?

[2017-12-16 09:12] lemmatum commented on #176
Alright so ignoring tangents...
@StanczakDominik mentioned that [sympy](https://gist.github.com/StanczakDominik/7707de45cbfcd623ebc2202a89d0e878) is one way of handling these symbols.
Another way is to use a [dictionary](https://gist.github.com/lemmatum/92dab6969464e81ef250a01bb8c6873a), which is what I've done in my own private code.

Thoughts on pros and cons?

[2017-12-16 11:54] StanczakDominik opened #194 "Put dependencies in one place"
Welcome to dependency hell! Some of us (e.g. I) have been adding dependencies wherever it was convenient at the time, without any plan or organization. That's pretty bad, as I just found trying to update our RTD environment to work with sphinx-gallery. Those responsible (e.g. I) will have to clean that up.

The state before this PR was:

text requirements.txt (for pip) files:
- [x] requirements/ba

[2017-12-16 20:36] samurai688 commented on #184
Ooh, this is the sort of mild issue that I have strong opinions about, like measuring Te in electronvolts. Which is beautiful and wonderful and gives deep connection to the atomic physics, as we recall. I apologize in advance, but here comes a mini-rant about Zbar!

As @lemmatum points out, plasma physicists have a deep-seated, primal urge to introduce average ionization values for their equations

[2017-12-16 20:43] lemmatum commented on #184
Yes, I mentioned this elsewhere, though I seem to have failed to mention it here. I want zbar or zeffective for parameters that are macroscopic and to keep integer Z for microscopic (particle level stuff).

We can include machinery on the macro level for defaulting to integer Z based on particle if Zbar is not provided. We can also add functionality for calculating Zbar and Zeffective for a given

[2017-12-17 08:32] lemmatum opened #195 "Change sequential tests to fixture and class->function based ones"
Our tests are a terrible mess.... Look at this!

[code]
How are you supposed to differentiate which assert failed?
What are these asserts doing? How do we know the tests are meaningful without any comments describing what is being tested?

Heavy refactoring is required. I think a class based approach, like what I've done with `Test_kappa_thermal_speed`, makes sense. It allows us to organize multip

[2017-12-17 08:56] StanczakDominik commented on #195
Okay, I agree that a class based approach to this would be nice.

I might be able to take a shot on this over the next few days.

[2017-12-17 08:58] lemmatum commented on #195
I've been gradually tackling this for functions where I've had to write new tests. So it should already be partially done. `test_parameters.py` will probably be the worst off.

[2017-12-17 16:39] StanczakDominik commented on #184
That was a really good writeup @samurai688, I'll be way more mindful of these in the future. Thanks!

I like the idea to use integer Z for actual atomic physics functionality. I'm not yet sure how the part of the code that interprets Zbars in terms of int Z should work just yet, though.

[2017-12-17 16:59] StanczakDominik commented on #176
For dictionaries:

- + light
- + simple, does what it's supposed to
- - could be difficult to extend
- - probably need to write a good bunch of code from scratch (@lemmatum you said you already have some)

For SymPy:
- + likely does most of what we already need out of the box
- + really extensible, we can do whatever the want once we get a base of symbols
- - an additional dependency (but one alre

[2017-12-17 17:14] dstansby opened #197 "Add documentation build as part of testing?"
It looks like PlasmaPy doesn't build docs as part of the continuous integration testing. Usually it's a good idea to build the docs to make sure any changes made in PRs don't stop the documentation building.

If there's interest in this I'm happy to take a stab at it. Options are using another travis build slot, or using another CI provider (a couple of projects I contribute to use https://circlec

[2017-12-17 18:10] StanczakDominik commented on #197
YES

I was wondering how to approach doing that! It would be really great if you could do it, if it's not much of a problem for you.

I don't know which way to do this is optimal. Travis is nice, but perhaps having two Travis builds may be confusing? Do you think it would be a better move to run CircleCI or something else?

You're the expert here, so I'd appreciate any advise.

[2017-12-18 01:07] lemmatum commented on #176
So my dictionary that I linked in the previous comment already has lowercase and uppercase Greek symbols. We could add miscellaneous symbols like Angstrom and hbar, which probably wouldn't be too much work.
One thing to be mindful of is handling superscripts and subscripts. I haven't figured out how to do this nicely via dictionaries and I think sympy may be better in this case.

[2017-12-18 01:12] lemmatum commented on #184
We should decide on this soon as it is holding up #191 .
I take it everyone is fine with using Zbar for macroscopic and Z for microscopic? (Making sure to distinguish these names and clearly document why we have this difference.)

[2017-12-18 03:55] samurai688 commented on #184
Yep, sounds great! Yep, and even for our Zbars I think we should strive to say what kind of Zbar we mean, whether we want the user to put in Zbar = ne / ni, or some other one, for example I just encountered Zeff = sum_i(n_i Z_i^2) / n_e. And I didn't document it, oops. Maybe I should practice what I preach :)

[2017-12-18 05:11] #197 closed

[2017-12-18 06:39] StanczakDominik commented on #176
Yeah, sympy can do those out of the box

[2017-12-18 17:48] namurphy commented on #184
I was also starting to get an unsettling feeling about what happens when average ionization functionality runs into Z<sup>2</sup> stuff, but I hadn't thought about it deeply.  Then again, I'm an astrophysicist where 10 is the same order of magnitude as 5, 5 is the same order of magnitude as 3, and 3 is the same order of magnitude as 1, so 10 is the same order of magnitude as 1... 😹  In any case, @

[2017-12-18 18:01] StanczakDominik commented on #184
Good eye for detail. Agreed here.

So, `Z_eff` and `Z_rms`? Those seem like the best options available.

[2017-12-18 18:08] namurphy commented on #176
If we put in analytical tools later on (which I'm hoping we eventually will), then we'll probably end up putting SymPy in as a dependency independent of this issue.

[2017-12-18 21:43] namurphy commented on #131
I suggested in https://github.com/astropy/astropy/issues/6999 that there be a unit such as `eV_temp` that would be eV as a unit of temperature rather than energy.  Having a unit of `eV_temp` would eliminate my grumblings about using electron volts as a temperature in PlasmaPy's API since it would eliminate the ambiguity between whether an eV refers to temperature or energy.  [We did decide on a po

[2017-12-18 21:51] lemmatum commented on #176
Then my vote goes for sympy

[2017-12-18 22:08] lemmatum commented on #184
Despite z_effective being more widely used, I am leaning towards z_mean. It does what is says on the tin - it's an arithmetic mean for ionization.

I don't like the idea of `Fe 5.4+` notation; to me it looks like it is mixing atomic data and fluid data, especially since our notation is in terms of atomic term... `atomic`, `particle=`, etc. If it were in macroscopic/fluid terms then I could get beh

[2017-12-18 23:35] namurphy commented on #184
I also would personally much prefer `Z_mean` since it says what it is and avoids ambiguity.

My vote would also be against allowing `Fe 5.4+` notation, for the reasons @lemmatum mentioned and because of the chance of ambiguity.  [I think one of the reasons I brought this up in the first place is because I'm starting to enjoy regular expressions and this sounded like fun!]

[2017-12-19 00:38] lemmatum commented on #184
So separate required parameter Z_mean where it makes sense or shall we make it optional and default to Z_mean = Z_atomic with a physicswarning?

[2017-12-19 01:02] samurai688 commented on #184
I agree with what you guys have said, I like the names Z_mean and Z_rms as they are descriptive of what they are, and I like Z_effective or Z_eff for other cases.  I will join in the hate on the Fe 5.4+ notation.

That's an interesting question @lemmatum, hmm... well, so we've got the particle proto-class that is currently represented by the strings. In theory, I think all the pure-Z functionality

[2017-12-19 01:49] samurai688 commented on #186
Hmm, I'm not knowledgeable about Kappa distributions, but I poked around a bit and just found the following paper: [http://www.tp4.ruhr-uni-bochum.de/~ioannis/publications/2009A10.pdf](http://www.tp4.ruhr-uni-bochum.de/~ioannis/publications/2009A10.pdf)

It gives the same definition of most probable speed, and in equation (5) they give a "mean energy per particle" expression. I got super confused

[2017-12-19 18:07] namurphy commented on #184
True enough, but it is still good that we're trying to do this as correctly as possible.  There will undoubtedly be some applications where the difference between `Z_mean` and `Z_rms` will be important.

The comment about "leading-order wrong thing" just reminded me of my first draft of `Coulomb_logarithm`...
[code]
...which is perhaps the most simple, elegant, and readable code that I have ever w

[2017-12-19 18:10] namurphy commented on #184
Another thing that we should keep in mind more generally is that a lot of atomic data is accurate to ~10% to ~20% (e.g., ionization and recombination rates).

[2017-12-19 18:17] namurphy commented on #195
I'm going to procrastinate Fortran and make `test_dispersion.py` less horrible. 💾 🖥 🖱 ⌨️

[2017-12-20 09:31] lemmatum commented on #184
I'm pretty sure one of the lab plasma experiments I am working on analyzing/publishing uses z_rms for inferring hot electron production (temperature and total energy) based on measured hot x-rays, and could cause significant errors if the wrong Z is used.

[2017-12-20 13:16] lemmatum commented on #186
@samurai688 Equations (4) and (5) would suggest that rms speed squared  for a kappa distribution would then be `v_kappa_rms ** 2 = 2 / m * 3/2 * E_0 * (k / (k - 3/2))`. Then substitute in `E_0 = m * v **2 / 2`, you get `v_rms ** 2 =  3 / 2 * (v ** 2) * (k / (k - 3/2))`, where `v ** 2 = v_Boltzmann **2 * (k - 3/2) / k`. So we get `v_kappa_rms ** 2 = 3 / 2 * v_Boltzmann ** 2`, which is just `v_kappa

[2017-12-20 14:36] jhillairet commented on #106
Hello,

Finally, the `signed=True` option has not been implemented ?

Regards,

[2017-12-20 16:57] namurphy commented on #106
@jhillairet - Good memory for this, thank you!  No, this has not yet been implemented.  Would you be willing to create a separate issue for this so that it doesn't continue to be forgotten?  This issue would be appropriate for a "good first contribution" tag.  I personally think we should have this by the v0.1.0 release, especially since it doesn't take much effort.

[2017-12-21 14:51] jhillairet opened #206 "Gyrofrequency can be a signed quantity"
The gyrofrequency can be defined a signed quantity, for instance in wave in plasma physics. This means that the frequency is then negative for electron, and positive for ions.

The `gyrofrequency()` function should support this convention, for example using a optional argument `signed` which can be `False` per default.

[2017-12-21 14:54] lemmatum opened #208 "Use Dawson function for dispersion"
`plasma_dispersion_func` under `mathematics.py` currently uses `erf()` along with some other terms. This can be simplified to Dawson function, [dawsn](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.dawsn.html), and may even offer some minor speedups if scipy implements it in C code.

[2017-12-21 14:59] jhillairet commented on #206
fuck, I've mixed plasma and gyro frequency... I'm corrected it in my PR...

[2017-12-21 16:48] StanczakDominik commented on #206
Closed by #207

[2017-12-21 16:48] #206 closed

[2017-12-21 20:54] namurphy commented on #208
I hadn't remembered seeing the [Dawson function](https://en.wikipedia.org/wiki/Dawson_function) used in expressions for the plasma dispersion function before.  I was looking through _Waves in Plasmas_ by T. H. Stix (1992) and saw a formulation for it on page 202.  The Dawson function is:

S(ζ) = exp(-ζ²) ∫<sub>0</sub><sup>∞</sup> exp(z²) dz = -S(-ζ)

where the integral goes from 0 to ∞.  Then the

[2017-12-21 20:57] namurphy commented on #208
Looking at this a little further, an expression that looks even simpler is:

Z(ζ) = i √π w(ζ)

where w(ζ) is the complex error function, also known as the Faddeyeva function.  I think that's [https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.wofz.html](wofz) in SciPy.

[2017-12-21 21:26] namurphy opened #209 "Add generalized plasma dispersion functions"
The plasma dispersion function arises naturally when finding dispersion relationships for thermal plasmas; specifically when the particle distribution functions are Maxwellians.  However, collisionless plasmas often have very non-Maxwellian particle distribution functions.  The original plasma dispersion function loses validity in theses instances, and must be generalized for different distributio

[2017-12-21 21:27] namurphy commented on #209
Cross-references: #208, #200, #14

[2017-12-21 21:57] namurphy commented on #131
I changed the name of this issue to be 3% less controversial, since having an `eV_temp` unit in astropy.units would remove my objections to having a unit of energy be used as a unit of temperature.  Given how strong our opinions are about eV as a unit of temperature, I'm thinking perhaps we should put this as one of our highest priorities.

My only request is that plasma physicists use notation li

[2017-12-22 06:31] lemmatum commented on #209
Do these dispersion functions vary substantially from dielectric functions (susceptibilities)? If not, perhaps we can make a module of dielectric functions and build other machinery, such as dispersion functions, on top of that.

[2017-12-22 06:34] lemmatum commented on #208
I like your Faddeeva idea, and looking at wikipedia wofz is implemented in C, so there may be some speedups.

[2017-12-22 10:34] lemmatum commented on #209
If the dispersion and dielectric functions are indeed the same, I've got some code I use for simulating Thomson scattering spectra that can be used. It is quite general, 3D, and can take various distribution functions.

[2017-12-22 10:55] lemmatum commented on #131
This would also help make the code more uniform as we currently have a hodgepodge of decorators and custom checks within functions for verifying units.

[2017-12-22 17:03] namurphy commented on #209
That's a good question that I hope a subject matter expert will be able to answer!  The [article by Xie](https://doi.org/10.1063/1.4822332) defines the generalized plasma dispersion function as:

Z(ζ) = Z(ζ, F) = ∫<sub>c</sub> [F / (z - ζ)] dz

with its derivative being

Z'(ζ, F) = ∫<sub>c</sub> [(∂F/∂z) / (z - ζ)] dz

This reduces to the original plasma dispersion function when F = π<sup>-½ </sup

[2017-12-22 17:04] namurphy commented on #209
This sounds like a wonderful idea!

[2017-12-23 08:54] StanczakDominik commented on #151
Closed by #160, #161 and possibly some more

[2017-12-23 08:54] #151 closed

[2017-12-23 08:55] StanczakDominik commented on #56
Hey @nickmmain, how's this going? Any progress?

[2017-12-23 08:57] StanczakDominik commented on #134
This is pretty close to #156 and #193 .

[2017-12-23 08:58] StanczakDominik commented on #31
I think what we have right now could be considered sufficient to close this issue. @SolarDrew, whatcha think?

[2017-12-25 08:03] StanczakDominik commented on #71
Should we perhaps push our logo-seeking endeavours to v0.2?

[2017-12-25 14:05] lemmatum commented on #71
I've asked an artist friend of mine to have a try at designing a logo. I can ask him how it's going.

[2017-12-25 14:17] lemmatum commented on #209
So the dielectric function I am most familiar with (which I believe comes from Landau's Physical Kinetics) is [this](https://arachnoid.com/latex/?equ=%5Cepsilon(%5Comega%2C%5Cvec%7Bk%7D)%20%3D%20v_%7Bphase%7D%5E2%20%5Cint_%7B-%5Cinfty%7D%5E%7B%2B%5Cinfty%7D%20%5Cfrac%7B%5Cvec%7Bk%7D%20%5Ccdot%20%5Cfrac%7B%5Cpartial%20f(%5Cvec%7Bv%7D)%7D%7B%5Cpartial%20%5Cvec%7Bv%7D%7D%7D%20%7B%20(%5Comega%20-%20%5

[2017-12-25 14:19] lemmatum opened #214 "Create module of dielectric functions"
We should make a module of dielectric (susceptibility) functions. These are super useful for things like simulating Thomson scattering spectra.

I already have some code for this, so I could get it started. Are there any specific dielectric functions we should include?

[2017-12-25 14:25] lemmatum commented on #214
[Here](https://arachnoid.com/latex/?equ=%5Cepsilon(%5Comega%2C%5Cvec%7Bk%7D)%20%3D%20v_%7Bphase%7D%5E2%20%5Cint_%7B-%5Cinfty%7D%5E%7B%2B%5Cinfty%7D%20%5Cfrac%7B%5Cvec%7Bk%7D%20%5Ccdot%20%5Cfrac%7B%5Cpartial%20f(%5Cvec%7Bv%7D)%7D%7B%5Cpartial%20%5Cvec%7Bv%7D%7D%7D%20%7B%20(%5Comega%20-%20%5Cvec%7Bk%7D%20%5Ccdot%20%5Cvec%7Bv%7D%20-%20i%20%5Cgamma)%7D%20d%20%5Cvec%7Bv%7D) is one form dielectric funct

[2017-12-25 14:26] lemmatum commented on #209
Opened #214  for dielectric functions.

[2017-12-26 19:28] namurphy commented on #71
If we push it back to v0.2, and then get it done by v0.1, we can say we're ahead of schedule!

[2017-12-26 19:36] lemmatum commented on #71
Soviet-style 5-year plan! I like it!

[2017-12-27 14:25] #194 closed

[2017-12-30 09:44] #31 closed

[2017-12-30 09:49] StanczakDominik commented on #91
What does everyone think about the current status of our narrative docs? Where do we need more of them?

[2018-01-02 11:43] lemmatum opened #222 "Cython integration"
Astropy's template has a way to [integrate Cython and C extensions.](http://docs.astropy.org/en/stable/development/ccython.html) We should get this working so we can have super optimized code for simulations!

[2018-01-02 11:44] lemmatum commented on #222
Relates to [spectroscoPy issue](https://github.com/PlasmaPy/SpectroscoPy/issues/16)

[2018-01-02 11:45] lemmatum commented on #222
I will take a crack at this as I need to learn Cython for my own simulations anyway.

[2018-01-02 11:56] StanczakDominik commented on #222
I've been meaning to learn Cython as well. If you find any neat materials, it would be awesome if you could share them (perhaps here)! :smiley:

[2018-01-02 12:56] lemmatum commented on #222
[This](https://stackoverflow.com/questions/20307546/running-cython-code-within-the-interpreter) stackoverflow response has some good links (and reference to His Noodliness). Otherwise I am reading [Cython](http://shop.oreilly.com/product/0636920033431.do) by Kurt W. Smith.

[2018-01-02 15:14] lemmatum commented on #222
For distribution, Cython [recommends](http://docs.cython.org/en/latest/src/reference/compilation.html#distributing-cython-modules) to distribute the `.c` files generated by our Cython `.pyx` files so that end users don't need to have Cython to install our package.

I think this means we need to explicitly include the generated `.c` files using the `get_extensions()` function in `setup_package.py`

[2018-01-02 15:45] lemmatum commented on #222
We should include guidelines for inclusion of C and Cython code into plasmaPy. [Here](https://github.com/astropy/astropy/blob/135589ff117042de5ef604889e851ecea760b759/docs/development/codeguide.rst) are astropy's guidelines.

[2018-01-02 15:59] lemmatum commented on #222
[Examples](https://github.com/cythonbook/examples) from Cython book.

[2018-01-02 23:19] lemmatum commented on #222
[Reference](http://docs.astropy.org/en/stable/development/building.html?highlight=get_extensions) for how I added the `setup_package.py` file in #223 . Adding `.c` files to the build should also be done via the `get_extensions()` function within this file.

[2018-01-03 07:54] jhillairet commented on #214
Is the module have been already created ? If not, where should it be created ? I've got few function for cold plasma dielectric tensor function (Stix parameters for instance)

[2018-01-03 08:02] StanczakDominik commented on #214
I don't believe we have it yet. If you'd like to contribute those functions, `plasmapy/physics/dielectric.py` would probably be a reasonable place. We'd of course need to update the __init__ file in that directory to add that file.

[2018-01-03 11:03] lemmatum commented on #214
I've not gotten around to creating it yet. You are welcome to start it!
I agree `plasmapy/physics/dielectric.py` is a good name/place.

[2018-01-03 11:43] lemmatum commented on #222
To get the newly built `.c` file to appear next to the original `.pyx` file when building cython modules we need to use `python setup.py build_ext --inplace` instead of `pip install .`

This will only be necessary in development when building new `.c` modules. These then get added to the repo for distribution so end users don't need to do the cythonize step.

[2018-01-03 14:41] lemmatum commented on #184
Does #201  close this or do we need to do further work?

[2018-01-03 16:31] StanczakDominik commented on #184
I keep forgetting to close issues after merging.

[2018-01-03 16:31] #184 closed

[2018-01-04 19:31] lemmatum commented on #222
The more I read about Cython the cooler it gets. Apparently the whole `cdef` structure can also be used for creating things that behave like classes, but are actually extensions that work at the Python/C API level, so they're super fast!

[2018-01-04 22:19] StanczakDominik opened #227 "Fix __init__.py files"
I've come to dislike the star imports in our `__init__.py`. I don't think dumping everything into the same namespace is good Python, while it may make it easier to find stuff.

I think we should figure out ways to break that up.

I dunno, maybe we should replace the star imports with named imports again... I'll look through other libraries, see how they do it.

[2018-01-04 22:31] StanczakDominik commented on #222
Oh yeah, definitely add setup_packages.py to .coveragerc excluded files. It doesn't seem worth testing.

[2018-01-07 02:49] siddharth185 commented on #208
Hello. I would like to work on this. Looks like a good first contribution.

[2018-01-07 22:08] StanczakDominik opened #229 "Prevent numpy 0.14 from breaking all docstrings"
This relates to #135 and is the reason why tests are failing for #228 - and everything that's been updated in the last 21 hours.

[Numpy 1.14 has just been released](https://github.com/numpy/numpy/releases/tag/v1.14.0), and within the release notes there's this tidbit:

So yeah. All our docstrings are broken now, basically. Possible solutions, in order of "from most temporary":
* We could set our

[2018-01-07 22:26] samurai688 commented on #229
Sounds like they had us in mind with the legacy mode, huh?  Maybe we could just do that where needed and then we can go back and re-write the doctests at leisure.

[2018-01-07 22:27] StanczakDominik commented on #229
Actually I just figured out how to semi-quickly rewrite this in pycharm. I guess I'll just do it up.

[2018-01-07 23:09] #229 closed

[2018-01-07 23:11] StanczakDominik commented on #135
Very likely fixed by #230

[2018-01-07 23:11] #135 closed

[2018-01-08 21:36] StanczakDominik commented on #174
Does #221 solve this, or is there more to be done here?

[2018-01-08 21:58] namurphy commented on #174
#221 partially addressed this issue by adding in dictionaries for the different particles, but there is still work to do to make sure the methods in the atomic subpackage accesses the data in these dictionaries.  Right now none of the existing public methods can get the mass of a muon, for example.  I was planning on adding `particle_symbol` and `particle_mass` functions as well (plus maybe some m

[2018-01-09 17:30] #208 closed

[2018-01-10 03:13] jams2 commented on #173
I think I can help with this, mind if I give it a crack?

[2018-01-10 03:41] StanczakDominik commented on #173
Hey @jams2, sure! I'm sure @namurphy would appreciate some help with this. Make sure to coordinate though!

[2018-01-10 16:39] namurphy commented on #173
That would be great, @jams2!  I'll be working on `atomic.py` sometime in the next two weeks, but separately from this.  Many thanks!

[2018-01-11 06:16] jams2 commented on #173
@namurphy happy to help. I'm looking at the functions now, I'm definitely not an expert on the subject matter. Should I anticipate the same range of inputs as atomic_symbol and isotope_symbol (so checking for _is_neutron etc.), or is this a more general case where expected inputs will be atomic number, symbol, element name?

[2018-01-11 19:39] StanczakDominik commented on #227
@siddharth185 , while you're dealing with this... would it be too much to ask you to also take a look at our other subpackages? `atomic` and `math` in particular.

Fair warning, though - there's a decently sized bunch of functions there, though.

[2018-01-12 01:49] lemmatum commented on #222
Once Cython integration is done, we can further optimize dispersion function calculations using `wofz` from [SciPy's Cython API for special functions](https://docs.scipy.org/doc/scipy/reference/special.cython_special.html). Kappa distribution calculations can also be optimized by using `Gamma` from the API.

[2018-01-12 04:26] StanczakDominik commented on #222
Oh wow, that sounds pretty cool! Do you think we could get this done by mid February, so the 0.1 release supports cython for a visible reason that's already in the repo? How can we help?

[2018-01-12 18:36] lemmatum opened #234 "Code review for v0.1"
Prior to completing the [v0.1 milestone](https://github.com/PlasmaPy/PlasmaPy/milestone/1) we should do a code review, as per [Best Practices for Scientific Computing](http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745). We already do this to some extent via code reviews during pull requests, but it would be nice to have a look at the codebase as a whole.

This would enta