[2018-01-13 06:23] lemmatum commented on #222
I think that's doable.
You can take a look at [this](https://github.com/PlasmaPy/PlasmaPy/pull/223#issuecomment-355429621) to do list and see if you can investigate one of these.
Also I've got the nagging feeling that I may not be setting up the Cython integration correctly in `setup.py`, so if you can double check that it would be helpful. At present, I added code to `pop` the list of `.c` and `.

[2018-01-13 15:01] siddharth185 commented on #227
@StanczakDominik Is the PR what you were looking for?

[2018-01-13 16:35] #227 closed

[2018-01-13 16:48] siddharth185 commented on #234
Looks like a good learning experience. I can do a module.

[2018-01-13 16:57] lemmatum commented on #234
@namurphy When are we planning the freeze and would this be best done before or during the freeze? (e.g., freeze code, review, then unfreeze for fixes raised in review)

[2018-01-13 16:58] lemmatum commented on #186
@namurphy Do we have an expert to look at this?

[2018-01-13 17:00] lemmatum commented on #195
I'm assuming that we are shooting for class based tests for v0.1 with possibility of switching over to fixtures in the future. Is that a safe assumption?

[2018-01-13 17:02] #164 closed

[2018-01-13 17:08] lemmatum commented on #49
I've sort of started this by adding a module with coupling parameter function in PR #191 . Once I finish and merge that we can add more dimensionless parameter functions.

[2018-01-14 10:49] StanczakDominik commented on #195
I'd say we're shooting for whatever tests work for now, with cleanup intended in the future : laughing:

[2018-01-14 10:50] StanczakDominik commented on #227
Yeah, it was that exactly :) thanks a bunch, again!

[2018-01-14 13:42] siddharth185 commented on #227
@StanczakDominik Don't mention it!

[2018-01-14 17:39] StanczakDominik commented on #234
@lemmatum I think the term we used was "feature freeze", and that was supposed to be just about now. In other words, we'll probably try to squeeze the current PRs in before mid february. Perhaps the start of February could be a good time to do the code review?

[2018-01-16 18:08] namurphy opened #236 "Should we rename the charge_state function?"
The `charge_state` function in the atomic subpackage current returns the integer electric charge (e.g., `-1` for `'e-'`, `1` for `'p'`, `16` for `'Fe 16+'`, and so on).  The name `charge_state` is appropriate for ions where it also means the ionization state.  However, it makes less sense to talk about the charge state of electrons, muons, and neutrons, so I'm wondering if we should change it to s

[2018-01-16 19:05] StanczakDominik commented on #236
Come on, let's not start worrying about quarks here! `integer_charge` is good. We can add a note saying that this is `integer charge, as normalized to the charge of the electron`. Thus, we can, if need be for quarks, reasonably output fractions with a note in the docs.

[2018-01-17 17:23] lemmatum commented on #234
@StanczakDominik sounds good to me. I'll try and get my PRs done in time for that.

I'd like to explicitly add to the list of things to check: consistency in vTh definitions. Sometimes plasma functions are defined with vTh that has a factor of 2 in the square root and sometimes without it. We should explicitly check that the equations we use are compatible with the sqrt(2) version as this is what

[2018-01-17 22:06] #236 closed

[2018-01-26 17:25] nshaffer commented on #186
I'm not an expert, but I've taken courses from of a Kappa evangelist. Attempting to talk about the "thermal speed" or the "temperature" of a Kappa distribution is a pedagogical quagmire. There is no unique definition for the temperature of a Kappa distribution (or non-Maxwellian distributions in general). You can *define* temperatures in a variety of ways, though. A common way is to assert that so

[2018-01-26 17:56] antoinelpp commented on #186
The temperature should always be defined via the standard deviation. As the kinetic energy is define with $k_B T = 3/2 E_k$, and here the kinetic energy $E_k$ doesn't take into account the global convection, ie $E_k = m/2 <(v-<v>)^2>. It is this definition which is used to define the temperature in the fluid equations.

Thermal speed seems to be ambiguous even for Maxwellian distribution. I always

[2018-01-26 20:31] namurphy opened #241 "Standardize import alias for astropy.units as u"
There are some places in PlasmaPy where we use:
[code]
and other places where we use
[code]
As @StanczakDominik and others have pointed out on Matrix, it would be helpful to have one single alias for `astropy.units` that used uniformly throughout the code so that it's more consistent and readable.  In the discussion on Matrix, the preference from a few people was to use `u` for brevity.  This issu

[2018-01-26 22:21] namurphy commented on #105
A good first contribution would be to add the half-lives for some isotopes (especially important ones).  It would be a major effort to add all of them.

[2018-01-26 22:25] #182 closed

[2018-01-26 22:26] namurphy commented on #174
Closed by #239.

[2018-01-27 06:18] #174 closed

[2018-01-29 03:19] nurbu5 commented on #241
Hi @namurphy,

Sorry for not announcing I was going to work on this beforehand. I think this PR should update those aliases: https://github.com/PlasmaPy/PlasmaPy/pull/243

Let me know if there are any issues. Also, can you give me any good resources for learning about Plasma physics. I'd like to know a little bit about the domain if I'm going to contribute to some of the tougher issues. Thanks.

[2018-01-29 03:59] #241 closed

[2018-01-29 04:43] namurphy commented on #241
Thank you, @nurbu5!  Everything looked good so I merged it.

With respect to resources on learning about plasma physics, I'm most familiar with textbooks like [_Introduction to Plasma Physics_](https://books.google.com/books/about/Introduction_to_Plasma_Physics_and_Contr.html?id=mFg-CwAAQBAJ&printsec=frontcover&source=kp_read_button#v=onepage&q&f=false).  There's also an [edX online course on plas

[2018-01-29 04:56] StanczakDominik commented on #241
The edx course is neat, I can recommend it. :)

[2018-01-30 08:04] lemmatum opened #245 "Implement a better polylog function for Fermi integral"
At the moment the ideal chemical potential function from #191 is limited due to the `mpmath` implementation of `polylog` not allowing larger arguments due to lack of implementation. See [this comment](https://github.com/PlasmaPy/PlasmaPy/pull/191#issuecomment-361506740).

We should seek out either a better implementation of polylog or create our own function using an expansion/approximation for po

[2018-01-30 08:15] lemmatum commented on #245
Here is the error that polylog generates when given a higher valued argument to our `Fermi_integral()` function. I can still get a value for a degeneracy argument of 3.88, but 3.89 throws an error.
[code]

[2018-02-01 17:50] namurphy opened #246 "Add AppVeyor continuous integration testing"
We presently use Travis CI and CircleCI for continuous integration testing.  These tests are performed largely in Linux environments, but we should also add tests for Windows environments so that we can fix any compatibility problems sooner rather than later.  In particular, [AppVeyor](https://www.appveyor.com/) tests builds on Windows virtual machines and thus would be able to mostly fill this ga

[2018-02-02 07:43] lemmatum commented on #246
More explicitly, we should test Cython since Windows hates GCC.

[2018-02-02 08:34] lemmatum commented on #49
We should be careful with which functions we put in here... For example, the quantum degeneracy parameter is often used in calculating other quantum functions, but it depends on the Fermi energy. So placing `ideal_chemical_potential` in `quantum.py` which depends on `degeneracy_parameter` in `dimensionsless.py`, which depends on `Fermi_energy` in `quantum.py` is a no go due to circular dependencie

[2018-02-02 10:23] lemmatum opened #248 "Cleanup transport.py by merging redundant functions"
There seems to be some overlap between the `classical_transport` class (from Braginskii PR #199 ) and the other transport equations (introduced by PR #191 ). We should merge redundant functions/methods where possible/reasonable. One example of potential overlap is Spitzer resistivity.

Note, #191 is still in the PR process, so this issue should not be addressed until that PR is closed!

[2018-02-02 22:54] lemmatum opened #250 "Cleanup test_transport.py"
`class Test_classical_transport` is in dire need of some error strings which return the compared values when a test fails. Best to do this with f-strings.

[2018-02-02 23:26] #246 closed

[2018-02-05 18:04] jacob-king commented on #82
WRT to interfacing to NIMROD, when it gets to the point where initial values for problems and model parameters are defined, I would be happy to work on writing this out in NIMROD namelist and h5 format.

I've personally used firedrake which is related to FEniCS in that it is built on much of the same infrastructure. I was very impressed and it seems to be a great solution for small problems.

http

[2018-02-06 21:04] #222 closed

[2018-02-06 22:44] Nismirno commented on #250
Hi,
I would like to take up on that issue.

[2018-02-07 02:49] #51 closed

[2018-02-07 03:20] namurphy opened #252 "Allow users to set default particle or ion?"
Most of the plasma parameter functions have arguments or keywords to specify the particle(s) to be used by the function.  For example, `gyrofrequency()` requires knowing what the charged particle is that is being considered.  Many of the functions currently default to protons or electrons, but these defaults are not universally used.  Fusion scientists often assume a default ion of D+ whereas astr

[2018-02-07 05:30] lemmatum opened #254 "Optimize Braginskii code"
The Braginksii code in `transport.py` could do with a bit of optimization.

For example in `_nondim_tec_braginskii` we have:
[code]

Things like `beta_perp` and `beta_cross` should be moved under their respective if statements and under the general `field_orientation == 'all'` statement. This will reduce unnecessary computations across the different methods.
This seems to be a recurring pattern ac

[2018-02-07 05:32] lemmatum commented on #254
I would suggest doing this after #191 is done. Unless you like to do a lot of rebasing.

[2018-02-07 05:40] StanczakDominik commented on #250
Hey @Nismirno, thanks for the offer ! Would you mind waiting until #191 is merged into master (likely within ~2 days) to start working on this one? It'd be much easier to work based on a shared history when that one's settled!

[2018-02-07 06:04] StanczakDominik commented on #252
This sounds like a bad idea, I think. Declaring an implicit stateful variable in the backend of the code for the (minor, I think) convenience of not having to do...
[code]

I'm pretty sure however you define it, you're not going to be able to turn it on in less than 7 characters. :laughing: And more seriously, the mechanics of possible implementations... not pretty, let me just say.

Voting to clo

[2018-02-07 06:08] lemmatum commented on #252
I don't think this is such a huge issue... people should read the docs before using the function anyway. There is only so much naivety we can assume.

And I agree with @StanczakDominik , trying to set a global particle default is a bad idea. Global state in general is a bad idea.

[2018-02-07 06:17] lemmatum opened #255 "Split up `_boilerPlate()` in `transport.py`"
`_boilerPlate()` currently does a few different things like fetching particle data, calculating thermal velocity, tests/checks. Each piece of functionality should be split into its own function.

See #191

[2018-02-07 07:21] StanczakDominik commented on #255
And wait for #191 before starting work on this!

[2018-02-07 09:12] Nismirno commented on #250
Hi @StanczakDominik,
Sure. I have no problems with that.

[2018-02-07 09:34] misupova commented on #105
I searched for issues marked as "Good first contribution", and this one attracted my attention. As I am new to contributing, I want to clarify some things.

So as I understood, the first step is to add half-life information in Isotopes dictionary, and then create corresponding function (e.g. isotope_half_life) to retrieve this information, am I getting it correctly?

[2018-02-07 09:49] misupova commented on #105
I searched for issues marked as "Good first contribution", and this one got my attention, but I want to clarify some things.

How could I include half-lives for isotopes, for which exact half-life is not known? For example, in one of the the sources we can find >260ns for Al-40, what could be sensible way to include such information in dictionary?

[2018-02-08 05:19] lemmatum opened #256 "Cleanup transport.py docstrings and documentation"
We need people both familiar and unfamiliar with transport to look through the docstrings and documentation on `transport.py` to see if it is usable and if it makes sense.

[2018-02-08 05:21] lemmatum commented on #256
One thing that was mentioned in #191 is the small differences between thermal velocity definitions and how they affect the Coulomb logarithm. This should be incorporated into the documentation explicitly.

Quote:

[2018-02-08 05:44] StanczakDominik commented on #250
@Nismirno, I'm pinging you as #191 just got merged! :D

[2018-02-08 06:17] StanczakDominik commented on #105
Hey @misupova, that's a pretty good question. I suppose a reasonable solution would be to put in None in that case and return an error saying there's no precisely known half life.

 Or we could put in a "<240ns" string and if the function gets a string instead of a float or quantity, raise an error saying something along the lines of "all we know is it's <240ns, use that as a ballpark estimate if

[2018-02-09 19:30] apooravc commented on #254
@lemmatum I'd like to work on this since #191 is now merged.

[2018-02-09 21:20] lemmatum commented on #254
@apooravc go for it!
Just a fair warning, we are going to do a feature freeze for v0.1 after #242 is done. So this might not get merged until after that. Or it might just end up as part of the code review - not sure yet.
Either way, do the thing!

[2018-02-10 09:06] apooravc commented on #255
@StanczakDominik  Working on this issue since #191 is now merged.

[2018-02-10 09:08] StanczakDominik commented on #255
Awesome! Thank you!

[2018-02-10 14:10] apooravc commented on #176
@lemmatum @StanczakDominik Starting work on this issue.

[2018-02-10 14:27] apooravc commented on #71
The idea of a python wrapping itself around magnetic field lines is so good. May I ask what characteristic color would PlasmaPy use in its logo and its website? Like in case of Astropy, a variation of orange color is used; in case of Sunpy, a variation of yellow color is used. I'll vote for blue or purple.

[2018-02-13 12:13] #254 closed

[2018-02-13 13:27] StanczakDominik opened #262 "Create an `atomic.reduced_mass` function from existing `Particle` method"
The issue is simple. Take https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/atomic/classes.py#L714 this method and turn it into a module level `reduced_mass` function that can be called outside of the object oriented `Particle` interface, like `ion_mass`. Simplify the method by calling the function. Simple and helps out #255 !

[2018-02-13 17:13] namurphy opened #263 "Update atomic docstrings"
I've been working through the atomic subpackage and updating a lot of the functionality, including most recently in #242.  I have been updating a lot of the docstrings as well, but I have not gone through the docstrings thoroughly to make sure that they are consistent with what the functions, classes, and methods actually do.  I probably missed things here and there.  Once #242 is finished, it'll

[2018-02-14 14:32] ritiek commented on #262
I'll give this a shot. :)

[2018-02-14 15:46] StanczakDominik commented on #262
Awesome! Thanks!

[2018-02-15 06:11] #250 closed

[2018-02-15 20:46] #262 closed

[2018-02-16 06:17] #105 closed

[2018-02-16 06:18] #35 closed

[2018-02-16 06:20] #178 closed

[2018-02-16 22:35] namurphy opened #266 "Make PlasmaPy compatible with PyPy"
PyPy is an alternative implementation of Python that has a built-in just-in-time (JIT) compiler.  PyPy is being written using the RPython language, which is being co-developed with PyPy.  PyPy is generally much faster than CPython, and also typically uses less memory.  The tests of PyPy vs. CPython show that PyPy often provides a significant speed-up.  PyPy is most beneficial when running intensiv

[2018-02-16 23:22] namurphy opened #267 "Add continuous integration tests of PlasmaPy on PyPy"
Once PyPy supports Python 3.6, we will want to implement continuous integration testing of PlasmaPy on PyPy.  This is the first step toward #266, and will have to wait until PyPy supports Python 3.6.  Because of the potential for problems specific to PyPy, we might want to start this out as an "allowed failure".  We can probably ignore this issue until ~2019.

[2018-02-17 00:27] namurphy opened #268 "Use mypy for static type checking in continuous integration"
[Mypy](http://mypy.readthedocs.io/en/latest/) uses function annotations to perform static type checking.  Mypy has the potential to help us track down bugs without even running a program.  Lately we've started to add [type hints](https://www.python.org/dev/peps/pep-0484/) to functions and methods in a few of our subpackages (including atomic, for example) where we sometimes make use of the [typing

[2018-02-17 02:28] namurphy opened #269 "Get Particle class to work with Unicode, LaTeX, and MathML"
At present, the `Particle` class pretty much only uses ASCII characters for symbols and aliases.  Here is some typical usage:
[code]
It would be great if we could enable something like the following functionality, where `Particle` accepts unicode aliases and provides the symbol in Unicode, LaTeX, and MathML:
[code]
We will need to have a screen reader (text-to-speech) accessible format (which is p

[2018-02-22 05:07] ayush1999 commented on #256
@lemmatum @namurphy  I'd love to take this up. Can you please tell me, along with the above mentioned example, what are the other changes needed?

[2018-02-23 00:19] namurphy opened #273 "Clarify docstring style guidelines in development guide"
Consistent, well thought out docstring styles help improve readability and make it easier for users to access the information that they are seeking.  We need to improve our [style guide for docstrings](http://docs.plasmapy.org/en/latest/development/doc_guide.html) within PlasmaPy.  We should strive for general consensus on these guidelines within our community if at all possible, so whoever undert

[2018-02-23 00:42] namurphy opened #274 "Clarify code style guidelines in development guide"
Maintaining a consistent coding style makes code much more readable.  We need to improve PlasmaPy's [style guide for Python code](http://docs.plasmapy.org/en/latest/development/code_guide.html) in our [development guide](https://github.com/PlasmaPy/PlasmaPy/tree/master/docs/development).  As in #273, we should strive for general consensus on these guidelines, so whoever undertakes this should brin

[2018-02-23 18:00] namurphy opened #276 "Run pydocstyle in tests for each pull request"
The [pydocstyle](http://www.pydocstyle.org/en/2.1.1/usage.html) package checks that docstrings meet the style guidelines for a package (see #272, #273).  It would be really helpful to run pydocstyle as part of our suite of continuous integration tests.  I'm wondering if CircleCI would be the most appropriate place, and if the tests could be separate from the other tests to make it easier to narrow

[2018-02-23 20:25] #104 closed

[2018-02-23 22:40] namurphy opened #277 "Create an online_help function?"
Astropy has an [`online_help`](https://github.com/astropy/astropy/blob/v3.0/astropy/__init__.py#L293) function that lets users query their online documentation from the command line.  This then opens the results in their default web browser.  We may wish to create such a function for PlasmaPy, which could go in our main `__init__.py` or perhaps somewhere in `plasmapy/utils`.

We could use much of

[2018-02-25 16:38] StanczakDominik commented on #276
After some thought, this way of approaching this stuff seems like a workaround that's not even going to lead to a comfortable way of checking it. It would probably be better to suggest this or contribute back to pep8speaks. I'll raise an issue over at their repository.

[2018-02-25 17:50] namurphy commented on #276
It'd be fantastic if pep8speaks enabled pydocstyle checks.  I'll label this as "on hold" pending upstream changes.  Thank you for raising this issue!

[2018-02-26 02:07] lemmatum commented on #256
@ayush1999 I would suggest you just read through the documentation independent of my input and see if it makes sense. Then run the functions based on the knowledge you gained from reading the documentation and see if they run just fine or if there were any stumbling blocks. Come up with a list of things that we might need to clarify, and then we can discuss them here.

The different definitions of

[2018-02-26 09:12] Abdur-rahmaanJ opened #279 "Simple website redesign"
I propose a complete simple redesign of the website. I can do it ^^_

[2018-02-26 09:13] Abdur-rahmaanJ commented on #279
oh website apart. closing.

[2018-02-26 09:13] #279 closed

[2018-02-26 21:38] namurphy opened #280 "Calculate parameters and transport coefficients for partially ionized plasmas"
Numerous laboratory, heliospheric, and astrophysical plasmas are weakly ionized or partially ionized.  Examples include stellar chromospheres, protoplanetary disks, molecular clouds, the cold neutral phase of the interstellar medium, planetary ionospheres, and tokamak edge plasmas.  Most of the functionality that we have in the physics subpackage is for fully ionized plasmas, so we will need to cr

[2018-02-26 21:39] namurphy commented on #280
I labelled this as "on hold" because it'll have to wait until at least v0.2.0 because we're in a feature freeze for v0.1.0 at the moment.

[2018-02-28 20:15] namurphy opened #283 "Create Particle class method to find number of valence electrons"
During the code review session yesterday, @lemmatum suggested that we include an attribute in the `Particle` class that would return the number of [valence electrons](https://en.wikipedia.org/wiki/Valence_electron) for a neutral atom or ion.  This attribute should be useful for ionized species as well (e.g., a Fe<sup>16+</sup> ion will have a closed shell).  I'm not a chemist, so it would be reall

[2018-03-02 02:14] namurphy opened #285 "Add ionization_energy attribute to Particle class"
A commonly needed in plasma physics is the energy it takes to ionize a single atom or ion.  The `Particle` class should have an attribute called `ionization_energy` that returns this value.  Example functionality is:
[code]
When this is called for an element or isotope with no charge specified, the energy to ionize a neutral atom should be returned.  The returned value should be in joules because

[2018-03-02 02:38] namurphy opened #286 "Allow Roman numeral spectroscopic notation to represent ions"
In astronomy it is common to use Roman numerals to represent the ion species responsible for the emission from a particular spectral line.  The Roman numeral is the charge state of the ion plus one (e.g., Fe I corresponds to Fe<sup>0+</sup> and Fe X corresponds to Fe<sup>9+</sup>).

Some examples:
[code]
It would be worth looking for already existing packages that parse Roman numerals so that we d

[2018-03-02 03:00] namurphy opened #287 "Enable ionization and recombination of Particle objects"
There may be occasions where it will be useful to be able to change a `Particle` object representing an ion into a higher or lower charge state.  For example, someone might want to loop through the different charge states of an ion to return something like the ionization energy for each one.

One possibility for the notation would be to create `Particle` class methods called `ionize` and `recombin

[2018-03-02 04:28] namurphy commented on #234
We probably will have time for about one or two ~60-90 minute code review session per week, so we should prioritize.  What modules are the most important ones for us to review?

In the atomic subpackage, we just reviewed the `Particle` class in `particle_class.py` this past week.  I'd also like for us to review the `@particle_input` decorator, and possibly `parsing.py`.  We are planning on going o

[2018-03-02 06:49] StanczakDominik commented on #287
When I hear "looping over charge states", I think "okay, now I really need to read up on how iterators work in Python"... Perhaps those may be handy here! I don't know yet, but I'll report back soon.

[2018-03-02 19:07] namurphy opened #288 "Link to open/free references on plasma physics from README.md"
There have been a few occasions when someone interested in PlasmaPy has asked for recommendations of good resources for learning about plasma physics.  We should link to ~2-4 resources from our main README file.  These should be free and openly available resources, preferably under a CC BY or CC BY-SA license.  One possibility is [edX's introductory course on plasma physics](https://www.edx.org/co

[2018-03-03 06:39] ritiek commented on #286
I'll give this a go. The [roman](https://pypi.python.org/pypi/roman) package looks good enough to me.
[code]
There are also other packages like [numeral](https://pypi.python.org/pypi/numeral) but I think they are a bit of overkill. What do you think?

[2018-03-03 14:54] ritiek commented on #283
Yep, also how should we go about Transition metals, Lanthanoids and Actinoids as they have kinda unpredictable valence electrons? Should we just make a make a special case for each of them?

And what happens to their ions? How will the number of valence electrons change?

For example, Rh⁺ ion (atomic no. 45, neutral electron configuration: 2, 8, 18, 16, 1)? Will it follow same configuration as neu

[2018-03-05 05:11] ritiek commented on #286
By the way, is there a reason for doing this? Why can't Fe I correspond to Fe¹⁺? (Fe without any charge specified could just correspond to Fe⁰⁺)
[code]

[2018-03-05 05:51] namurphy commented on #286
I completely agree that it would make much more sense to have Fe I correspond to Fe¹⁺ and so on, but the Roman numeral notation has been a standard notation for spectroscopy that has been used like this for the better part of a century (e.g., [this abstract from ~1930](http://adsabs.harvard.edu/abs/1931ApJ....74..225S)).  I've been trying to use notation like Fe¹⁺ when describing spectra since tha

[2018-03-06 20:48] namurphy opened #292 "Add documentation on astropy.units"
Since PlasmaPy makes heavy use of [`astropy.units`](http://docs.astropy.org/en/stable/units/), we need documentation that introduces them and links to Astropy's main documentation on the subpackage.  We should be able to adapt [SunPy's documentation on units](http://docs.sunpy.org/en/stable/guide/units-coordinates.html#units-in-sunpy) (while putting SunPy license information directly in the file i

[2018-03-07 18:32] #286 closed

[2018-03-07 19:29] namurphy opened #294 "Add mass_energy as a new atomic function and a Particle attribute"
The nuclear binding energy of a nucleon may be found from the [`nuclear_binding_energy`](https://github.com/PlasmaPy/PlasmaPy/blob/e7912ef7a32487c8193a3f880874b40aa1e4cf7a/plasmapy/atomic/nuclear.py#L18) function of the `atomic` subpackage or with the [`binding_energy`](https://github.com/PlasmaPy/PlasmaPy/blob/e7912ef7a32487c8193a3f880874b40aa1e4cf7a/plasmapy/atomic/particle_class.py#L898) attrib

[2018-03-07 19:30] namurphy commented on #294
Also, lease let me know if there is anything missing or there are any mistakes in the `@particle_input` docstring, since few people besides me have read it.

[2018-03-07 22:48] namurphy opened #295 "Allow reduced_mass to accept Quantity arguments"
The newly created `reduced_mass` function was designed to accept particle representations as well as instances of the `Particle` class (see #262 and #265).  Upon further thought, it would be helpful for `reduced_mass` to accept `Quantity` objects with units of mass.  Reduced masses are used not just in Coulomb collisions but also in orbital mechanics, for example.  A sample use case is:

[code]

T

[2018-03-07 23:26] namurphy opened #296 "Add narrative documentation for mathematics subpackage"
The `mathematics` subpackage is relatively small in comparison to our other subpackages, but it would still be helpful to have some narrative documentation in our `docs` directory to describe what it is for and what functionality it includes.

We do not necessarily need to complete this for our v0.1.0 release since the functions have helpful docstrings already, but it would be helpful to have for

[2018-03-07 23:31] namurphy opened #297 "Add narrative documentation for plasma parameters"
The file `parameters.py` in our `physics` subpackage contains a large number of functions for calculating plasma parameters.  As this file contains some basic functionality that will be useful for nearly all plasma physicists, we will need to add narrative documentation on calculating plasma parameters into our `docs` directory.  We will definitely need this for our v0.1.0 release.

Thanks!
-Nick

[2018-03-07 23:45] namurphy opened #298 "Add narrative documentation for transport.py"
There is an incredibly extensive amount of functionality in `transport.py`.  We will need to have narrative documentation in our `docs` directory that goes over how to use this module.  Given the difficulty of the subject, the transport documentation will need to be written by people who have a good understanding of plasma transport theory.  The documentation should be useful and understandable to

[2018-03-10 03:16] lemmatum commented on #288
MIT opencourseware has a bunch of [lecture notes](https://ocw.mit.edu/courses/nuclear-engineering/22-611j-introduction-to-plasma-physics-i-fall-2003/lecture-notes/) on introductory plasma physics by Ian Hutchinson.

We could also link to the [NRL Plasma Formulary](https://www.nrl.navy.mil/ppd/content/nrl-plasma-formulary) for general reference.

Archive.org seems to have some notes/books as well,

[2018-03-10 03:18] lemmatum commented on #287
Could you just make particle an iterable object over charge state objects via `__iter__` and then have most functions accept charge state objects?

[2018-03-11 06:10] v2thegreat commented on #137
Hey, I was planning on making some scripts that would Cythonising python code. Would use the modules for this project be a good idea?

[2018-03-11 10:31] StanczakDominik commented on #287
Actually maybe we could have a method called `iter_charge_states` rather than making the object itself an iterable. It shouldn't be difficult to whip up an example. Will do.

[2018-03-11 17:06] AaruranE commented on #137
I haven't made much progress lately, but you're welcome to have a try if that's what you want to do

[2018-03-12 07:02] hzxusx commented on #100
@SaravananOffl @namurphy
Is any one still working on this feature? I have writen a [Julia script](https://github.com/hzxusx/active-mag-design/blob/master/wires.jl) for this last semester as part of my class project. I can adapt it to python.

I implemented circular wire, (finite) straight wire, general wire(described by parametric equation) types and methods to calculate their magnetic field at an

[2018-03-12 07:04] StanczakDominik commented on #100
As far as I can tell, this is completely stalled. Go for it, @hzxusx!

[2018-03-12 07:28] hzxusx commented on #100
Great! I'm happy to contribute.

A question on your development habit, shall I open a feature branch? You seems use little of branches.

[2018-03-12 10:04] StanczakDominik commented on #100
We use a bunch of them, but mostly on our personal forks. Take a look at the code development guide over at docs.plasmapy.org, and if that doesn't clear things up, please say so - I'll be happy to improve those docs!

[2018-03-13 12:56] hzxusx commented on #176
It might not be necessary to use SymPy. In Jupyter/IPython notebook, special printing can be done by implementing `_repr_latex_` method as mentioned [here](http://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html#IPython.display.display).

For example, in my Jupyter notebook
[code]

For me, a Latex/MathJax style output is already great. But a potential solution to @namurphy 's wo

[2018-03-13 17:55] lemmatum opened #301 "Add functionality to transport.py"
Some ideas on transport effects we could add to `transport.py` or possibly a submodule to avoid dumping too many functions into a single file:

- [ ] Fokker–Planck equation for describing time evolution of distribution functions under the influence of collisional effects
- [ ] Vlasov equation
- [ ]  BBGKY hierarchy (with commonly used cutoffs)
- [ ] Nernst effect
- [ ] Some common Onsager reciproc

[2018-03-13 18:05] lemmatum commented on #154
What else needs to be done towards this issue?

[2018-03-13 19:37] lemmatum opened #302 "Add functions to calculate plasma instabilities"
Instabilities are important and there is a [whole zoo](https://en.wikipedia.org/wiki/Plasma_stability) of them. We should start by adding some of the simpler ones and work our way up. I assume that this will have to be separated into a number of modules based on application (e.g. laser-plasma instabilities, pinch/magnetic instabilities, etc.)

[2018-03-13 19:45] lemmatum commented on #302
Chapters 6 and 7 in "Introduction to Plasma Physics and Controlled Fusion" by F. Chen have quite a few good examples.
- [ ] Rayleigh-Taylor instability
- [ ] Two stream instability
- [ ] Gravitational instability
- [ ] Resistive drift waves
- [ ] Weibel instability
- [ ] Parametric instability
- [ ] Sheath instabilities (Bohm sheath criterion)

Along with instabilities come damping effects as well

[2018-03-13 20:06] StanczakDominik commented on #302
Calling dibs!

[2018-03-14 04:52] lemmatum opened #304 "Fill in parameters_cython.pyx"
`parameters_cython.pyx` is lacking in functions. We should add all the functions from `parameters.py` to `parameters_cython.pyx` so that we have optimized/compiled versions. This will be a great help since these low-level functions are frequently called in any plasma simulations/calculations.

[2018-03-14 04:59] lemmatum opened #305 "Create benchmarks"
Optimizing code is hard if you don't know what's running slowly and how your changes affect execution time. We should create some scripts to benchmark important, frequently run functions (especially with respect to simulations).

I assume that at the lowest level we would use [cProfile](https://docs.python.org/3.6/library/profile.html), though I think there are some libraries which make the output

[2018-03-14 05:02] lemmatum commented on #302
@StanczakDominik :laughing: looks like I made an attractive issue!

If you don't mind, I'd like to contribute some laser-plasma instability stuff (in the long run).

[2018-03-14 05:04] lemmatum commented on #302
Also, I think this project will have some nice synergies with the ipython notebooks and visualization efforts. We can make some really pretty visualizations with [yt](http://yt-project.org/) to advertise PlasmaPy.

[2018-03-14 05:05] StanczakDominik commented on #302
Sure! By all means. I'll start with the less lasery ones from Chen's book.

[2018-03-14 05:05] lemmatum commented on #302
The nice thing is I don't think Chen has much in the way of LPI, he mainly focuses on pinches and tokamaks.

[2018-03-14 05:06] StanczakDominik commented on #302
ADD ALL THE CHEN INSTABILITY THINGS, then. :smile:

[2018-03-14 05:12] lemmatum commented on #302
![code-all-the-instabilities](https://user-images.githubusercontent.com/28945309/37384356-007191c8-2714-11e8-9a43-e9443c690b2c.jpg)

[2018-03-14 05:20] lemmatum commented on #176
@apooravc As far as applications, I'm not sure that we are using symbols within python code at the moment, though we may in the future (for printing physics warnings/exceptions, for example). So I would first look through the exceptions we raise and see if any of the notation can be replaced by symbols in a clear/sensible way.

On the notebook front, @hzxusx raises a good point; the LaTeX renderer

[2018-03-14 05:34] lemmatum commented on #305
A good first effort would be to work in tandem with #304 and profile `parameters.py` vs. `parameters_cython.pyx`

[2018-03-15 19:46] lemmatum commented on #305
Useful [podcast with links](https://talkpython.fm/episodes/show/28/making-python-fast-profiling-python-code) on profiling/visualization.

[2018-03-17 06:03] StanczakDominik commented on #305
It will, and during development you most likely want quick feedback on whether you broke stuff *first*, and feedback on how much you slowed your code down only then (though really large slowdowns will be visible through slower tests anyway). However, another job, like we have for docs and latex, could be a good way of solving this.

Or we could assume doing stuff that requires benchmarks is rare e

[2018-03-19 07:14] StanczakDominik commented on #295
Actually, yeah, it's already done. Thanks for pointing this out, @ritiek! Closing.

[2018-03-19 07:14] #295 closed

[2018-03-20 20:18] StanczakDominik opened #307 "Code review improvements for braginskii.py"
These are the changes related to the [braginskii.py](https://github.com/StanczakDominik/PlasmaPy/blob/6908445462fbd5043f2ebc0844c18772b53ea054/plasmapy/physics/transport/braginskii.py) file (currently on my branch, as I'm splitting that out of `transport.py`) as noted down during our code review session today.

This is meant as a massive checklist.

* [ ] Line 9, multiline import statement
* [ ]

[2018-03-20 20:38] StanczakDominik opened #308 "Docstrings for Braginskii classical_transport"
The Braginskii methods in `classical_transport` currently in [transport](plasmapy/transport.py) (this will move with #303) have minimal docstrings. It would be quite helpful to add:
* [ ] information on units
* [ ] some physical discussion
* [ ] where do all these equations come from (references)

[2018-03-20 20:39] StanczakDominik opened #309 "Implement @particle_input and Particle class to get ion, electron masses, charges in classical_transport __init__"
Just what it says on the tin!

[2018-03-20 20:44] StanczakDominik opened #310 "Expand discussion of different models in classical_transport documentation"
Here's what I noted down:

@samurai688, we decided to poke you about this if you don't mind helping out :smiley: Also, @namurphy mentioned maybe contacting the original author of the Ji-Held model?

[2018-03-20 21:45] StanczakDominik opened #311 "Implement Epperlein-Haines model for transport coefficient"
After we merge #303 it's going to be under `transport/braginskii.py`, in `classical_transport` and methods that calls.

[2018-03-21 02:13] samurai688 commented on #310
Hi all!

Sorry I've been silent lately, been caught up in job-searching and now work is ramping up too. I'd be happy to help out commenting what I wrote in the classical transport function, if you can target me at the specific areas you want more information about, I can at least say what I was thinking.

I don't personally know the authors of what I've dubbed the Ji-Held model, I've only read som

[2018-03-25 15:33] StanczakDominik opened #312 "Merge functionalities of collision_frequency, collision_rate_{ion,electron}_ion"
I came across this working on #307 and #303. As discussed during the last code review session, we have three functions that sort of do the same thing, but not quite. In transport.py, there's @lemmatum's `collision_frequency` function. In [Callen's notes](http://homepages.cae.wisc.edu/~callen/chap2.pdf), it's equation 2.14.

https://github.com/PlasmaPy/PlasmaPy/blob/6d7942dc3ca473d7e9bc999d1e8a6e71

[2018-03-25 15:33] StanczakDominik commented on #312
Also, I'm happy I got this github syntax to work!

[2018-03-25 16:01] samurai688 commented on #312
Nice, looks right to me!  I think you've cracked the code.

It sounds like what we need is to understand and document all these different flavors of collision frequencies, which you've begun here. Then we could make the collision_frequency function able to produce all the different flavors on request, with some sort of sensible defaults. Then in each assorted function that needs collision frequenc

[2018-03-25 16:12] StanczakDominik commented on #302
Okay, clarification time. When you say "calculate plasma instabilities", what do you mean in particular? I'm rereading Chen's chapter 6 and the only thing that comes to mind is the dispersion relation (for the case of the two stream instability for now)  `1 = omega_p ** 2 (m/M / omega**2 + 1 / (omega - k*v_0)**2 )` as a function of... what variables?

[2018-03-25 16:14] StanczakDominik commented on #312
Sounds reasonable. This means we'd need to sort of bake in the ability for `collision_frequency` to calculate Maxwellian averages, as that's - as I understand it - your versions do. Maybe the sqrt(2) could even pop out algorithmically via some sort of reduced mass calculation

[2018-03-25 16:34] samurai688 commented on #312
Yeah, I feel like we would want a syntax to specify which collision
frequency we mean.  I've never really learned it all very well to be
honest.  It's like if somebody asks you what the "collision frequency" is,
you can give an order of magnitude, but if they have something specific in
mind than it's like, wait, do we mean electrons or ions, and then there's
often some factors of 4 or square roots

[2018-03-27 15:37] lemmatum opened #313 "Diagnostic class"
In the same vein as the Plasma blob class, there ought to be a class for describing diagnostics. This can then be inherited by specific diagnostics, e.g., spectrometer, interferometer, Langmuir probe, B-dot probe, polarimeter, etc.

If we want to model a measurement we can then feed a plasma blob, plus diagnostics (and geometry), to a function, for example BICEP2 + dusty plasma :smirk:

My current

[2018-03-27 16:15] lemmatum commented on #234
We should leave updates and links on what we've reviewed here.

Module review checklist:
- [ ] `atomic.py`
- [ ] `mathematics.py`
- [ ] `dimensionless.py`
- [ ] `distribution.py`
- [ ] `parameters.py`
- [ ] `quantum.py`
- [ ] `relativity.py`
- [ ] `transport.py`
    - [ ] `collisions.py`
    - [ ] `braginskii.py`

We should also go through the respective tests and cleanup that code.

[2018-03-27 17:25] lemmatum commented on #298
I'll get on the `collisions.py` documentation once #303 is done.

[2018-03-27 17:31] lemmatum commented on #312
Some of those factors of `sqrt(2)` may be due to different definitions of thermal velocity. I've been noticing that quite a few publications are either assuming `v_Th = sqrt(k * T / m)` or quietly switching between that and `v_Th = sqrt(2 * k * T / m)` and dropping factors of 2 along the way.
@samurai688 how does Braginskii define the thermal velocity in the publications you used to writeup the `t

[2018-03-27 17:35] lemmatum commented on #312
What would make this task easier is to take each definition for the collision frequency and split it up into its constituent parts: `freq = n * sigma * V * cou_log`, where `n` is the density, `sigma` is the collisional cross section, `V` is the velocity of the incoming particle, and `cou_log` is the Coulomb logarithm accounting for small angle collisions.

[2018-03-27 17:40] lemmatum commented on #309
![image](https://user-images.githubusercontent.com/28945309/37984479-9ca5ee96-31b3-11e8-81e2-e44966d466cc.png)

[2018-03-27 17:43] lemmatum commented on #305
I imagine there is a way to make profiling part of our pipeline for each minor release, that way we only have to do it once in a while. And we can also have some script for manually exposing it when we are working on optimizations locally. I think this would avoid the problem of slowing things down on each PR.

[2018-03-27 20:27] StanczakDominik opened #314 "Rework @check_quantity to get information from annotations like @u.quantity_input"
Enough said.

May need to solve issues with temperature first.

[2018-03-28 19:55] lemmatum opened #315 "Expand coverage for `PlasmaBlob` tests"
Most of the work here is just adding multiple plasma configurations to hit the various possible regimes for coupling and degeneracy.

[2018-03-29 20:01] lemmatum opened #316 "Generalize `ion_sound_speed`"
Currently `ion_sound_speed` under `parameters.py` only works in the limit `alpha = 1 / (k * lambda_De)` is large(?), such that the plasma is not dispersive. This should be generalized for all values of `alpha` and the docstring should be edited to reflect this generalization.

The general equation is on pg 2 of this [Google Doc](https://docs.google.com/document/d/1EcuxYoSzy-MpjjjqBE3E6zE8g6xYU2BH1

[2018-03-29 20:26] lemmatum opened #317 "Code is science manifesto"
There is an interesting manifesto about making sure code used in science is open sourced. It is called the [Code is Science Manifesto](https://codeisscience.github.io/manifesto/) and should be completed in June 2018 after a 6 month consultation period.

* Do we want to add anything to the manifesto?
* Do we want to sign it (as The PlasmaPy Community)?
* If we do sign it, we can add a badge to our

[2018-03-30 13:59] ritiek commented on #315
I'll give this a shot. :)

[2018-03-30 20:23] lemmatum opened #318 "Define a set of plasma regimes for tests"
I propose that we explicitly state typical outputs for our plasma functions in different regimes. This would go in the documentation, examples, and tests for our functions.

We should initially select regimes that we are familiar with. That means having a physical intuition for expected values, or at least, having a table of expected values from a textbook or publication.

For new plasma physics s

[2018-03-30 20:24] lemmatum commented on #318
One useful format for new students would be to make a few IPython/Jupyter notebooks as a tutorial on plasma regimes.

[2018-03-30 20:38] lemmatum commented on #312
So #303 is going to refactor `collision_rate_ion_ion` in terms of `freq = n * sigma * V * cou_log` and also add tests for `collision_rate_ion_ion` . From there I'll open a new PR to refactor in terms of `collision_frequency` from `collisions.py`. If that works, then we should just remove `collision_rate_ion_ion` altogether.

There are a few places to check for constant factor differences:
- [ ] re

[2018-03-30 22:19] lemmatum opened #319 "Create "shot sheet" interface in HDF5"
It's common to have what is known as a "shot sheet" on experimental runs. These are meant to track the shot number, date, time, diagnostics fielded, data acquired, calibration/setup, as well as comments (such notes on failed shots/diagnostics).

Unfortunately many groups use spreadsheets, such as Excel, to track this information. None of the information is linked to the actual raw data, and it is

[2018-03-30 22:20] lemmatum commented on #319
If people think this would be valuable addition to PlasmaPy, I would be happy to take this issue on as I need to do it for my data anyway. (two birds with one stone)

[2018-04-01 01:43] lemmatum commented on #318
In the more tutorial style documentation, we should have an IPython notebook that can produce an improved version of this type of plasma regime map:

![wdm_statediagram](https://user-images.githubusercontent.com/28945309/38169029-8f6fa4fe-351b-11e8-9265-8157ba795058.jpg)

[2018-04-02 03:02] lemmatum opened #321 "Add interferometry unwrap code"
I've got a simple code for doing 1D unwraps of interferograms to infer plasma electron density. I think this would be a good fit for the diagnostics section of this package. We could then further refine it to:
- [ ] do 2D unwraps
- [ ] Add filtering/padding utilities (especially for dealing with regions with no fringes)
- [ ] Add more sophisticated methods than naive unwrapping to deal with broken

[2018-04-02 11:44] ramsinghdayal opened #322 "While importing pytplot getting following error"
[code]

Even tried this, before importing pytplot but gives same error.
[code]

[2018-04-03 07:50] StanczakDominik commented on #322
What's pytplot? Are you sure this is a PlasmaPy issue?

[2018-04-03 09:46] ramsinghdayal commented on #322
https://github.com/MAVENSDC/PyTplot
This is PyTplot, which I am trying to install.
Thank you.

[2018-04-03 11:59] StanczakDominik commented on #322
It would probably make sense to make an issue over at that repository then. I'm going to close this, as pytplot is neither a part nor a requirement of PlasmaPy.

[2018-04-03 11:59] #322 closed

[2018-04-03 19:08] lemmatum commented on #298
Look at [atomic narrative doc](https://github.com/PlasmaPy/PlasmaPy/tree/master/docs/atomic) for example. Place transport narrative docs [here](https://github.com/PlasmaPy/PlasmaPy/tree/master/docs/physics/transport)

[2018-04-03 20:33] lemmatum commented on #159
If we get financial assistance from GSOC, they should be mentioned in the acknowledgements.

[2018-04-03 20:41] lemmatum opened #325 "Sort weird definition of deBroglie wavelength in impact parameter"
The `impact_parameter` function in `collision.py` currently uses an odd definition of the deBroglie wavelength. This definition is found in the NRL formularly, but is inconsistent with other definitions, for example, GMS (2002) paper, or the standard definition of the thermal deBroglie wavelength on Wikipedia.

This discrepancy may be because the NRL formulary is trying to get the minimum impact p

[2018-04-03 20:46] lemmatum opened #326 "Change function name b_perp to impact_parameter_perp"
We want a more descriptive name for the function `b_perp` in `collisions.py`. Change all instances to `impact_parameter_perp` throughout.

[2018-04-03 20:49] lemmatum opened #327 "Create Coulomb collision cross-section function"
Create a cross-section function for Coulomb collision under `collisions.py`. This should effectively be `sigma` under `collision_frequency`. Replace instance of `sigma` with this new function.

[2018-04-03 20:54] lemmatum opened #328 "Add custom mass argument for functions in `collisions.py`"
The reduced mass that is currently used throughout `collisions.py` is currently in conflict with different definitions for these transport functions. One way to easily implement other definitions of transport functions is to just have the particle mass as an optional argument. This would allow us to avoid calculating strange coefficients between different definitions of things like collisional fre

[2018-04-03 20:55] lemmatum commented on #328
Should also add tutorial documentation showing how to reproduce common values for functions found in Chen's Intropduction to Plasma Physics, as well as the NRL formulary. Related to #298

[2018-04-03 20:59] lemmatum opened #329 "Check if particle arguments are symmetric in `collisions.py`"
For example `particles = ['e', 'p']` should yield the same answer as `particles=['p','e']` for `Coulomb_logarithm. This should be true for all `particles` inputs in `collisions.py`.

- [x] Add pytests to check if transport values are indeed symmetric with respect to particle input order
- [x] If they're not symmetric, determine whether this is due to code or theory
- [x] If asymmetry is due code,

[2018-04-03 21:09] lemmatum opened #330 "Create a CouplingWarning"
Create a `CouplingWarning` similar to `RelativityWarning`. This should raise a warning for functions that rely on the weakly coupled regime to be valid.

- [x] Create `CouplingWarning`
- [x] Add this warning under `Coulomb_logarithm` and related functions for when `ln_Lambda < 2` (consistent with floor on `"GMS-3"`) for `"classical"`, `"GMS-1"`, `"GMS-2"`, and possibly `"GMS-3"`methods.
- [x] Add

[2018-04-03 22:31] lemmatum commented on #52
I think a good chunk of this overlaps with [SpectroscoPy](https://github.com/PlasmaPy/SpectroscoPy). In particular, [this issue](https://github.com/PlasmaPy/SpectroscoPy/issues/4) aims to create atomic state classes as an easy to use interface for fetching information from various databases. We just need to be careful about creating circular dependencies, in case SpectroscoPy will need to import p

[2018-04-04 03:48] StanczakDominik opened #331 "Turn astropy quantities into strings with Python syntax for __repr__ fields"
As per #303 and the __repr__ of our PlasmaBlob method,

a) I'm missing something from their docs
b) we contribute upstream and figure out a way to add this string format.

I'm thus noting this down so as to remember to figure this out. It seems nontrivial for now, but if we figure it out we might be able to contribute something back to astropy.

[2018-04-04 03:50] StanczakDominik opened #332 "Warn, not raise with UserWarning"
That seems to have landed under raise clauses for a whole bunch of lines in our code. We'll have to fix that, update tests and the docs as well.

[2018-04-04 03:53] StanczakDominik opened #333 "Fix documentation table of contents levels"
This is the first of what will probably be many issues with our docs... Nick's atomic docks are nice, but they seem to sort of jump up to the top level in the table of contents while ideally we'd like them below the general atomic doc heading.

[2018-04-04 04:52] StanczakDominik commented on #332
I now remember why I didn't fix this way back when I first started digging into this! It's because our current lenient `check_quantity` that should allow to cast floats to default SI units... doesn't.

[2018-04-05 03:55] StanczakDominik commented on #156
Closed by #193 with possible extension of more parameters to be added

[2018-04-05 03:55] #156 closed

[2018-04-05 19:29] namurphy opened #336 "Have @particle_input work with tuples of particles"
Presently the @particle_input decorator works by converting an argument annotated with the `Particle` class into a corresponding `Particle` instance.  An example:
[code]
However, there are functions that take in tuples or lists of particles.  For example, `Coulomb_logarithm` has a `particles` argument that is for a tuple or list of the test particle and the target particle.  This usage is not supp

[2018-04-05 19:38] #332 closed

[2018-04-05 20:51] namurphy opened #337 "Make call_string work with Quantity objects"
The [`call_string`](https://github.com/PlasmaPy/PlasmaPy/blob/28156768b242564265e33b3baf8ae231f1a7c166/plasmapy/utils/pytest_helpers.py#L82) function in `utils` is designed to return a string of a function call, which is often really useful to put into error messages.  An example is:
[code]
However, `call_string` does not work so well with Quantity objects:
[code]
Since we generally do `import ast

[2018-04-05 22:51] lemmatum opened #339 "Add useful Langmuir probe criteria functions"
There are a number of equations which describe whether the interaction between a Langmuir probe and a plasma is in a simple/stable regime as well as on what temporal and spatial scales these interactions take place. We should add the following to our Langmuir probe library:

- [ ] Bohm sheath criterion (noting that this is an inequality and not an equality!)
- [ ] Child-Langmuir law for time scale

[2018-04-05 22:57] lemmatum commented on #158
Some theory stuff to add
- [ ] ABR
- [ ] Laframboise
- [ ] Kiel (collisional theory)
- [ ] Current-mode probes
- [ ] thermionic emission (super hot probes like to emit particles and it's a pain!)

I think the functions should be available for both forward and inverse analysis.

[2018-04-05 23:10] lemmatum commented on #336
Brainstorming on the design of this.... can we change all the particle inputs to be a tuple of particles and then add a check within the decorator to test if the correct number of particles (correct size tuple) has been passed to the function of interest?

you could then do something like
[code]

This will probably make generalizing from 1 particle to many particles a lot easier.

[2018-04-06 01:05] namurphy opened #341 "Implement @particle_input and Particle class in physics subpackage"
The [`@particle_input`](https://github.com/PlasmaPy/PlasmaPy/blob/28156768b242564265e33b3baf8ae231f1a7c166/plasmapy/atomic/particle_input.py#L66) decorator and [`Particle`](https://github.com/PlasmaPy/PlasmaPy/blob/28156768b242564265e33b3baf8ae231f1a7c166/plasmapy/atomic/particle_class.py#L100) class were recently created in order to take an object-oriented approach to atomic data, and simplify ho

[2018-04-06 01:13] namurphy commented on #341
This is also related to #309.

[2018-04-06 01:16] namurphy commented on #214
We've made a good amount of progress on this in `dielectric.py`.  What else do we need to do before we can close this issue?

[2018-04-06 01:17] #263 closed

[2018-04-06 07:56] lemmatum opened #342 "Check that correct velocity is used in collision_frequency"
`collision_frequency` uses the Coulomb logarithm, but in [most places](https://github.com/PlasmaPy/PlasmaPy/blob/28156768b242564265e33b3baf8ae231f1a7c166/plasmapy/physics/transport/collisions.py#L664) the argument for velocity to `Coulomb_logarithm` is `np.nan`. I'm not sure that this is correct.

[code]

We should check if just passing the velocity would be more efficient and correct.

[2018-04-06 13:36] namurphy opened #343 "Separate how Particle class treats ions and neutral atoms"
Right now the `Particle` class has an attribute `Particle.ion` which returns the ionic symbol if the particle is either an ion or a neutral charged particle (see also #338 which changes `ion_symbol` to `ionic_symbol`).  This can lead to confusion since if we treat `Particle.ion` as a `bool` to check whether or not something is an ion, then it will return `True` for neutral atoms where the charge i

[2018-04-06 17:17] namurphy opened #345 "Resolve DeprecationWarnings associated with Quantity comparisons"
When running our tests on Travis CI, we are getting a bunch of warnings associated with something like `astropy.units.Quantity` objects.  We should track down the reason why we are getting this `DeprecationWarning` so frequently, and resolve it if possible.  If it's something in Astropy itself that hasn't been addressed in the development version, then we could contribute an upstream fix or just i

[2018-04-06 20:41] StanczakDominik commented on #345
After much deliberation, I have come to the conclusion that I dunno.

It's something between `common_isotopes`, `isotopic_abundance` and `known_isotopes`, but at the same I haven't been able to pinpoint exactly where they happen. They also pop up in multiple places in `test_atomic`.

[2018-04-06 22:13] lemmatum opened #347 "Raise error when `V=0` is passed to transport function"
When `V=0` is passed the two particle system is static and the particles cannot go through a Coulomb collision (or any collision for that matter). We should raise an error, and perhaps create a new error for this specific case, for all relevant functions in `collisions.py`.

[2018-04-06 22:17] lemmatum opened #348 "Check if we should pass user-defined velocity to coulomb_logarithm in collision_frequency"
`collision_frequency` in `collisions.py` uses the `coulomb_logarithm` function to account for small angle collisions, but in all cases `V=np.nan * u.m / u.s` is passed, which means that `coulomb_logarithm` defaults to using the reduced mass thermal velocity instead of whichever velocity the user has passed (if they passed one). I think this needs to be fixed, and it'll break the tests where a velo

[2018-04-09 13:54] flo64 opened #349 "unable to execute "from plasmapy.atomic import Particle""
I would like to contribute to this project but, after installing plasmapy on my machine (pip install on Anaconda), Spyder was unable to execute the tutorial first line:
`from plasmapy.atomic import Particle`

throwing: _"ImportError: cannot import name 'Particle'"_

My question is: is it the first time it happens?

[2018-04-09 13:59] StanczakDominik commented on #349
Could you post a complete traceback of the ImportError?

[2018-04-09 14:41] #343 closed

[2018-04-09 15:26] namurphy commented on #349
I think this might be because the version of PlasmaPy available through pip is old enough to pre-date the `Particle` class.  I'll create an issue that we need to do our first alpha release of `0.1.0`.  In the meantime, it should work if you get the repository from GitHub using the [install instructions](https://github.com/PlasmaPy/PlasmaPy/blob/master/INSTALL.md).  That should handle installation

[2018-04-09 15:28] namurphy opened #350 "Make our first alpha release on PyPI"
Very soon we'll need to make our first alpha release on PyPI, which will probably be version `0.1.0a1`.

[2018-04-09 19:22] #297 closed, assigned to nobody

[2018-04-09 19:40] namurphy opened #352 "Create a class to represent ionization state distributions"
There are a variety of situations for which plasma physicists need to keep track of ionization state distributions (e.g., what fraction of iron is neutral, singly charged, doubly charged, etc.).  We should create a base class that is able to store and access this information.  This can probably be related to the `Particle` class.

This class should be able to be extended to have functions that can

[2018-04-09 20:36] wtbarnes commented on #352
When using the CHIANTI database, one can obtain the ionization fractions 1 of 2 ways,

* Access pre-computed ionization fractions stored in CHIANTI tabulated at different temperatures (there are multiple datasets available for the same elements/ions)
* Compute the ionization fractions yourself using the ionization and recombination rates

Note that in both cases, it is assumed that the rates (and

[2018-04-10 00:53] lemmatum commented on #352
@wtbarnes When computing rates is this done simply via Saha-Boltzmann or do you have a more sophisticated model? Have these been checked against other codes/databases?

Another way to get ionization rates would be to query NIST. I believe they have a temperature and density sensitive method for getting these rates. In any case, if density sensitive rates aren't yet implemented in fiasco, perhaps w

[2018-04-10 00:56] lemmatum commented on #349
I second @namurphy 's suggestion about using the linked installation instructions.

Should we change the README in the meantime to remove mention of installation from PyPI and then make that an issue for `0.1.0`?

[2018-04-10 03:35] lemmatum commented on #298
- [ ] Check if `collision_rate_electron_ion` docstring in `collisions.py` compiles correctly. Especially `* nu_e\i_S from ref [2]_ eqn (1) pp. #,`

[2018-04-10 03:47] lemmatum commented on #312
So Callen's equation 2.14 is identical to my implementation of `collision_frequency, at least this portion with the exact equality is:
![image](https://user-images.githubusercontent.com/28945309/38535080-2200611c-3c3f-11e8-888f-114acf3816e9.png)

I have not idea where `collision_rate_ion_ion` and `collision_rate_electron_ion` get these strange coefficients from. (Where in the world does the factor

[2018-04-10 04:10] lemmatum commented on #312
Here is my work for demonstrating `collision_frequency` is consistent with eq 2.14 in Callen

* Equations 1-3 are definitions I used in `collision_frequency` based on Chen. Note that subscripts 1 and 2 refer to particle species
* Eq 4 is substituting Eqs 2 & 3 into Eq 1
* Eq 5 is just some algebra
* Eq 6 assumes one of the particles is and electron and the other particle is an ion. Therefore Z_1 b

[2018-04-10 06:07] wtbarnes commented on #352
@lemmatum CHIANTI is primarily used for diffuse, high-temperature optically-thin astrophysical plasmas, in particular the solar corona, where the assumption of local thermodynamic equilibrium is not likely to hold. Because of this, the ionization fractions must be determined by a balance between the ionization and recombination rates,

<img src="http://www.sciweavers.org/tex2img.php?eq=%20%5Calpha

[2018-04-10 08:05] lemmatum commented on #352
@wtbarnes thanks for the details! They'll be useful in figuring out the scope of what need to be done in SpectroscoPy without duplicating effort. I've opened an [issue in SpectroscoPy](https://github.com/PlasmaPy/SpectroscoPy/issues/37) to deal with this feature.

[2018-04-10 17:32] namurphy commented on #154
I think we've taken care of everything for this, so I'll close this.

[2018-04-10 17:32] #154 closed

[2018-04-10 23:50] lemmatum commented on #342
Related to #348

[2018-04-10 23:50] lemmatum commented on #348
Related to #342

[2018-04-13 18:35] namurphy opened #355 "Describe our standard way to represent tensors in contributor guide"
For better or for worse, plasma physics tends to involve a lot of tensors.  This includes frequent usage of dyadic tensors with notation that isn't used that frequently outside of our field.  We should figure out a standard way of representing tensors, both for symbolic manipulation and for situations where we need numerical values.  These objects should be able to be operated upon, including with

[2018-04-13 23:32] lemmatum commented on #355
Aren't tensors just linear algebra? I would think numpy and scipy cover most of the operations we need for this.
scipy seems to have a [tensordot function](https://docs.scipy.org/doc/numpy/reference/generated/numpy.tensordot.html) and here is scipy's [linear algebra library](https://docs.scipy.org/doc/numpy/reference/routines.linalg.html). There also seems to be an initial implementation for a [sc

[2018-04-14 04:45] ritiek commented on #327
Just wanted to clear some confusion. This definition matches [the one in the docs](http://plasmapy.readthedocs.io/en/latest/api/plasmapy.physics.transport.collision_frequency.html) but is there a reason for `(2 * bPerp)` in the source code?

https://github.com/PlasmaPy/PlasmaPy/blob/166747196434232946086a36ae916fbfc65d6bc6/plasmapy/physics/transport/collisions.py#L717

[2018-04-14 09:09] StanczakDominik opened #357 "improve auto pep 8 style suggestions"
https://github.com/PlasmaPy/PlasmaPy/pull/356#comment-181546823

There's a bunch of stylistic issues we possibly could check automatically that we aren't. For starters, checking that we have multiple arguments on separate lines could be nice!

[2018-04-14 11:27] ritiek opened #359 "Coulomb_logarithm raises RelativityError instead of RelativityWarning"
The [docs mention that](http://plasmapy.readthedocs.io/en/latest/api/plasmapy.physics.transport.Coulomb_logarithm.html#coulomb-logarithm) `physics.transport.Coulomb_logarithm` raises a `RelativityWarning` if the input velocity is greater than 5% of the speed of light.

But in actual it results in `RelativityError` instead of `RelativityWarning`:

[code]
[code]

[2018-04-14 11:33] jasperbeckers commented on #319
I feel like this would be branching out too far. I like the idea very much but I do not see the immediate, specific relevance to plasma physic. Maybe it could be the basis of a distinct experimental data handling package.

[2018-04-14 11:50] StanczakDominik commented on #359
Working as intended! Check relativistic is supposed to warn at speeds from 0.05 to 1 c and raise an error above that. Perhaps the error message could be reworded to say it's, for example, 7% c for a warning and 120%c for an error.

[2018-04-14 11:55] ritiek commented on #359
Ah, I see. Yep, I think it would be nice to add `RelativityError` along with `ValueError`, `UnitConversionError`, etc. in errors raised.

[2018-04-14 11:56] StanczakDominik commented on #359
I remember wondering why we didn't have one! Wanna try? That should be the only place it's going to pop up right now.

[2018-04-14 12:00] ritiek commented on #359
This seems to be the case with most functions in [`collisions.py`](https://github.com/PlasmaPy/PlasmaPy/blob/166747196434232946086a36ae916fbfc65d6bc6/plasmapy/physics/transport/collisions.py). I'd be happy to make a PR!

[2018-04-14 12:32] jasperbeckers commented on #71
We can wrap up this issue since it is being covered on the [PlasmaPy-logo](https://github.com/PlasmaPy/PlasmaPy-logo) rep.

[2018-04-14 13:08] StanczakDominik commented on #71
PlasmaPy/PlasmaPy-logo#1 it (probably, guessing) is, then!

[2018-04-14 13:08] #71 closed

[2018-04-14 16:43] #359 closed

[2018-04-14 18:38] namurphy commented on #357
There was a command for pep8speaks to create a PR that has suggestions on PEP8ifying the code by using autopep8.  I tried this once, and though we decided on a 99 character line limit, it suggested shortening lines to 79 characters.  It'd be helpful to make sure that autopep8 in conjunction with pep8speaks allows lines up to 99 characters.

[2018-04-15 01:32] lemmatum commented on #327
@ritiek Note that `sigma ~ pi * b_perp ** 2` is using `~` (similar) rather than `=` (equals). When we use `~` in physics the tendency is to keep variables but drop coefficients, and equations written in this form are there to give an idea of what are the important effects/parameters rather than to be precise.

`sigma = pi * (2 * b_perp) ** 2` is correct, and it follows the general definition for a

[2018-04-15 01:34] lemmatum commented on #327
@ritiek we can of course replace the equation in the docs with the more precise version, to eliminate any ambiguity.

[2018-04-15 01:41] lemmatum commented on #319
@jasperbeckers that's fair. My thought was that if we implemented it here we can get the seed started without having to go through the efforts of making a separate package and then if it does indeed grow large enough it can be forked into it's own repo.
Also, one could integrate plasma physics analysis with the shot sheet data structure, though this could be done just as well by making a generaliz

[2018-04-15 09:27] Griffintaur commented on #294
Hi , I would like to take this issue. Is it still open for contribution?

[2018-04-15 09:29] StanczakDominik commented on #294
Pretty sure it is! Go for it! :)

[2018-04-16 05:51] StanczakDominik opened #362 "Contribute a paper to scipy proceedings before May 21st"
year's event -- we look forward to seeing your poster or presentation! As in
the past, SciPy 2018 will release a conference proceedings prior to the
start of the conference, and you are invited to contribute a full-length paper
(up to 8 pages) expanding on your abstract.

scientific computing in Python, such as:

from the program committee and the scientific Python community at large will
provide

[2018-04-16 06:25] #337 closed

[2018-04-16 06:26] StanczakDominik commented on #331
Closed by #358!

[2018-04-16 06:26] #331 closed

[2018-04-17 07:05] jasperbeckers opened #364 "Quantity check decorator cannot handle optional parameters"
Currently the decorator functions raise an error if the optional parameter is not passed and has a None value. Easily solved by adding a `can_be_none` option to the functions in [check.py](https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/utils/checks.py).

[2018-04-17 18:49] #255 closed

[2018-04-18 01:56] lemmatum commented on #362
Should we make a repo or directory for this (and perhaps all future papers)? We could then have circle-ci or similar run over it to compile the LaTeX, have everyone contribute/review, etc.

[2018-04-18 04:07] lemmatum commented on #69
Is anyone working on this? Seems like we don't even have a PR for the PIC stuff.
I'd be interested in contributing, especially as I've been meaning to learn about PIC codes for my Langmuir probe experiments.

[2018-04-18 04:10] lemmatum commented on #7
@namurphy note that "kinetic" and "PIC" are actually two different simulation methods (though I think they can sometimes be brought together to bear upon a problem).
Somewhat useful [wikipedia page](https://en.wikipedia.org/wiki/Plasma_modeling)

[2018-04-18 04:15] lemmatum opened #365 "Implement kinetic simulations"
[Kinetic simulations](https://en.wikipedia.org/wiki/Plasma_modeling#Kinetic_Description) (solving for Vlasov or Fokker-Planck equations) are extremely useful for investigating plasma instabilities, for example laser-plasma instabilities.

I believe 1D and 2D code should be manageable, and I may have some notes kicking around from the high energy density physics summer school in San Diego on how to

[2018-04-18 04:22] lemmatum opened #366 "Implement a 1D radiation-hydrodynamic code"
Rad-hydro codes are a staple for designing laboratory plasma experiments. A simple 1D code should be well within the reach of this project. We could start by implementing simple inverse bremsstrahlung, and then add complexity with opacity models and such. For most rad-hydro simulations the opacity models don't need to be very detailed, and can be quite rough estimates.

The current standard among

[2018-04-18 04:30] lemmatum commented on #7
Also perhaps we can take some inspiration from and compete with [FLASH](http://www.flash.uchicago.edu/site/)

[2018-04-18 04:42] StanczakDominik commented on #69
Remember my slow thesis code? That was what I was gonna contribute for this, and then it came out slow as heck and I got demotivated.

I can into Cython now, though, so I may have to revisit that!

[2018-04-18 06:29] antoinelpp commented on #69
Hi there, I tried a few months ago and I arrived to the conclusion that :
1. I wasn't yet sur of the structure of the pic code that we would need
2. I had to build one outside of PlasmaPy
So I have a 1D Pic code working nicely, and can show it to you and I think I can try to do a PR on it.

However it is not perfect yet, especially question coverage and versatility

[2018-04-18 06:43] StanczakDominik commented on #69
@antoinelpp so we essentially have two 1D codes. Wanna compare and combine? :D

[2018-04-18 07:06] lemmatum commented on #69
@antoinelpp excellent, thanks for linking it! You might be able to just start a PR as is and then use our feedback to help with coverage and versatility (if you need it).

By the way, do we want a module for electromagnetic equations and such? I assume we will need things like Maxwell's equations and Lorentz force for a much of our simulation needs.

[2018-04-18 09:32] antoinelpp commented on #69
@lemmatum  Allright I'll do that in a few ! :smile:  Concerning improvements the Lorentz force is quite easy to take into account, but for the electro-magnetic equation I really don't know how to do it...

@StanczakDominik I took a look at yours, and it is really good ! Definitely we should combine !

[2018-04-18 12:23] lemmatum opened #367 "Numerical type bounds"
Numerical types (floats, integers, etc) can have different bit lengths and therefore different minimum and maximum bounds across platforms. We've already encountered this with Appveyor having a different integer length than Travis, and with Travis having a different float size from local tests when designing tests.

We should implement a way to handle, or at least warn, about these issues. I would

[2018-04-18 12:46] #158 closed

[2018-04-18 12:56] lemmatum opened #368 "implement Langmuir probe area function"
Initially focus on cylindrical probes. It should have 3 methods for calculating probe area given radius and length:
* perpendicular area `pi * r ** 2`
* parallel area `2 * pi * r`
* total area = perpendicular area + parallel area

We can then expand this function to handle different probe geometries (e.g. spherical probes, planar probes)

[2018-04-18 12:59] lemmatum opened #369 "Add Druyvesteyn method equation to Langmuir docstring"
The function for obtaining the EEPF needs an equation in the docstring. It'll look something like second derivative of probe current with respect to bias equals blah.

[2018-04-18 13:03] lemmatum opened #370 "Check consistency of Langmuir probe module units"
In particular the Langmuir probe module uses electronvolts for the temperature unit. The consistency of the units needs to be checked throughout and perhaps needs to be converted or have an easily available method for converting into kelvins.

[2018-04-18 13:08] lemmatum opened #371 "Improve noisy data handling in langmuir.py"
In particular `get_plasma_potential` uses a gradient method for determining the "knee" location in the I-V characteristic. This method will be susceptible to noise, which can often cause larger gradients than the overall trace features. A method needs to be implemented for filtering or smoothing the data prior to running this function.

And in general the `langmuir.py` module should have filtering

[2018-04-18 13:10] lemmatum opened #372 "Move Langmuir visualization into separate functions"
Simple enough issue, just clean up the code a bit by moving the visualization functionality, for example [here](https://github.com/PlasmaPy/PlasmaPy/blob/eb01d257d06765eeb54bb7a1032b66511803f25d/plasmapy/diagnostics/langmuir.py#L323), into separate function(s).

[2018-04-18 13:12] jasperbeckers commented on #371
I use the Savitzky-Golay method personally combined with a Butterworth filter for periodic signal noise. The configuration of these methods is hugely data-specific. Shouldn't we leave this to the users?

[2018-04-18 13:13] lemmatum opened #373 "Integrate Particle into arguments in langmuir.py"
Currently, the `langmuir.py` module uses the `gas` argument in a number of functions to define the mass of the plasma species. This should be refactored to use the Particle class instead.

[2018-04-18 13:19] lemmatum commented on #371
It may still be worthwhile to expose some of these methods through our interface with some sensible defaults. Or at the very least document recommended methods, be it through IPython notebook examples or in the doc pages.

[2018-04-18 13:30] jasperbeckers opened #374 "Add references in plasmapy.langmuir docstrings"
At the moment the `plasmapy.langmuir` docstrings lack references altogether. These need to be added ASAP. A small part of the functions (namely initial fitting parameters and electron temperature-based offset of the exponential region extraction) are empirical. Is that fine?

[2018-04-18 13:36] jasperbeckers opened #375 "Add error support to the Langmuir analysis"
This will require a rework of the `Characteristic` object (alternatively a separate `Characteristic` object is used that solely contains the error values). Each function should work without provided errors, but also propagate errors throughout the analysis when these are given. Errors from the fits are readily available but it might prove problematic to input both x- and y-errors into the fit itse

[2018-04-18 13:42] jasperbeckers opened #376 "Support for double langmuir probe analysis"
Double Langmuir probe characteristics are not hard to analyze as they are symmetric and have a linear proportionality to electron temperature around the midpoint. This will require a refactoring of the the `get_electron_temperature` function (should be split into multiple functions), as well as the main `swept_probe_analysis`.

[2018-04-18 13:59] lemmatum opened #377 "Support for current-mode triple Langmuir probes"
Current-mode is substantially different from voltage mode, so this will likely have to be in its own module.
Current-mode involves measuring current over time with 2 fixed voltages, whereas in voltage mode the third tip is usually floating due to a large resistor between it and the double probe portion of the assembly.

Anyway, I've got a code for this so I'll implement it.

[2018-04-18 14:01] lemmatum commented on #369
Sure, sounds reasonable.

[2018-04-18 14:02] jasperbeckers opened #378 "Alternative method of obtaining plasma potential in plasmapy.langmuir"
Generally two methods are used in order to obtain the plasma potential (or equivalently electron current saturation current):

- Obtain the maximum gradient along the characteristic. This has been implemented.
- Obtain the intersection between a linear fit to the exponential growth region and a linear fit of the sheath expansion region in log space. [See this example](http://www.davidpace.com/wp-c

[2018-04-18 14:11] jasperbeckers opened #379 "Use numpy.load and save instead of pickle"
As @StanczakDominik put it:

[2018-04-18 14:20] jasperbeckers opened #380 "Improved ion saturation current method"
The current implementation - very naively - assumes that the ion current will, given a sufficiently negative bias, saturate perfectly so that the minimum current of the characteristic is the best approximation of the ion saturation current. This neglects sheath expansion; a better method would be to obtain the intersection of a linear fit to the ion current in log space with the floating voltage `

[2018-04-18 15:31] lemmatum commented on #380
And here I was about to open an issue on sheath expansion and saturation currents that are never quite saturated because they can gradually increase with voltage :smile:

[2018-04-18 17:41] StanczakDominik commented on #374
It's absolutely fine! That needs to be written down and available right there in the docs though.

[2018-04-18 21:46] lemmatum commented on #301
[Cantera](https://cantera.org/docs/sphinx/html/index.html) claims to have some applicability to plasmas, so it might be worthwhile to take a look into that.

[2018-04-19 01:38] lemmatum commented on #69
Perhaps some of these resources could be of use? I think the two PDFs mention EM fields.

* http://plasma.kulgun.net/simulation/
* http://cips.colorado.edu/mathcad/13_PIC_Beam_Plasma_5.pdf
* http://hedpschool.lle.rochester.edu/2011SummerSchool/lectures/Ren.pdf
* https://www.particleincell.com/blog/

[2018-04-20 01:27] namurphy commented on #366
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2018-04-20 01:27] namurphy commented on #366
This would be great for modeling the response of the solar chromosphere to flares!

[2018-04-20 01:55] tulasinandan commented on #365
Well Gekyll is fully kinetic discontinuous gelarkin finite element code:
https://www.sciencedirect.com/science/article/pii/S0021999117307477

It's in C++ and uses Lua to interface with the code. It's still not open source but they will do it soon (hopefully).

There is also the HVM code, that solves Vlasov equation in the hybrid kinetic relam, from Italy that is also not open source.

As far as ot

[2018-04-20 02:05] tulasinandan commented on #371
We have had success with a new trick that we delveloped in the last month here at UD. We call it spectral hampel. This is good for some systematic noise that produces spectral peaks at particular frequencies. We developed it to take care of what we call the "detector-gap" noise in MMS Solar Wind data.

The basic idea is to look at the frequency spectrum to identify the peaks, use a Hampel filter t

[2018-04-20 02:12] tulasinandan commented on #355
I agree with @lemmatum that scipy's linear algbera should suffice. However there is a related discussion to be had about tensors.

I have been thinking about it for a long itme now. Not the "tensor implementation" per se, but the organization of simulation data around these ideas. Right now in TurbPlasma I simply have each component loded as a scalar (for vectors as well as tensors like pressure)

[2018-04-20 04:13] lemmatum commented on #365
@tulasinandan so we already have a number of issues for creating a PIC code #69 , so I was thinking of focusing on Vlasov (and the like) for this issue.

Thanks for the update on all those codes - seems like a lot of closed source, so this issue may be of high impact.

[2018-04-20 05:06] tulasinandan commented on #365
I see. I think of *any* code that has kinetic capability when someone says kinetic simulation.

I like to call the kind you are referring to as Eulerian Vlasov codes, as the distribution function is treated in an Eulerian fashion instead of a Lagrangian fashion like in PIC. I remembered that we had an open PIC issue but wasn't sure if it was stalled or not. I'm coming back after a long hiauts. I'l

[2018-04-20 05:08] lemmatum commented on #366
@namurphy  that might not be a bad idea if it ends up importing from both PlasmaPy and SpectroscoPy. We can then avoid dependency hell.

[2018-04-20 05:09] tulasinandan commented on #69
Guys, I am back after a long hiauts. I'll join forces. We also have https://github.com/UCLA-Plasma-Simulation-Group/PIC-skeleton-codes to get some guidance from. These are written in Fortran but have python interfaces. The coding style is not my preferred style but the codes are very well tested and should be good for benchmarking.

[2018-04-20 05:13] tulasinandan commented on #80
About the EM solvers, I was wondering if we should re-invent the wheel or use an exsting EM solver. For a modular framework we would want a separate Maxwell solver for the fields.

[2018-04-20 05:25] tulasinandan commented on #81
@colbych has a nice interpolation routine in his Py3D package. We could port that as a starting point instead of writing a new one.

Also this is a generic enough task that is very useful even outside PIC simulation. One example would be taking a cut across an array with a step size that does not always fall on the grid.

We should also make sure that it is general enough to take different shape f

[2018-04-20 05:58] StanczakDominik commented on #366
From a technical standpoint it would be much less work to just keep everything in PlasmaPy. I suppose thematically that doesn't work as well, but...

[2018-04-20 07:13] antoinelpp commented on #69
Hi @tulasinandan thanks for reviving the PIC part ! :smile:  I didn't know about the UCLA-Plasma-simulation Group, i'll take a close look at it !
Do you think of using C/Fortran libraries for our package ?
And what do you guys think of parallel code ?

[2018-04-20 08:10] tulasinandan commented on #69
I wish I oculd have put in more effort earlier but job applications and proposals are time consuming projects by themselves!

I would vote against using C/Fortran libraries, for portability issues. Although we could create small interfaces for codes like UCLA codes. This should be easy as they already have example python codes. All we need to do it to write an interface that lets PlasmaPy communic

[2018-04-20 09:05] lemmatum commented on #69
Easy solution: make the data structure all arrays where the elements don't depend on each other, so that you can just map functions over them in an embarrassingly parallel way (in Cython).. can't have race conditions if there if there are no clashes in memory :stuck_out_tongue_closed_eyes:

More serious solution: Write as much of the code in a purely functional way as possible, and then those func

[2018-04-20 09:10] lemmatum commented on #366
I think it would work just fine within the PlasmaPy theme. I mean we already have PIC and MHD codes lined up, why not rad-hydro?
I think we should start on it here, and then if it becomes too difficult to manage within PlasmaPy (e.g. import conflicts, directory structures getting too deep, etc.) we can fork it into it's own affiliated package.

[2018-04-20 17:26] Griffintaur opened #386 "Documentation needed for how to do code verification and code quality"
I couldn't find below-mentioned points either on Github or website.
Documentation missing points :
- How to do verify code changes or play with the code [for developers/contributors]
- How to do verify code quality and follow style guidelines before contributing
- Things to do before you make a pull request
- How/ Where to write the unit test to ensure code coverage.

[2018-04-20 19:11] StanczakDominik opened #387 "Reorganize distribution.py"
The code in distribution.py has multiple functions for the same physical distribution. This could probably use an object oriented interface!

In fact, it could be a good idea to look at how scipy.stats does their probability distribution functions and basically subclass that interface. That, however, is worth a lot more of bonus points, so it's more of an optional thing for later. Or it could be t

[2018-04-20 19:26] StanczakDominik commented on #386
@Griffintaur Thanks for pointing this out! The only way our docs are going to get good is by people actually using them, so I'm really grateful for trying. I'm gonna discuss your points one by one:

If you mean local testing here, that's included: http://docs.plasmapy.org/en/master/development/testing_guide.html . If you mean something else, please elaborate :)

Yeah, that's something we have to i

[2018-04-20 19:27] lemmatum commented on #387
To be clear, we have:
* 1D Maxwellian speed distribution
* 1D Maxwellian velocity distribution
* 3D Maxwellian speed distribution
* 3D Maxwellian velocity distribution
and then the same for kappa distributions. How do you want to organize this?

One way would be to combine functions with the same dimension and then add a method flag to select between speed or velocity distribution. I think combini

[2018-04-20 19:35] lemmatum commented on #386
@StanczakDominik :laughing:
I like your list and especially that you provided links to places in the docs that already answer some of these questions. It'll make linking and organizing things easier. I don't see any conflicts between our lists, so it should be easy to just combine all the ideas for great good!

I think I'd also add:
* mention when you are working on an issue by commenting within t

[2018-04-20 19:44] StanczakDominik commented on #386
@lemmatum  to your last point:
* Put `[WIP]` (standing for `Work in Progress`) in your PR's title while you don't want it merged just yet and you're just looking for feedback.

[2018-04-20 19:47] StanczakDominik commented on #387
I think it'd make sense to have something like

[code]
I'm up for discussing the dimensional issue, there's probably a better solution in there.

[2018-04-20 20:36] #369 closed

[2018-04-20 20:36] #374 closed

[2018-04-20 22:16] lemmatum commented on #365
If it's not fluids then it's all kinetics in the end :laughing:

I'm not sure about the jargon for what to call these kinds of code - I just remember seeing them at the HED summer school and thinking they were pretty neat. (though digging through the files I do find some PIC stuff associated with those codes as well). When we start building stuff I might link some of that summer school code as gis

[2018-04-20 22:32] lemmatum commented on #387
Is there a way to use classes such that you don't have to go through the "constructor"? Otherwise this just seems like extra hoops for a user to jump through.

Function interfaces are nice because if you have a decent IDE then it'll pop-up and tell you what are the positional and optional arguments. It also means the arguments are explicit.

That being said, maybe we can make a function called `ma

[2018-04-21 03:27] tulasinandan commented on #69
@lemmatum I have not programmed in Haskell but I usually like to follow the fundamental principle of functional programming, that functions should be as independent of everything else as possible.

Now, whatever we do, I am not sure how we would take care of the memory management issues for particle arrays in an easy way (for parallel applications). For serial, it's trivial. You assign memory and

[2018-04-21 03:43] tulasinandan commented on #365
Any kinetic code is suitable for modeling laser plasma interactions from the physics point of view. By definition they have the desired physics. The main point that decides the usability is really the numerical stability in that parameter regime, the availability of appropriate tools and boundary conditions, and numerical expense. And finally, the acual avaiability of the code.

Eulerian vlasov co

[2018-04-21 03:47] tulasinandan commented on #80
I have been thinking about it a quite a bit and my idea would be to have a function that takes every possible thing (grid, physics parameters, field values, time step, number of steps, anything else...) as a parameter and updates the fields for the desired number of steps, and finally returns the updated fields. Inside the solver, we would have cases for cartesian, cylindrical, spherical and whate

[2018-04-21 04:01] lemmatum commented on #69
@tulasinandan good to hear! I know too many physicists that build code with tons of side-effects which then makes any sort of optimization impossible. :frowning_face:

On memory management:
Presumably each particle will occupy the same amount of memory. Could we write a memory allocator that:
1. deletes particles which have left the domain
2. keeps a cache of address spaces for particles which are

[2018-04-21 04:29] lemmatum commented on #329
@StanczakDominik I would say for this one we mainly need the test to check for symmetry. The other two points can be dealt with later so long as we document any issues.

[2018-04-21 04:30] StanczakDominik commented on #195
I think what we have is good enough for now. We could really use a cleanup in the future.

[2018-04-21 04:30] lemmatum commented on #328
@StanczakDominik this one is probably the most important for `collisions.py` and requires the most amount of work

[2018-04-21 04:31] lemmatum commented on #312
@StanczakDominik never got feedback on my last comment. I think this is mostly renaming.

[2018-04-21 04:33] lemmatum commented on #327
If we have time, we should do this for 0.1 (as it is quite easy), if not it can easily be put off until later.

[2018-04-21 04:42] StanczakDominik commented on #80
A reasonable object oriented structure would probably also work for code organization. I don't have strong opinions on how to organize the computation itself in a way that's parallelizable.

And with the direction we've been taking lately, I fear our code may soon approach 30% decorator applications. :smiley:

[2018-04-21 05:12] StanczakDominik commented on #330
Won't that just warn always? Shouldn't we skip the warning in there?

[2018-04-22 19:57] #326 closed

[2018-04-22 19:57] #329 closed

[2018-04-22 19:57] #330 closed

[2018-04-22 19:57] #347 closed

[2018-04-22 19:59] StanczakDominik commented on #328
Referenced the wrong issue!

[2018-04-22 20:01] StanczakDominik commented on #327
This is what I actually closed in #388.

Holy wow, we're at 389 already?!

[2018-04-22 20:01] #327 closed

[2018-04-22 20:53] lemmatum commented on #330
@StanczakDominik yea I think it makes sense to skip the warning for GMS-3. Whoever is using that function should know what it is doing.

[2018-04-22 21:11] StanczakDominik commented on #234
I think we did what we could here. The checklist may come in handy for the future, but for now I'm going to close this.

[2018-04-22 21:11] #234 closed

[2018-04-22 21:13] StanczakDominik commented on #292
We have some Units docs over at http://docs.plasmapy.org/en/master/development/code_guide.html#units

How urgently do you think we need this? I mean, we've got `astropy.units` references plastered literally in every single docstring. Perhaps it's fine to keep it that way for now?

The temperature energy equivalency does pose problems.

[2018-04-22 21:13] lemmatum commented on #186
I think we're getting caught in the weeds a bit @nshaffer @antoinelpp , the point here is to have thermal speeds for the kappa distribution which are defined in the same fashion as they are for the Maxwellian thermal velocity (and to have a clearly stated warning that these don't physically work the same way as Maxwellian velocities and temperatures). At present, we have 3 methods for Maxwellian t

[2018-04-22 21:28] lemmatum opened #390 "open issues for code review fixes"
So we have a bunch of issues/fixes that we found during our code reviews which are documented in the Google Docs. We should go through these and verify that we've covered all the necessary fixes. Things that aren't fixed yet should each have their own separate issue opened up.

[2018-04-23 02:32] tulasinandan commented on #177
@lemmatum I think based on the discussion on matrix, I agree that we should add a custom matplotlibrc file. Maybe we could start with your file as a starting point? I could help with this.

[2018-04-23 04:26] lemmatum commented on #177
@tulasinandan So this depends on what approach we would like to take. In my scripts I don't use a matplotlibrc file, rather I use a python script that I import as a module and that dynamically sets up all the necessary rcParams. Here is a [page](https://matplotlib.org/users/customizing.html) which discusses both techniques.

Thoughts?

[2018-04-23 05:15] tulasinandan commented on #177
I would say the second way would be best for PlasmaPy. We could include a plasmaplotdefaults file and import it in our plotting methods.

[2018-04-23 10:38] antoinelpp commented on #11
Hi there, My Lab is launching a project to develop a kinetic relation dispertion solver for magnetised plasma.
As it will be under free licence, it could be implemented in some way into plasmaPy !
It should be finished around mid-july !

However, we could implement natively into plasmaPy some simpler dispersion relation solver...

[2018-04-23 15:29] dstansby opened #392 "Add correct 3D Maxwellian formulae to docs"
Currently the 3D Maxwellian docstrings have the formulae for 1D distributions; these should be replaced by the correct ones for 3D distributions:

http://plasmapy.readthedocs.io/en/master/api/plasmapy.physics.distribution.Maxwellian_velocity_3D.html#plasmapy.physics.distribution.Maxwellian_velocity_3D
http://plasmapy.readthedocs.io/en/master/api/plasmapy.physics.distribution.Maxwellian_speed_3D.ht

[2018-04-23 17:01] nshaffer commented on #325
Looking at NRL, I see the following differences between the printed expression and the usual de Broglie wavelength, h/(mv).

1. ħ instead of h
2. 2μ instead of m
3. Some kind of averaging procedure that is not actually defined

#3 is sloppy and upsetting. I got distracted looking into different ways averaging and comparing with the standard definition of the thermal wavelength. I added it at then

[2018-04-23 20:08] StanczakDominik commented on #328
Okay, no, I'm not really sure how you'd like this implemented. :(

[2018-04-23 20:27] lemmatum commented on #177
Alright, I'll make a PR with my plot defaults file once I finish conference stuff this week.

[2018-04-23 20:59] lemmatum commented on #11
What is a dispersion solver and how is it different from simple dispersion relations based on the Faddeeva function?

[2018-04-23 21:09] lemmatum commented on #392
This issue may need to be reformulated based on the discussion in Riot. I think the functions are written correctly, though the docstrings probably need clarification.

You mentioned wanting a 1 speed value argument for 3D. This might be achievable as a thin wrapper around the current 3D speed distribution function. You would take the one speed and then split it evenly among the 3 speed component

[2018-04-23 21:41] StanczakDominik opened #397 "Fix existing Automodapi documentation, enable doc build failures again"
Continue work started in #394 and fix existing documentation to not raise errors. To do this properly, this will require us to modify every single non-test .py file in the project and probably write a PLEP about it. Given I'm waiting for the build to merge that, here goes a draft... @lemmatum I wanted to "get back to you on this" a few days ago.

We currently use the wonderful sphinx automodapi pl

[2018-04-24 01:15] tulasinandan commented on #177
Great!

[2018-04-24 01:34] tulasinandan commented on #69
@lemmatum Interesting idea! I think we could improve this a bit more. However given my primitive programming style I am not sure how this would be implemented in practice. I'll rephrase your version to make sure that I understand it (and maybe add a bit more?):

Is it possible to have an array of pointers only? If yes, then for parallel implementation, one could allocate 2*n pointer arrays (n=para

[2018-04-24 03:01] lemmatum commented on #69
@tulasinandan Python has the global interpreter lock (GIL) which prevents true parallelization. To get low-level parallelization and memory management we would have to implement this in Cython (which is pretty close to Python - it's like Python + static types + some different defaults for memory allocation to numerical types). Looks like [Cython has a better abstraction](http://docs.cython.org/en/

[2018-04-24 03:04] lemmatum commented on #11
@tulasinandan I see, yes, there is a difference between dispersion function and dispersion relation. I've already opened an issue for implementing dispersion functions, and I've got code to do, I just haven't gotten around to opening a PR (especially as it is for PlasmaPy v0.2).

There is this really handy wikipedia page which has a [table of dispersion relations](https://en.wikipedia.org/wiki/Wav

[2018-04-24 03:08] tulasinandan commented on #69
Oh I so wish that I had learned C at some point in my life. I tried a couple of times but never pushed any project hard enough to learn and use C on a regular basis. I guess this will eventually be my first dig at something that is close to C. At the first dig we should probably stick to the serial versions that @StanczakDominik and @antoinelpp have and increment on top of that base.

[2018-04-24 03:12] lemmatum commented on #69
@StanczakDominik you've read the Cython book, do you remember anything about memory allocation for parallelization? It may just be that we need to slice up the PIC simulation into subregions and then let each core handle a region.

@tulasinandan [Here's](https://python-notes.curiousefficiency.org/en/latest/python3/multicore_python.html) some stuff on the GIL. Looks like Numba is another way of dea

[2018-04-24 16:39] namurphy opened #402 "Add doc page on authors and credits"
It would be really helpful to have a page in our `docs` directory that lists the Coordinating Committee members and a full list of authors of the code, along with other credits.  Some examples are Astropy's [Authors and Credits page](http://docs.astropy.org/en/stable/credits.html), and SunPy's [The Project](http://sunpy.org/team.html).  The list of code contributors can already be accessed from ou

[2018-04-24 17:48] StanczakDominik commented on #69
As for the Cython book, that only skimmed on parallelism. It touched on disabling the GIL, showed a couple of examples and mentioned OpenMP, if I remember correctly, but there wasn't much about the subject. I'll keep digging into this...

I'm loving the discussion in this thread, by the way!

[2018-04-24 20:03] #15 closed

[2018-04-24 21:36] namurphy opened #403 "Expand procedure for enforcing code of conduct"
As our community grows, it will be important to expand [our code of conduct enforcement procedure](https://github.com/PlasmaPy/PlasmaPy/blob/40005195fd0b763b040a6252dc1fb8d92bd9197e/CODE_OF_CONDUCT.md#enforcement), especially before we host any conferences.  Some possibilities include:
 - [ ] Create and link to an email address (preferably from the `@plasmapy.org` domain) that code of conduct viol

[2018-04-25 10:04] ritiek commented on #402
Just for future reference, full names of contributors can be accessed via the GitHub API using this Python wrapper https://github.com/PyGithub/PyGithub:
[code]

[2018-04-25 14:34] StanczakDominik commented on #362
That's a sick idea. I'll try to set that up if I have time before Sunday. If I don't manage to do it, I'd appreciate somebody setting up either this solution, a google doc, share latex

[2018-04-25 14:35] StanczakDominik commented on #362
Crossposting an email:

Registration
------------
All SciPy presenters must be registered for the conference!
You can register here: https://scipy2018.scipy.org/ehome/299527/648109/

Bio and Picture
---------------
All speakers are encouraged to send along a brief bio and picture to accompany
their talk. If you have not yet done so, please email them to
scipy@enthought.com

Talk and poster guideli

[2018-04-25 16:38] StanczakDominik commented on #328
I just realized `userMass` is probably a terrible, terrible name for this. :smile:  I'll go with `mass_override`.

[2018-04-25 16:51] StanczakDominik commented on #328
collisions.py:L493
[code]
I wasn't sure about this because it you calculate the reduced mass a moment before, and we might want to pass that in. Or not.

[2018-04-25 16:52] #379 closed

[2018-04-25 18:01] lemmatum commented on #362
I was able to setup such a system in gitlab - so it shouldn't be too hard to setup autocompilations here. It's just a matter of how we want to organize it within the project directory structure.

[2018-04-25 19:32] #312 closed

[2018-04-25 19:32] #364 closed

[2018-04-26 02:33] namurphy commented on #403
I made changes for the items about being able to contact any Coordinating Committee member and conflicts of interest in #405.

[2018-04-26 04:13] StanczakDominik commented on #292
There's some docs for units under constants now. Do you think this will suffice for 0.1, with astropy and sympy docs being awesome?

[2018-04-26 04:13] StanczakDominik commented on #292
Sunpy! I love sympy too, though.

[2018-04-26 04:25] namurphy commented on #292
All of the above packages are great! :smile_cat:  The release notes in #405 have a paragraph on `astropy.units` with a link to Astropy's documentation, so that should be enough.  The only other thing might be to add a sentence to `docs/index.rst` that points readers to the `astropy.units` documentation.

Time for bed for me. :zzz:  Hope you have a good day! :sunny:

[2018-04-26 14:27] namurphy commented on #285
The [NIST Atomic Spectra Database Ionization Energies Form](https://physics.nist.gov/PhysRefData/ASD/ionEnergy.html) would be a good place to get the data for this.  It's tricky to get all of the data, so we have to list the atomic symbols of the elements that we want the ionization energy for.   We can get a list of the elements by running:
[code]
This yields:
[code]
We can then copy that into th

[2018-04-26 15:46] namurphy commented on #292
I added a link to `astropy.units` documentation in the getting started section of the doc index in #405, so I think that's all we need for 0.1.0.  We can save the rest for later versions.

[2018-04-26 17:34] #402 closed

[2018-04-26 19:51] namurphy commented on #285
Many of the ionization energies for heavier elements and for higher ionization states are not known precisely or even at all, so I'm wondering if we should somehow include data on the errors as well.  We would probably need to raise a `MissingAtomicDataError` for cases where the ionization energy is not known.

[2018-04-26 20:15] emmettm42 commented on #285
This is extremely helpful!

Do we want all ionization states of the element, or just the first one? I think once the code is written for the first state, it will be easier to add in functionality for any higher ionization states the element might have.

[2018-04-26 20:32] namurphy commented on #285
We would want this for all of the ionization states for each element for which the ionization energy is known.  For a lot of solar physics and astronomy applications, it's common to have to deal with ions in high charge states, so there will be times when that information ends up being needed.

Thanks!

[2018-04-27 04:40] wtbarnes commented on #285
I will once again resume my sworn duty as the CHIANTI representative and note that CHIANTI provides the ionization potential for all ions in the database.

For example, in fiasco, to get the ionization potential for an ion,

[code]

This would likely be part of a larger discussion, but perhaps Plasmapy could allow for multiple backends (e.g.  NIST, AtomDB, CHIANTI) for reading atomic data? This co

[2018-04-27 04:46] lemmatum commented on #285
Ummmmmm I've already previously stated that I want to so this for SpectroscoPyx and I already have a working script that fetches ionization energies from NIST (just need to push it). Also also, the Mendeleev package provides a lot of ionization energies.

[2018-04-27 20:36] namurphy commented on #308
I changed the title here since we renamed `classical_transport` to `ClassicalTransport` to follow PEP 8 class naming conventions.

[2018-04-27 20:44] namurphy opened #410 "Add docstrings to functions in braginskii.py"
There are several functions in `braginskii.py` that require docstrings, including:
 - [ ] `resistivity`
 - [ ] `thermoelectric_conductivity`
 - [ ] `ion_thermal_conductivity`
 - [ ] `electron_thermal_conductivity`
 - [ ] `ion_viscosity`
 - [ ] `electron_viscosity`

This is different from but very related to #308, which requests docstring improvements for methods in the `ClassicalTransport` class.

[2018-04-28 04:14] StanczakDominik opened #411 "Add sphinx-gallery backreferences"
This is a very neat option:

http://sphinx-gallery.readthedocs.io/en/latest/advanced_configuration.html#adding-references-to-
examples

I'd like to enable them someday, but couldn't wrap my head around it for now and now may not be the best time anyway. I'm not sure how this plays with astropy/sphinx-automodapi, though.

Apparently it includes having to override the default template for the autosu

[2018-04-28 04:15] #397 closed

[2018-04-28 06:11] StanczakDominik commented on #342
Let's do this for 0.2

[2018-04-28 10:08] StanczakDominik commented on #411
http://sphinx-gallery.readthedocs.io/en/latest/advanced_configuration.html#adding-references-to-examples

https://github.com/sunpy/sunpy/blob/master/docs/conf.py#L218

Handy links

[2018-04-28 12:53] #252 closed

[2018-04-29 13:29] #256 closed

[2018-04-29 13:29] #298 closed

[2018-04-30 03:35] lemmatum opened #415 "update README for v0.1 release"
Announce it on the README!

[2018-04-30 03:36] lemmatum opened #416 "Improve narrative documentation for transport"
Give examples, background, theory and other relevant details. (including design decisions)

[2018-04-30 03:37] lemmatum opened #417 "patches for v0.1.1"
#bugpatch

In particular I think `setup.py` and cython integration need to be cleaned up.

[2018-04-30 03:41] lemmatum opened #418 "Integrate cython into release"
There were some issues with numpy imports and whatnot... perhaps [these instructions](https://astropy.readthedocs.io/en/v0.2.3/development/building_packaging.html) will be useful for fixing issues with cython.

I believe all the cython stuff is currently removed for 0.1.0. Related to #417

[2018-04-30 03:48] SolarDrew opened #419 "Discuss release schedule"
It might be useful to consider having a (semi?-)regular release schedule, at least for minor/bugpatch/dev releases, so we should talk about that in the near future and decide if that's something that would work for us.

[2018-04-30 13:43] namurphy commented on #419
Good idea!  I suspect that it would be good to plan on a patch release about a month after each minor release, and then after that as needed.  For `0.*.*` versions, I think we should only do patch releases for a version until the next minor version comes out.  It would be good to plan on a minor release no less frequently than every six months, since that way users aren't waiting unnecessarily lon

[2018-04-30 13:50] SolarDrew commented on #419
That all seems reasonable to me. Specifically in the context of 0.1, we found quite a lot of things during the release process that could be improved upon, and since I'm at pyastro this week I can probably get a lot of them sorted. So we may be able to have 0.1.1 sooner than a month, if we want to.

[2018-04-30 16:31] lemmatum opened #420 "Fix broken links"
Contributing to plasmapy links is broken [here](https://github.com/PlasmaPy/PlasmaPy/blob/master/INSTALL.md)

[2018-04-30 16:32] lemmatum opened #421 "Create and update CHANGELOG.rst"
List changes for v0.1 and open a new heading for v0.1.1

[2018-04-30 16:39] lemmatum opened #422 "Improve project description on PyPI"
[Project description](https://pypi.org/project/plasmapy/#description) is currently bland. We should detail some functionality, problems that the project is trying to address, mention openAstronomy affiliation, etc.

[2018-04-30 17:11] namurphy opened #424 "Test against minimum versions of required packages"
We have defined minimum versions for many of our required packages in our `requirements` directory.  However, to the best of my knowledge we do not explicitly test against the minimum versions to make sure that PlasmaPy works with them.  It would be really helpful to add a test to Travis CI or AppVeyer that specifically tests the minimum supported versions as listed in those files.

One thing that

[2018-04-30 17:45] athulpn commented on #420
can i work on this issue

[2018-04-30 18:01] athulpn opened #425 "Fix broken links in INSTALL.md"
link for contributing to python is broken

[2018-04-30 18:40] lemmatum commented on #285
Looks like even for unknown ionization energies NIST lists theoretical values. For example, here is [Uranium](https://physics.nist.gov/cgi-bin/ASD/ie.pl).

So I think my script for fetching energies from NIST will be suitable for this issue.

[2018-04-30 18:42] lemmatum commented on #285
We could also implement a similar theoretical equation to what NIST uses. I assume NIST values are based on a Rydberg-like equation.

[2018-04-30 19:00] namurphy commented on #421
In #405 we moved our markdown change log in the top-level directory and turned it into `docs/about/change_log.rst` so that it would show up more readily in the online docs.  We should probably update `docs/about/release_notes.rst` to have a v0.1.1 heading too.

[2018-04-30 19:04] lemmatum opened #426 "Update development roadmap"
ROADMAP.md is out of date. We should mentioned what has been included in v0.1 and update what we expect for the future based on our milestones.

[2018-04-30 19:09] lemmatum commented on #419
Also what sort of release schedule do we want for major releases? Do we want `x` number of minor releases per major release?

We should avoid eternally being in minor release versions (like some other python projects... *cough* flask *cough*).

[2018-04-30 19:13] lemmatum commented on #416
#399 left some things to be done:

Here was the to do list:

Collisions:
- [ ]     Coulomb collisions
- [ ]     Coulomb logarithms

Transport:
- [ ]     Thermoelectric stuff
- [ ]     Magnetized viscosity
- [x]     Vector return format I would say is covered well enough for now, in the arguments to ClassicalTransport and in the example.

[2018-04-30 19:14] lemmatum commented on #362
@namurphy thoughts?

[2018-04-30 19:21] lemmatum opened #427 "1D Maxwellian example update"
The 1D Maxwellian [example](http://docs.plasmapy.org/en/stable/auto_examples/plot_distribution.html#sphx-glr-auto-examples-plot-distribution-py) in our docs should have a plot for 1D speed distribution with lines that demarcate the various thermal velocities (i.e. "most probable", "mean magnitude", etc.).

[2018-04-30 21:31] lemmatum commented on #285
I've just [opened a PR on SpectroscoPyx](https://github.com/PlasmaPy/SpectroscoPy/pull/44) dealing with fetching ionization energies from NIST

[2018-05-01 00:03] lemmatum opened #428 "add axis labels to ITER parameters plot"
The ITER parameters plot [here](http://docs.plasmapy.org/en/stable/auto_examples/plot_physics.html#sphx-glr-auto-examples-plot-physics-py) could use some labels and units in said labels.

[2018-05-01 05:16] StanczakDominik commented on #424
I think this is best solved by specifying the minimal versions for the Travis env, so it downloads those, and then running another test suite on current latest releases. I'll deal with that once I'm back.

[2018-05-01 16:23] lemmatum opened #430 "Add Landau damping to examples"
Once #429 is done we can use the imaginary part of the susceptibility/permittivity to calculate Landau damping and make some pretty example graphs.

[2018-05-01 23:58] lemmatum opened #431 "add neutrino-plasma interaction equations"
Neutrino-plasma interactions might be important for modeling Type II supernovae. There are some [papers](https://doi.org/10.1088/0741-3335/46/12B/028) on how to treat neutrino-plasma interactions by L. O. Silva and P. K. Shukla - we should implement these equations.

This might be a fun use of exotic particles from the particles module that @namurphy implemented :smile_cat:

[2018-05-02 00:04] lemmatum commented on #175
Perhaps we can implement an ideal gas function that takes keyword arguments and can figure out what parameter is missing, and then solve that one?

There was a recent [Python Bytes episode](https://pythonbytes.fm/episodes/show/75/pypi.org-officially-launches) which mentioned [this article](https://treyhunner.com/2018/04/keyword-arguments-in-python/) talking about how to use keyword arguments such

[2018-05-02 04:08] samurai688 commented on #366
There's FLASH from UChicago, that's open source (and really good, from what I hear.) However if our goal is to have basic versions of all the simulation methodologies, than I agree rad-hydro is on the list for sure. It might be easiest to make it part of the MHD code and have full-fledged rad-MHD, since they share the hydro piece.

[2018-05-02 13:57] SolarDrew opened #432 "Put citation instructions in places"
To be more compliant with our code of conduct/vision statement (and particularly now we've released 0.1) we should consider making it clear how users should cite PlasmaPy by putting that info on the main GitHub page and somewhere prominent on the website, if it's not already

[2018-05-02 15:11] namurphy commented on #432
We have had `CITATION.md` in our top-level directory, though that would need to be updated for our newest [PlasmaPy Community et al. (2018)](https://zenodo.org/record/1238132) reference.  It would be good to put this information on `README.md` on GitHub as well as the website and on docs.plasmapy.org, since `CITATION.md` is not really in a noticeable location.  I think I have things set up to get

[2018-05-02 17:36] lemmatum commented on #432
With respect to the Twitter image, [here](https://github.com/astroML/astroML/blob/0287fe00c429b28b3ddf52435a32543f43246349/astroML/__init__.py) is the example for how to implement `__citation__` in `__init__.py`.

[2018-05-03 18:18] namurphy opened #433 "Test against Python 3.7"
Python 3.7 is due to be released around 2018 June 15.  Once that happens, we'll need to include both Python 3.6 and Python 3.7 in our test suite on Travis CI and AppVeyer.  I'm not sure what we'll need to do for CircleCI.

We should check out [what's new in Python 3.7](https://docs.python.org/3.7/whatsnew/3.7.html) when we do this too, since any removed features that cause errors should be describ

[2018-05-04 00:39] namurphy opened #434 "Add relativistic particle distribution functions"
Right now we have functionality for Maxwellian distributions and κ-distributions, and it would be useful to have distribution functions that are valid for temperatures where the particle distribution functions are relativistic.  I'm pretty unfamiliar with relativistic distribution functions, but the [Maxwell-Jüttner distribution](https://en.wikipedia.org/wiki/Maxwell%E2%80%93J%C3%BCttner_distribut

[2018-05-04 21:15] lemmatum opened #436 "Example of classical plasma stability"
The dielectric susceptibility can be treated as a transfer function. One can plot the imaginary component on one axis and the real part on another axis (parameterized space) and show the [Nyquist stability criterion](https://en.wikipedia.org/wiki/Nyquist_stability_criterion) for different parameters. This would mainly show stability/instability for different incoming EM waves (including some forms

[2018-05-04 23:44] lemmatum opened #437 "Add functionality to em_wave.py module"
Module dealing with common functions for electromagnetic waves will be added as part of #429 . We should expand the functionality of this module with various wave equations relevant for plasma interactions.

[2018-05-05 09:44] manasbedmutha98 commented on #277
@namurphy, I'd like to take this if it's still on.

[2018-05-05 09:49] StanczakDominik commented on #277
Go for it, nobody's working on it!

[2018-05-06 08:05] manasbedmutha98 commented on #277
Hi. I've made the function. I've added it to the main __init__.py
It's my first issue on Github and I'm not sure how and where to push the code. I read a few tutorials. One way I found was to fork it and update which I've done in the [Forked Repository](https://github.com/manasbedmutha98/PlasmaPy/tree/master/plasmapy)
Please help me out on how to go about it.

[2018-05-07 05:00] lemmatum opened #439 "add dusty plasma functions"
Dusty plasmas are interesting! Apparently having large particles with charges much larger than a typical ion can change dynamics significantly! We should add some functions for handling such plasmas (and encourage astronomers to always consider dust in their line of sight).

[P. K. Shukla](https://en.wikipedia.org/wiki/Padma_Kant_Shukla) wrote a good intro on this topic called [Introduction to Dus

[2018-05-07 16:45] namurphy commented on #439
This sounds great!  I've checked out that book from the library too.  We should think about other functionality that would be applicable to the interstellar medium as well, since galaxies tend to be dusty places.

Tangentially, there is a [newsletter on astrophysical polycyclic aromatic hydrocarbons (PAHs)](http://astropah-news.strw.leidenuniv.nl/) that I've been subscribing to for a while.

[2018-05-07 17:13] manasbedmutha98 commented on #428
I would like to take this.

[2018-05-07 18:51] lemmatum commented on #428
go for it @manasbedmutha98

[2018-05-07 19:17] lemmatum commented on #439
Never heard of PAHs, looks like more to learn! :stuck_out_tongue:
On the diagnostic side of things: non-plasma dust (like ice) may be important. Also accounting for the Earth's atmosphere is critical for ground-based observations. Perhaps there are some equations/models we can include in the diagnostics module for compensating for these things.

[2018-05-07 22:29] lemmatum opened #440 "Add shock physics"
In particular, Rankine-Hugoniot equations and other forms of compression (e.g. adiabatic). These are important for many plasmas, but also has overlaps with the dynamic compression research field (squeeze things to high pressures and find new phases of matter).

[2018-05-07 22:30] lemmatum opened #441 "Add fluids module"
I understand we have a few codes that are being build which will be based on the fluid view of plasmas. Should we add a general fluids module of important equations?

[2018-05-07 22:32] lemmatum commented on #437
- [ ] Add non-local Poisson equation?

[2018-05-07 22:38] lemmatum commented on #439
Some equations to start with:
- [ ] Dusty plasma Debye length
- [ ] Dusty plasma frequency
- [ ] Dusty collision rate (and associated transport eqs)
- [ ] Dusty coupling parameter
- [ ] Attractive/repulsive currents relative to dust grains (this will overlap with some Langmuir probe theory since Langmuir probe tips and dust grains produce similar electrostatic effects on plasma distribution functi

[2018-05-07 22:43] lemmatum opened #442 "Add Kiel collision Langmuir probe theory"
Kiel has a paper for modeling current to Langmuir probes in fully collisional plasmas.

[2018-05-07 22:44] lemmatum opened #443 "Add thermionic emission equations"
When Langmuir probes get hot, they can emit particles (just like old devices that used hot electrons from a heated wire to generate plasmas). We should add the equation(s) for thermionic emission, especially in the case of hot Langmuir probes.

[2018-05-07 22:46] lemmatum opened #444 "Add ABR Langmuir theory"
ABR (Allen-Boyd-Reynolds) treats particles with radial trajectories towards a Langmuir probe. This has a different regime of applicability than say BRL theory.

[2018-05-07 22:48] lemmatum opened #445 "Add BRL Langmuir probe theory"
BRL (Bernstein-Rabinowitz-Laframboise) is often used in comparison with OML (orbital motion limited) and ABR (Allen-Boyd-Reynolds) theories for Langmuir probes.

[2018-05-08 00:39] lemmatum commented on #439
@namurphy thinking about this dust grain problem... it may be valuable to make a method that allows the creation of custom particles within the `Particle` class. Pass it a mass and an ionization and you get a dust grain!

[2018-05-08 03:42] namurphy commented on #440
I like this idea!  I had to cover shocks in a class a couple of years ago, and at the time I was wondering how possible it would be to create an MHD shock solver.  At the time I wasn't sure how to go about doing it because the MHD jump conditions are kind of horrible, but one possibility would be to create a `Discontinuity` class (or metaclass?) and use a web of setters and getters to calculate va

[2018-05-08 03:44] namurphy commented on #439
That sounds like a good idea too!  Maybe a subclass of `Particle`?  Or allow a particle's name to be `custom` and then set stuff manually?  I should create an issue but :sleeping:

[2018-05-08 03:47] manasbedmutha98 commented on #428
I have added the labels. Should I also label the data point in the scatter plot differently?
Another thing I didn't understand is where this is being used.
https://github.com/PlasmaPy/PlasmaPy/blob/a452dadd51d612120588c6551dbca7a958b45ea5/plasmapy/examples/plot_physics.py#L12

[2018-05-08 07:10] StanczakDominik commented on #439
I like the subclass idea. CustomParticle, a subclass of Particle with basically a simpler constructor?

[2018-05-08 14:59] lemmatum opened #447 "Create custom particle subclass"
As per discussion on #439 it'd be useful to have a method for generating custom particles as part of the `Particle` class. In particular, we want to be able to pass a mass and a charge to create custom dust grain particles.

[2018-05-08 15:00] lemmatum commented on #439
Just created #447 for the custom particle idea.

[2018-05-08 15:05] lemmatum commented on #440
A discontinuity class could be a nice way of handling shock physics as most hydro simulations use an artificial viscosity or something similar to thicken and smooth out the shock such that it can be resolved on the simulation grid scale. This could then be further refined as an upstream and a downstream boundary which hands off to another, more finely resolved, simulation. I imagine we'll have to

[2018-05-08 16:47] StanczakDominik commented on #277
This is getting closed by #438 (and #446 :) ) so I'll pull the trigger now.

[2018-05-08 16:47] #277 closed

[2018-05-08 17:17] manasbedmutha98 commented on #428
@lemmatum Should the data point in the scatter plot be labelled separately?

[2018-05-08 17:19] lemmatum commented on #428
I think that's a question for @StanczakDominik - what are you trying to show with the scatter point in relation to the plotted line?

[2018-05-08 17:19] StanczakDominik commented on #428
Nah, no need! We're not comparing our results to any particular ITER data, though that could be, I suppose, arranged. Also, the `Axes3D` import is indeed useless for now. We could get rid of it for now.

[2018-05-08 17:25] StanczakDominik opened #448 "Expand ITER example in `plot_physics`"
Raised from #428. Compare our functions' results to some actual data, etc. I can do that later, but if someone wants to do so, feel free to grab it!

[2018-05-08 18:50] #428 closed

[2018-05-08 19:06] lemmatum commented on #159
As per our video conference on 2018-05-08, we want to publish in Physics of Plasmas for v0.2. The paper will be in LaTeX/REVTex.

We should start planning PlasmaPy features which can be translated into figures for the paper which convey a "wow factor".

[2018-05-08 19:07] lemmatum commented on #362
Decided to forgo in favor of PoP publication as per #159

[2018-05-08 19:07] #362 closed

[2018-05-08 19:08] SolarDrew commented on #419
I don't know that it's necessarily worth deciding ahead of time how many of any particular release type we want. I figure we'll generally just release bug fixes until we have enough new features for a minor release, and then we'll have even more bugs to patch :P

As for sub-1.0 releases, I think there is a reasonable argument for doing that but I agree we probably shouldn't.

[2018-05-08 19:21] lemmatum opened #449 "magnetic topology visualizations"
To quote @namurphy

We should implement some simple to use functions under the `visualization` subpackage using [yt](http://yt-project.org/). This would be in preparation for the v0.2 publication #159

[2018-05-08 22:05] namurphy commented on #440
I'm going to tentatively assign this to myself for v0.2.0 since I'm very interested in doing this, but I will not be able to get to it until probably later this summer.  If anyone else is interested and there isn't a pull request that was already created, please go ahead!

[2018-05-09 19:43] not7cd commented on #315
#320 resolved this issue

[2018-05-09 19:56] not7cd commented on #350
It's here https://pypi.org/project/plasmapy/
What needs to be done to close this issue?

[2018-05-09 20:13] namurphy commented on #350
Nothing else needs to be done, so we can close this issue.  Thanks!

[2018-05-09 20:13] #350 closed

[2018-05-09 22:35] lemmatum commented on #427
Here is an example

![image](https://user-images.githubusercontent.com/28945309/39843137-f91a4572-53a6-11e8-9fc8-ce30d426a46c.png)

[2018-05-09 22:35] lemmatum commented on #392
Related to #451

[2018-05-09 22:37] lemmatum commented on #392
We need to make fixes as per [this comment](https://github.com/PlasmaPy/PlasmaPy/pull/451#issuecomment-387893432).

I'm still not entirely sure on the thermal velocities and equipartition portion... need to have a think...

[2018-05-10 02:14] namurphy opened #453 "Remove implicit default particle assumptions"
We currently specify a default particle in keyword arguments for most of our functions in the physics subpackage (including in a bunch of code that I originally wrote).  An sample:
[code]
The disadvantage of setting a default particle is that users could end up making incorrect assumptions or interpretations of the results.  We do state the assumptions in the documentation, but I know I personally

[2018-05-10 14:31] StanczakDominik commented on #315
That it did. Thanks, @not7cd!

[2018-05-10 14:31] #315 closed

[2018-05-10 19:57] lemmatum commented on #449
One approach may be to fetch streamlines for B-fields using some of  [this code](http://yt-project.org/doc/cookbook/complex_plots.html?highlight=isocontour#plotting-isocontours-and-streamlines) and then make a nice render following [this example](http://yt-project.org/doc/cookbook/complex_plots.html?highlight=isocontour#volume-rendering-with-lines).

[2018-05-11 01:38] lemmatum commented on #387
I think from #452 it is clear that the distribution functions follow a pattern. So if we can sort out this business with drift and the normalization constants on speed distributions I think we make a single class or function for accessing these distribution functions.

[2018-05-11 06:00] #417 closed

[2018-05-11 06:00] #418 closed

[2018-05-11 06:02] StanczakDominik opened #455 "Think about Cython implementations of functions and Astropy units"
As seen here, static typing may be too strict for Cython reimplementations of parameters:
https://github.com/PlasmaPy/PlasmaPy/pull/454#issuecomment-388266228

But the question is whether we actually need to cythonise those. I think cython will be more useful for more computationally intensive stuff (solvers for simulation, etc).

[2018-05-11 06:10] lemmatum commented on #455
My current impression is that functions in `parameters.py` will be used quite frequently to build simulations as they evaluate fundamental plasma properties. Of course we shouldn't optimize before we see a problem, so I think we shouldn't cythonize functions until they become necessary for computationally intensive calculations.

I can't think of a good way to use astropy to manage units for cytho

[2018-05-11 17:37] namurphy commented on #455
I very much appreciate the hard (and occasionally frustrating!) work to get Cython working in PlasmaPy.  It will be really valuable to have that framework set up.

Agreed!  I'd add that for the time being, it would probably be more effective for us to increase functionality rather than optimize existing functionality.

I'm not sure about how to do Cython stuff with `Quantity` objects either...

[2018-05-11 17:48] namurphy commented on #455
Oh, and we should also definitely keep following the development of [Cython](http://cython.org/), [Numba](https://numba.pydata.org/), and [pythran](https://pythran.readthedocs.io/en/latest/).  In [one benchmark](https://flothesof.github.io/optimizing-python-code-numpy-cython-pythran-numba.html), Pythran ended up being the fastest.

[2018-05-11 20:25] lemmatum opened #456 "Add legends to Langmuir plot examples"
The plots [here](http://docs.plasmapy.org/en/stable/auto_examples/plot_langmuir_analysis.html#sphx-glr-auto-examples-plot-langmuir-analysis-py) could use some nice legends.

[2018-05-15 10:24] ZedThree opened #457 "Interest in equilibrium/grid utilities?"
Hello, I'm involved in a number of projects that might the PlasmaPy community might be interested in:

- A free boundary Grad-Shafranov solver in Python, [freegs][1], written by @bendudson
- [BOUT++][2] ([github][3]) has some grid generators in Python for tokamaks, stellarators and more complex magnetic geometries
- We have also done some work on read/writing to/from a variety of equilibrium file

[2018-05-15 22:32] namurphy opened #458 "What are representative openly available sample plasma data sets?"
In order to develop the general purpose `Plasma` class factory (see https://github.com/PlasmaPy/PlasmaPy-PLEPs/pull/14 by @SolarDrew), we will need a couple of representative data sets that describe different types of plasmas.  The plan is to allows users to call `Plasma` with a filename or directory name as an argument, and `Plasma` will select and instantiate the class/subclass that corresponds

[2018-05-15 22:32] namurphy commented on #458
One possibility is the [Johns Hopkins Turbulence Database](http://turbulence.pha.jhu.edu/).

[2018-05-16 17:09] ZedThree commented on #457
Relicensing BOUT++ is a no-go for various reasons, I'm afraid. Probably most of the stuff I mentioned would need some rewriting at least to fit into plasmapy, so it may be that we just write new implementations from scratch specifically for plasmapy, which I think we would be happy to go with BSD.

[2018-05-17 21:13] lemmatum commented on #458
The Murillo group is working on a [database for dense plasmas](https://github.com/MurilloGroupMSU/Dense-Plasma-Properties-Database).

[2018-05-17 21:17] lemmatum opened #460 "Density functional theory simulations"
DFT simulations are important for dense plasma physics (neutron stars, inertial confinement fusion, etc.). It would be of pedagogical value to add a simple DFT simulation code to PlasmaPy along with an IPython example notebook.

[A little bit of info on DFT simulations for plasmas](https://murillogroupmsu.com/dynamic-density-functional-theory/).

[2018-05-18 05:50] lemmatum commented on #458
yt has a [datahub](https://girder.hub.yt/#collections) - there may be some plasma data of value in there.

[2018-05-18 22:38] lemmatum opened #462 "Non-zero drift speeds for 2D and 3D Maxwellian distributions"
2D and 3D Maxwellian speed distributions with non-zero drift speeds are bit more complicated that we previously expected. The 2D distribution follows a [Rician distribution](https://en.wikipedia.org/wiki/Rice_distribution) and I'm not yet sure what form the 3D distribution takes. These need to be implemented as per [this discussion](https://github.com/PlasmaPy/PlasmaPy/pull/452#discussion_r1877316

[2018-05-18 22:42] #392 closed

[2018-05-18 23:07] namurphy opened #463 "Create classes for analytical ideal MHD (and HD) equilibria"
There are a number of exact analytical equilibria that come up in ideal magnetohydrodynamics, usually in 1D and 2D systems.  Examples include the Harris sheet (used perhaps too much in magnetic reconnection studies), the Lundquist solution for magnetic flux ropes (used to describe interplanetary coronal mass ejections), and pinches (Z, θ, and screw).

These do not have to be static equilibria.  We

[2018-05-18 23:32] namurphy opened #464 "Create Particle class method to return Roman numeral spectroscopic notation"
Right now the `Particle` class accepts atoms and ions in Roman numeral notation (see #286 and #290 for details), where the Roman numeral after the atomic symbol represents the ionization level plus one:
[code]
It would be helpful to have a `Particle` class attribute that would return the Roman numeral notation of `Particle` instances that are ions or neutral atoms.
[code]
I'm not sure if `ionic_sy

[2018-05-19 19:59] lemmatum commented on #464
[NIST calls](https://physics.nist.gov/PhysRefData/ASD/ionEnergy.html) the roman numeral version the "spectral name" and the integer version the "ion charge", if that helps

[2018-05-19 22:24] samurai688 opened #465 ".si in check_relativistic is extra slow"
Hi all,

I was making some plots with PlasmaPy today.  So my basic plan was, I have some arrays of densities and temperatures and magnetic fields, and I want to make some contour plots of various plasma parameters.  I didn't think plasmapy would be able to do vectorized operation on the numpy arrays, so I said, screw it, I'll just loop through each array and do each one individually.

Well. I knew

[2018-05-20 02:42] lemmatum commented on #465
Nice! Thanks for looking into this!

[2018-05-20 10:13] SolarDrew commented on #463
I like this idea, but it's not clear to me how these classes would be used. You mention them being `Plasma` subclasses, so would you instantiate one of these and it behaves as a normal 2D or 3D plasma or whatever, it's just created with the appropriate initial conditions? In that case is it worth having a separate subclass or would it make more sense to have a function that takes a `Plasma` and im

[2018-05-20 10:33] SolarDrew commented on #465
Yes, thanks for pointing this out @samurai688 :D From looking at the units docs, I _think_ this might be because `.si` always returns a copy of the unit. Since the units will always cancel anyway, we might be able to do `(V / c).to_value(u.dimensionless_unscaled)` instead, which will return a view of the array if the unit conversion isn't necessary, which may save a little time.

[2018-05-20 10:42] manasbedmutha98 commented on #464
Hi. Can I work on this?

[2018-05-20 11:31] ritiek commented on #464
@manasbedmutha98 Yes, sure! Thanks!

[2018-05-20 12:51] ritiek opened #467 "`plot_langmuir_analysis.py` example fails with astropy v3.0.2"
Looks like astropy/astropy#7037 (released with astropy v3.0.2) broke our [plot_langmuir_analysis.py](https://github.com/PlasmaPy/PlasmaPy/blob/d405db0dba696ff6ca3f9bae7337ad75c57570a0/plasmapy/examples/plot_langmuir_analysis.py) example. Works fine with astropy v3.0.1 though.

[code]

[2018-05-21 19:35] #465 closed

[2018-05-22 06:57] samurai688 opened #469 "working with unitized numpy arrays in plasma parameters functions"
Life seems pretty good when we can work with unitized numpy arrays in plasma parameter functions. I guess these are technically Quantity objects, i.e. as created by `a = np.array([1,2,3,4]) * u.m` A good current example is the Debye length function.  You can pass it big unitized numpy arrays of densities and temperatures, and it will give you the elementwise result of debye length.  It seems fast

[2018-05-22 17:10] namurphy commented on #469
Yes, this is an important issue and we should allow all of our plasma parameters functions to accept and return `astropy.units.Quantity` objects.  We should also make sure that there are tests for each of the plasma parameters functions that take in `Quantity` objects.

Cross-reference for another issue about `Quantity` objects that we should keep in mind: #59

[2018-05-22 17:25] namurphy commented on #458
There are some openly available [example data sets](https://github.com/openPMD/openPMD-example-datasets) that use the [OpenPMD standard](https://github.com/openPMD/openPMD-standard).

@ritiek and @SolarDrew - perhaps this would be a good subclass to set up since it is very well defined and definitely needed for PlasmaPy.  The potential difficulty is that this will not be the simplest data set that

[2018-05-22 17:42] SolarDrew commented on #458
All good arguments. I think perhaps the fact that it's not simple is good too, since we've found ourselves with a decent amount of extra time in this GSoC project it would be good to handle it now and leave the easier ones for later.

[2018-05-22 18:21] SolarDrew opened #470 "Naming conventions"
I think we've mostly been sticking to the same names for things like electron/ion density, but I think there are a few places where we may not have done. I can't remember if we have defined conventions written down anywhere for this sort of thing, but if we don't we probably should, and then we should add those conventions (or a link to them) to the contributor guide.

[2018-05-22 18:34] SolarDrew opened #471 "[Meta] Tidy up issues?"
Someone mentioned [in the matrix room](https://matrix.to/#/!hkWCiyhQyxiYJlUtKF:matrix.org/$1526038146917981ZrCib:matrix.org) that we have a few issues that are resolved and some stale PRs, etc. Could be worth doing a review of the current status and making sure the repo is nice and tidy by closing, tagging or reassigning anything that's got away from us.

[2018-05-22 19:26] #432 closed, assigned to namurphy

[2018-05-22 22:05] #73 closed

[2018-05-22 22:05] #74 closed

[2018-05-22 22:10] namurphy commented on #183
This has been added recently.

[2018-05-22 22:10] #183 closed

[2018-05-22 22:11] SolarDrew commented on #183
It has? Who fixed that?

[2018-05-22 22:21] namurphy commented on #183
I was able to do `plasmapy.test()`, except I got an error with the Cython tests.  However, I got that error too when doing just regular old `pytest` (probably because I didn't do the `python setup.py install` thing).  If I delete the Cython test file then I can get the tests to run successfully.

[2018-05-22 22:25] namurphy commented on #471
I went through and closed some issues that were discussions from several months ago.

[2018-05-22 22:26] #66 closed

[2018-05-22 22:28] SolarDrew commented on #471
Perfect, thanks 😀 Since we've actually not got many PRs open at the moment I'd say that's good enough for now and we can revisit this issue if it crops up again.

[2018-05-22 22:29] #471 closed

[2018-05-23 04:08] lemmatum commented on #469
I'll add that sometimes arrays with units are clunky for things like list comprehensions. Perhaps we should add some convenience functions for handling these cases?

[2018-05-23 04:11] lemmatum commented on #470
Perhaps a list of common plasma variables/properties in the docs? This would include the common name(s), the variable name we use, and a short description of what the property is/does.

[2018-05-23 04:17] lemmatum opened #473 "Cython docs for devs"
We've been having some issues with people not knowing how to compile Cython files for development, for example in #183 . We should add some info on how to properly do this in the docs (cleaning cached python code, compiling cython code, running cython code, etc.)

[2018-05-23 06:44] SolarDrew commented on #470
Yes, I like that idea.

[2018-05-23 15:43] namurphy commented on #473
This would be very helpful!  :smile_cat:

[2018-05-24 06:16] StanczakDominik commented on #183
Thanks for the heads up @Cadair! This should be helpful.

[2018-05-24 16:47] SolarDrew opened #474 "Patch release workflow"
I'm reasonably sure that other projects maintain a separate branch for released versions so that changes which are specifically patches to that release can be pushed there rather than to master, but I'm not entirely sure on the details of this. We should figure this out (i.e. ask someone from one of those projects) and consider how to arrange/enforce this.

[2018-05-24 16:51] dstansby commented on #474
In Matplotlib, everything is merged into the master branch, and then individual PRs can be manually backported to other branches (e.g. at the moment our master branch will turn into `3.0`, but we have a `2.2.x` branch open that we backport bug fixes to)

[2018-05-25 06:08] ritiek commented on #458
Sounds good to me! I've been messing with those example datasets using OpenPMD standard but I am still not sure what really do we want our subclass to do with the datasets?

[2018-05-25 19:58] namurphy opened #475 "Compute Maxwell, Reynolds, and viscous stress tensors"
We should eventually add functionality to calculate different stress tensors, including the [Maxwell stress](https://en.wikipedia.org/wiki/Maxwell_stress_tensor), the [Reynolds stress](https://en.wikipedia.org/wiki/Reynolds_stress), and the viscous stress tensors.  I'm wondering if this would best go as a method in the `Plasma` class, and this is also related to `ClassicalTransport`.

I am also wo

[2018-05-25 20:30] namurphy opened #476 "Start a subpackage for coordinate transformations"
We use a wide variety of coordinate systems in plasma physics.  In heliophysics and astrophysics, it's most common to use rectangular, cylindrical, and spherical coordinates.  The magnetic fusion community uses not just toroidal coordinates, but a whole bunch of other flux coordinate systems.  We would also need to include the stellarator coordinate systems.

A detailed reference is [_Flux Coordin

[2018-05-26 18:36] lemmatum opened #478 "Add Fermi distribution function"
The Fermi distribution function is useful for dense plasmas.

Also there is Fermi-like distribution function which includes chemical potential energy for dense plasmas, which is often used for X-ray Thomson scattering. This is described in [Theoretical model of x-ray scattering as a dense matter probe - G Gregori 2003](https://doi.org/10.1103/PhysRevE.67.026412).

[2018-05-27 13:36] StanczakDominik commented on #183
I can confirm that this works now! Neat. We should add a note about this to the documentation, and that running this seems to require `pytest-astropy`!

[2018-05-27 14:07] #415 closed

[2018-05-27 14:07] #421 closed

[2018-05-28 05:16] StanczakDominik commented on #474
Yeah, having released 0.1.1 and seeing how easy it would be to just *git magic* everything I think it's fine to do what @dstansby said.

[2018-05-30 04:39] StanczakDominik commented on #453
I think one point worth raising is that for cases like stuff in `parameters`, default arguments for particles do one important job well - they let you very quickly see roughly what format the argument should be in, without looking at the documentation. Thus, I would be against removing those defaults.

For stuff like in your example, `particle_mass` etc, that should absolutely not have default arg

[2018-05-30 20:15] namurphy commented on #453
I have been starting to think that we should not set a default particle for many of the same reasons why we should not specify a default magnetic field strength or density.  The composition of a plasma is fundamental to that plasma's properties, and thus really should be something that users specify.

It would be particularly bad if we default to a proton is some functions while defaulting to an e

[2018-06-05 16:50] #473 closed

[2018-06-05 18:08] namurphy opened #486 "Have Particle class return corresponding Particle instance for Particle arguments"
I've run into a bunch of situations where I have some objects that are either `Particle` class instances or `str`/`int` representations of particles, and I want to make sure that they are all `Particle` class instances.  I have usually written code like this:
[code]
This code is rather obfuscating since it checks on whether or not `particle` is a `Particle` class instance.  It would be simpler to

[2018-06-06 04:44] StanczakDominik commented on #453
To summarise from yesterday's telecon, I'm now fine with removing defaults on the condition that we document this for usability purposes really nicely, that includes:

- [ ] Make an example and page in docs for dealing with particle arguments
- [ ] Prepare concise one sentence docstring oneliner and put it in every particle/ion's argument’s description
     - [ ] see https://github.com/PlasmaPy/Pl

[2018-06-06 04:45] StanczakDominik opened #487 "Write an example for dealing with Particle inputs and the aptly named decorator"
Related to #453

[2018-06-07 04:52] StanczakDominik commented on #467
I think using Astropy's quantity plotting support would help here. Enable that, ax1.axvline(x=V_P.value, color='gray', linestyle='--')`, remove the `.value` part to keep it as a Quantity... yeah, that's gonna do it.

Takers? :D

[2018-06-09 06:33] #100 closed

[2018-06-09 06:34] #422 closed

[2018-06-09 07:40] colbych commented on #486
So after looking at the particle class for a bit it seemed like all of the information about any particle you constructed is encapsulated in the string representation. So I added two lines to particle class:
[code]

Which effectively makes a copy.

I think I need to add checks to make sure the mass number and Z should not be entered. Also I think I need to write tests or something but I am not so

[2018-06-10 18:05] ritiek commented on #336
It is now possible to pass collections of wannabe Particles to `@particle_input` with merge of #483.

I am not sure if making it mandatory to pass a tuple of particles would be a good idea but thinking more about this maybe we could have something even better. Let's say we want to accept a collection containing 2 elements in `noblegases` and a collection containing 1 element in `radioactive`:
[cod

[2018-06-11 15:13] StanczakDominik commented on #336
That looks like the best solution here. Wouldn't it also make sense to
accept non tuple arguments with n=1?

[2018-06-11 16:26] ritiek commented on #336
@StanczakDominik I don't feel it is needed. I am thinking about any argument that gets mentioned in `@particle_input` expects a collection of Particles, irrespective of n=1.

Maybe could keep the current functionality as is and add this functionality on top of it? One advantage of this could be to maintain readability depending on number of input elements in a collection. For example, if a functio

[2018-06-11 17:09] namurphy commented on #336
It would be worth considering future applications where we might need expanded functionality, which would guide the direction that `particle_input` ends up taking.  Do we have any applications in mind where we would need multiple particles as inputs?

The application that motivated this issue was having to have a tuple of two charged particles as inputs to get the `Coulomb_logarithm` and other col

[2018-06-12 04:18] StanczakDominik opened #495 "Find our missing coverage"
Based on this:

https://codecov.io/gh/PlasmaPy/PlasmaPy/src/master/plasmapy/_base_init.py

And this:

https://codecov.io/gh/PlasmaPy/PlasmaPy/src/master/plasmapy/diagnostics/langmuir.py#L1220

I don't think Codecov sees this:

https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/tests/coveragerc#L10

so we might need a yaml in the base directory of the repo to point Codecov to the coveragerc

[2018-06-12 04:47] StanczakDominik commented on #495
Geez I do bad issue names in a hurry. @ritiek this is what I just realized you were tinkering with in matrix! It should solve the pragma issue.

[2018-06-12 04:57] StanczakDominik commented on #495
Actually I'm probably wrong in that first guess. The tool we need to point at coveragerc is coveragepy itself, so we probably need to grep sunpy files for references to coveragerc and fill in any missing ones.

[2018-06-12 07:16] ritiek commented on #495
Couldn't we just move `plasmapy/tests/coveragerc` to plasmapy's root directory? That should fix things I believe.

[2018-06-12 12:23] StanczakDominik commented on #495
I thought there was something in setup.py test that broke when I did that... I'm not sure. I'll check later.

[2018-06-16 19:10] dstansby commented on #11
https://github.com/danielver02/NHDS has recently been released, and I started working on building a python wrapper for it https://github.com/dstansby/NHDSPy

but then I realised the fortran needs to be recompiled each time there's a new set of input parameters which is kinda annoying. I might still try and finish the wrapper when I get some spare time.

[2018-06-19 15:37] namurphy commented on #11
Looks like we may run into some license issues.  NHDS has been released under the GPLv3, which means that all derivative works must be released under the GPLv3 as well, and thus we won't be able to incorporate it directly into PlasmaPy unless it's released under something like an MIT or BSD license.

[2018-06-19 15:58] tulasinandan commented on #11
I can talk to Daniel about the licensing issues. I can also talk to him
about restructuring the code so that you compile it once and read
parameters from an input file.

Although including this or even Daniel's other code (ALPS) would be against
plasmapy's goal of keeping the code c/fortran free, we could (should)
include both NHDS and ALPS as affiliate packages via wrappers. So I still
think it i

[2018-06-19 17:29] antoinelpp commented on #11
Hi there,
I'm organising a hackathon mid July for all the physicists of my lab in order to recreate [WHAMP](https://github.com/irfu/whamp)  in python, improving both the user interface but also the physics modelled.
We are planing to create a standalone project, but we are kind to include it in PlasmaPy.
I'll keep you in touch with the result, but it is in pretty good shape around July the 15th.

[2018-06-19 17:58] #495 closed

[2018-06-19 18:37] tulasinandan commented on #11
So I heard back from Daniel. He has updated the license to BSD 2 clause,
AND has updated the code to read an input namelist. This way we do not have
to recompile code for different parameters. He has pushed the changes to
github, so we can pull them. I guess the wrapper is pretty straightforward
now:
1) create a temporary (permanent?) input file
2) run NHDS binary with the input file
3) read the o

[2018-06-19 19:53] StanczakDominik commented on #11
@tulasinandan thanks for handling that! @dstansby this might be helpful!

@antoinelpp I guess we'll go with NHDSPy for now (*why can't I hold all these dispersion relation solvers*) but I think it's neat to have more options, and a python version would be quite neat and we might be able to incorporate it!. I think your physicist hackathon idea is amazing, I'd love to hear more about it. Looking fo

[2018-06-19 20:22] tulasinandan commented on #11
I agree that the long term solution is to have a native python version
(possibly cython?). However, I doubt that unless we have highly optimized
cython that it will be able to beat the Fortran version in speed. So having
both, a pure python/cython version, and an affiliate Fortran version gives
us best of both worlds.

On Tue, Jun 19, 2018 at 3:53 PM, Dominik Stańczak <notifications@github.com>
wr

[2018-06-20 09:40] dstansby commented on #11
Looks like the barriers to using NHDS have been solved, which is exciting! I'll carry on working on getting my wrapper working, and when it's in a decent state will open a PR to get it merged into PlasmaPy.

[2018-06-22 18:24] StanczakDominik commented on #11
I'm no expert but I believe this also fits here: https://github.com/dtold/HYDROS

[2018-06-24 02:40] ritiek opened #503 "Add an `isotope_name` attribute on `Particle` class"
[as mentioned here](https://github.com/PlasmaPy/PlasmaPy/pull/468/files#r189747292) by @namurphy.

[2018-06-24 07:02] manasbedmutha98 commented on #456
I tried this in a local cloned version by executing examples/plot_langmuir_analysis.py, post making edits in the plotting. Even with/without those edits I am not able to see the plots. However it does print the required details when swept_probe_analysis() is called.
Also, I tried looking up for auto_examples under the docs, but it is set to be ignored via the .gitignore file. I checked my env and

[2018-06-24 09:19] ritiek commented on #467
I tried to reproduce this again with astropy v3.0.3 but it looks like https://github.com/astropy/astropy/pull/7510 fixed this.

[2018-06-24 09:19] #467 closed

[2018-06-24 09:42] ritiek commented on #456
By any chance you're using astropy v3.0.3? It seems like it got fixed it the newer version but I was able to still reproduce it with astropy v3.0.2.

I don't know what's the agreed way to show them when executing them from the terminal but adding these lines at the end (after the code to plot the graph) seems to work for me.
[code]

If you're using jupyter notebook, you should be able to see them

[2018-06-25 16:18] manasbedmutha98 commented on #456
I checked it again. It was v3.0.2 only. Previously, the function call never went to actually plot it, hence o error. I did get the said error after that.
Thanks for pointing out the plt.show(), I'll create a PR for this issue soon.

[2018-06-25 16:34] ritiek commented on #456
That's weird but I think it is actually a good thing that it doesn't error out. :D

You're welcome. That said, we'll still need to confirm what's the preferred way to show plots. Maybe @StanczakDominik or @jasperbeckers who wrote the code?

[2018-06-29 09:09] lemmatum opened #505 "Add wavenumber functions to a new em_wave.py module"
Add function(s) to obtain wavenumber for different EM wave scattering scenarios (standard, dispersion corrected, relativistically corrected). Place these under an `em_wave.py` module. These functions should be applicable to optical Thomson scattering and based off of equations found in J. Sheffield, D. Froula, S. H. Glenzer, and N. C. Luhmann Jr, Plasma scattering of electromagnetic radiation: the

[2018-06-30 09:15] dstansby commented on #11
I think that raises an interesting point, that there is more than one way of writing a dispersion solver depending on the assumptions that go into deriving the physics. *If* PlasmaPy chooses a dispersion solver to have as some sort of default, I think it should as a minimum have

- A simple and common set of physics assumptions
- Be open source (obviously)
- Have a peer reviewed paper published ex

[2018-06-30 20:08] tulasinandan commented on #11
NHDS makes most of standard assumptions about the state of a kinetic
plasma. Daniel Told's version is more approximate compared to NHDS as it
assumes fluid electrons and kinetic ions.

As I said before Daniel Verscharen has another code called ALPS which can
work with arbitrary distribution functions. This one is really the most
general kinetic dispersion solver on this planet that I know of.  If

[2018-06-30 20:09] tulasinandan commented on #11
[code]

[2018-07-03 18:31] StanczakDominik commented on #11
@ritiek, the later part of the telecon today was kinda hectic and I didn't catch everything - did you want to work on this one, or should I?

[2018-07-03 18:36] StanczakDominik opened #507 "Use Tulasi's datasets for OpenPMD/Plasma class tests"
Reminder for @tulasinandan about them PIC datasets :) Link them here (or by Riot/email if you'd prefer) and I can rewrite them to OpenPMD for you like we talked about.

[2018-07-03 18:49] ritiek commented on #11
@StanczakDominik I'll be a joke for implementing physics stuff but I could help a bit with coding style and python 3.6+ compatibility.

[2018-07-03 18:50] StanczakDominik commented on #11
Then let's just collaborate on this :smile: I'll try to start on this tomorrow.

[2018-07-03 19:28] tulasinandan commented on #11
Riteik,

You don't have to worry about physics issues. If you could make my snippet
of the code 3.6 and PEP8 compliant, that should be enough to include the
two fluid dispersion in the code. The code is tested for physics already.

Thanks,
Tulasi

On Tue, Jul 3, 2018, 2:50 PM Dominik Stańczak <notifications@github.com>
wrote:

[2018-07-03 20:03] ritiek commented on #11
@tulasinandan Yep! You can add all your code in a file named something like `dispersion.py` (?) and put it in the directory [PlasmaPy/plasmapy/physics/](https://github.com/PlasmaPy/PlasmaPy/tree/master/plasmapy/physics), make the changes on your fork and then make a pull request to [two-fluid-dispersion](https://github.com/ritiek/PlasmaPy/tree/two-fluid-dispersion) branch on my fork.

I'll apply f

[2018-07-05 20:20] tulasinandan commented on #11
Submitted a pull request to your fork.

On Thu, Jul 5, 2018 at 6:25 AM Ritiek Malhotra <notifications@github.com>
wrote:

--
Tulasi Nandan Parashar,
217 Sharp Laboratory,
104 The Grn,
University of Delaware,
Newark, DE 19716
Office: +1-302-831-1498
Cell: +1-302-766-7938
http://www.flickr.com/photos/tulasinandan

[2018-07-07 06:06] #433 closed

[2018-07-12 06:28] ionwyn commented on #503
I'm working on it!

[2018-07-12 06:41] ritiek commented on #503
@ionwyn Sorry, I already made a PR for this in #510. This issue was open for a little while and no one approached, thought I'd fix it myself. I guess I should have waited a bit more. :(

[2018-07-12 07:44] StanczakDominik commented on #503
These things inevitably happen, nobody should worry about it. Thanks for being eager to do this one, @ionwyn!

[2018-07-12 08:09] ionwyn commented on #503
@ritiek good stuff!

@StanczakDominik interesting project here.  If I have more time I'd definitely come back to contrib to this repo for other issues!

[2018-07-12 08:13] StanczakDominik commented on #503
Awesome, glad you like it and looking forward to it! :)

[2018-07-15 17:19] msarahan opened #512 "PyPI distribution does not include license file"
It appears to include several older licenses in the licenses folder, but the current license is nowhere to be found.  This cause the conda recipe at https://github.com/conda-forge/staged-recipes/pull/4793/files#diff-4998bddc7ce3e9e8b1d20f70c9eb7379R56 to fail.

To remedy this, you probably need a change like this: https://github.com/google/oauth2client/pull/694/files

[2018-07-15 17:45] ritiek commented on #512
If this is the case, do you mind making a PR to fix this in PlasmaPy? :)

[2018-07-15 17:51] msarahan commented on #512
That won't happen on any reasonable timescale, I'm afraid.  I was helping some folks at the SciPy sprints, but I have too many other things to do in "my" time.

[2018-07-15 17:52] ritiek commented on #512
No problem! That's perfectly fine. I'll do it myself then. :D

[2018-07-15 19:46] #512 closed

[2018-07-17 16:36] #503 closed

[2018-07-17 17:03] namurphy commented on #336
Closed by #483.

[2018-07-17 17:03] #336 closed

[2018-07-18 20:35] namurphy opened #515 "Reduce number of warnings issued during tests"
Right now our tests are getting a lot of warnings that we can safely ignore.  These warnings are often a `RelativityWarning` or a `CouplingWarning`, and they don't need to show up when running our test suite because we are testing values for regimes where those warnings are issued.  Example warnings are:

[code]
It would be helpful to [suppress the warnings using a context manager](https://docs.py

[2018-07-18 21:12] ritiek commented on #515
We could also pass additional arguments to pytest to [disable all warnings](https://stackoverflow.com/questions/40710094/how-to-suppress-py-test-internal-deprecation-warnings). Something like
[code]
should work and maybe edit our pytest config file to set it as defaults. Though, this would suppress all kinds of warnings, not sure if that's okay to us.

[2018-07-18 21:32] ritiek opened #516 "Can't run tests locally with coverage output enabled on Windows"
(I messed up some stuff on my Linux machine and)

I tried to set up PlasmaPy environment on my bro's Windows machine. It errors out with `SyntaxError` when running the full test suite and passing `--coverage` option.

However, I am able to install PlasmaPy and run tests without passing `--coverage`. This problem seems to occur only when `--coverage` is passed.

<details>

[code]

</details>
<br>
I

[2018-07-19 17:29] namurphy commented on #515
My philosophy is that warnings should continue to be issued for problems that will need to be addressed, and not issued during the tests for things that are not problems.  For example, I would prefer to have deprecation warnings continue to be issued since we'll have to deal with them eventually since they'll eventually become exceptions.

For my local workflow, I think I will start using the `--d

[2018-07-20 06:02] #486 closed

[2018-07-20 20:33] namurphy opened #518 "Use ABCs from number package to type check integers & real numbers"
Up until recently, I've been writing code like this:
[code]
This is all well and good...until we try to pass in a `numpy.int` object and get a `TypeError`.  Grumblemuffins!

However, abstract base classes to the rescue!  We can instead do things like:
[code]
This function now works for `numpy.int` objects as if by magic!  Similarly, we can use `numbers.Number`, `numbers.Complex`, and `numbers.Real

[2018-07-20 21:14] namurphy commented on #518
One more thing we should do:
 - [ ] Include this information in the development guide in our docs.

[2018-07-21 09:53] ritiek commented on #516
I made an upstream PR to fix this in astropy/astropy#7673.

[2018-07-22 06:04] ritiek commented on #516
Yay! The PR got merged.

[2018-07-22 06:04] #516 closed

[2018-07-23 16:51] #287 closed

[2018-07-24 15:19] ritiek commented on #341
@ionwyn Would you like to give this a try? Feel free to ask about anything. :)

[2018-07-24 17:04] ionwyn commented on #341
@ritiek Sure!  Thanks for offering the task and help!

[2018-07-25 20:43] namurphy opened #521 "Implement collisional ionization equilibrium and non-equilibrium ionization functionality"
One of the most basic properties of a multi-component plasma are the ionization states for each of the elements.  A plasma physicist might quickly want to know what fraction of iron particles are in the Fe¹²⁺ and Fe¹³⁺ states for a 2 MK plasma in the solar corona that has had time to reach collisional ionization equilibrium (CIE).  These ionic fractions are necessary to predict, interpret, and cal

[2018-07-26 04:36] ionwyn commented on #341
- I've looked at both [@particle_input](https://github.com/PlasmaPy/PlasmaPy/blob/28156768b242564265e33b3baf8ae231f1a7c166/plasmapy/atomic/particle_input.py#L66) and [Particle](https://github.com/PlasmaPy/PlasmaPy/blob/28156768b242564265e33b3baf8ae231f1a7c166/plasmapy/atomic/particle_class.py#L100) class implementations.
- Dependent issues #336 and #340 are solved and merged; this issue can now ge

[2018-07-26 15:22] namurphy commented on #341
Thank you, @ionwyn!

[2018-07-26 17:36] lemmatum commented on #521
Thanks for bringing this up! I think it would be great if either PlasmaPy or SpectroscoPyx (or both) contained this functionality! We recently ran into some laser-heated plasma experiments where the probing time scales were short enough such that the plasma wasn't fully in ionization equilibrium; so this would be really useful for those calculations.

[2018-07-27 05:21] dstansby opened #522 "Importing a plasmapy module fails if h5py isn't installed"
[code]
The problem is that `__init__.py` in the `plasmapy` directory tries to import *everything*, which means e.g. `h5py` is required for plasmapy to work. I'm guessing this is an optional dependency, and shouldn't be required?

[2018-07-27 05:24] dstansby opened #523 "dimensionless.beta doesn't allow nans"
[code]
results in
[code]

It would be nice if nans were propagated through functions like this instead of throwing an error.

[2018-07-27 14:23] ritiek commented on #522
Yep, `h5py` is required only when working with OpenPMD datasets but as this isn't a very well developed area in PlasmaPy, making it an optional dependency would be a good idea.

[2018-08-02 03:32] ionwyn commented on #341
Hello, everyone.  Sorry I started later than I said; busy at work but it's more relaxed now :)

Here's my first take, I want to verify correctness before moving on to other functions.

ebc1c7ba26db5d05e74b4c3259606fee1b6ceb60

Yes, I know that I have not updated the tests for this, yet.  I also want to ask about naming convention, as you can see ``particle.particle`` may seem awkward, since the ``

[2018-08-03 15:03] ritiek commented on #341
Looks a good start to me!

I realized this after checking your changes, it would be a good idea to accept default parameters as `None` with `@particle_input`. Otherwise we would now be making `mass_density` mandatory to take in a `Particle` when it is supposed to be optional (would defaults to `None`). I'll take a look into what can be done here soon.

Yep, seems a bit awkward to me as well but we

[2018-08-03 16:47] namurphy opened #529 "Calculate Dreicer electric field"
We should have a function that calculates the Dreicer electric field, and include a good physical description of what the Dreicer electric field means and it's significance.

My own preference would be to have a function name that represents the physics of what's happening rather than including someone's name, though I don't have a good idea for what that name might be.

The docstring should also

[2018-08-04 02:28] ionwyn commented on #341
I think I saw it on #528 .  Thanks!

[2018-08-04 08:17] ritiek opened #530 "Accept `NoneType` as a Particle in `@particle_input`"
While solving #341 to implement `@particle_input` in our physics subpackage, we came across a problem where `mass_density` takes in an optional Particle argument (otherwise defaults to `None`).

https://github.com/PlasmaPy/PlasmaPy/blob/9bcbe0bfd30cc434ccf8389ca84163d342dd0c93/plasmapy/physics/parameters.py#L67-L68

If we're going to use `@particle_input` on `mass_density`, we will end up making i

[2018-08-05 18:47] mj-fischer commented on #518
I'd like to take on this issue if it's still available.

[2018-08-05 19:10] ionwyn commented on #341
Cool, thanks!

I'll just work on other functions in the mean time then!

[2018-08-05 19:49] StanczakDominik commented on #518
Sure, go for it!

[2018-08-07 16:18] StanczakDominik commented on #530
`Optional[Particle]`!

[2018-08-11 02:02] #458 closed

[2018-08-12 03:17] ionwyn commented on #530
But the doc says it takes electron as a default argument?

Under `mass_density()`:

        for deuterium, or `'He-4 +1'` for singly ionized helium-4),
        which defaults to **electrons**.

[2018-08-12 03:47] ritiek commented on #530
@ionwyn Nice find! That is probably wrong and docstring should be changed to something like "defaults to `None`".

[2018-08-13 13:27] ritiek commented on #530
Wow, I just noticed `@particle_input` already takes in an optional argument `none_shall_pass` which accepts `None` values where Particle is expected. So, this means that code like this should work properly

[code]

where as this would raise a `TypeError` when `none_shall_pass` is set to `False` (by default)

[code]

I think this implementation works good for the moment and we could stick to it as

[2018-08-13 16:34] ionwyn commented on #530
@ritiek I see.  I didn't notice that either.  That's a very nice find!

[2018-08-13 18:51] lemmatum commented on #530
It was either @StanczakDominik or @namurphy that implemented that I think... great name in any case :laughing:

[2018-08-16 15:58] wtbarnes commented on #93
Relevant PR: conda-forge/staged-recipes#4793

What is the status of this? The problem (at least right now) with the staged recipe is that the `roman` package is not included, presumably because it was added as a dependency after this PR was opened

[2018-08-20 05:14] StanczakDominik commented on #93
The necessary functionality of `roman` got absorbed into `plasmapy/utils/roman` in an earlier PR, so that seems to have been solved. I suppose it would be best to continue this discussion at conda-forge/staged-recipes#4793 and get this done.

[2018-08-21 18:14] namurphy opened #534 "Create Plasma subclass for VPIC simulation results"
[VPIC](https://github.com/vpic/vpic) is a fully relativistic particle in cell (PIC) code that was released under an open source license a couple of years ago.  It has been used for some of the most intensive PIC simulations that have been performed.  We should create a `Plasma` subclass for VPIC simulation results.

My suggestion would be to put the functionality for reading in the data into `plas

[2018-08-21 19:32] StanczakDominik commented on #523
Closed by #525

[2018-08-21 19:32] #523 closed

[2018-08-22 07:31] ritiek commented on #341
@ionwyn So it seems like we could set `none_shall_pass=True` in `@particle_input` and then `mass_density` function could optionally accept particles like so `particle: Particle = None` without resulting in an error as we saw in https://github.com/PlasmaPy/PlasmaPy/issues/530#issuecomment-412517426.

However, in yesterday's meeting we discussed that `particle: Optional[Particle]` looks nicer than t

[2018-08-22 17:12] ionwyn commented on #341
@ritiek on it.  Sorry I've been mia for a while

[2018-08-22 18:08] ritiek commented on #341
@ionwyn Don't worry about it. This issue isn't a high priority, so take your time. :)

[2018-09-14 22:33] namurphy commented on #529
[Gurevich's 1960ish paper in JETP](http://www.jetp.ac.ru/cgi-bin/dn/e_012_05_0904.pdf) looks like an additional useful reference.  The introduction of [Pei-Wen Wang's thesis](https://library.psfc.mit.edu/catalog/xxxxxreports1/1990/91rr/91rr019/91rr019_full.pdf) has a really nice discussion and literature review.

The expression from Declan Diver's plasma formulary book is: E<sub>D</sub> = n<sub>i

[2018-09-20 23:26] namurphy opened #539 "Return namedtuples in dielectric.py functions"
There are a few functions in [`plasmapy/physics/dielectric.py`](https://github.com/PlasmaPy/PlasmaPy/blob/1511167bfb7631b0b54d1e4919d0adaf001c59aa/plasmapy/physics/dielectric.py) that return three values, e.g.
[code]
It would probably be helpful if we could return these as `collections.namedtuple` objects (or perhaps a new class) since that would group the values together in a convenient object.

[2018-09-22 17:08] kamalesh0406 commented on #478
@lemmatum @namurphy I will take up this issue and work on it.

[2018-09-22 17:09] StanczakDominik commented on #478
Awesome! Looking forward to seeing what you come up with @kamalesh0406 :)

[2018-09-27 00:18] #530 closed

[2018-09-27 14:16] #144 closed

[2018-09-28 06:41] jhillairet commented on #539
I've never used `namedtuple`, so I wonder if this is compatible with Numpy array workflow like the following?

[code]

[2018-09-28 06:49] StanczakDominik commented on #539
@jhillairet I'm like 90% sure it's going to work, I don't see why it wouldn't. `namedtuple` only extends the tuple. I'll add your example to tests later today and we'll see for sure :)

[2018-09-28 13:11] namurphy commented on #539
Tuple unpacking works for `namedtuple` objects too, so I don't foresee any problems.  Here's a test I just ran:
[code]

[2018-09-28 16:52] StanczakDominik commented on #539
Yeah, but I think the special use case here was that `ns` was passed as a numpy array. That doesn't seem to bother `namedtuple` thougs, as https://github.com/PlasmaPy/PlasmaPy/pull/540/commits/afa8919a14e944db01cdc791536febd21b55136d will probably pass (it did so on my machine).

[2018-09-28 22:21] wgibson15 commented on #372
I'm willing to work on this issue if help is still needed

[2018-09-29 04:11] StanczakDominik commented on #372
Sure @wgibson15, go right ahead!

[2018-10-02 17:21] BTaskaya opened #546 "Invalid type annotation in physics/dielectric.py omega: u.rad / u.s"
https://github.com/PlasmaPy/PlasmaPy/blob/c03024e2dee3827be6ad8180339265b1f33049a5/plasmapy/physics/dielectric.py#L121

In this line mypy gives error because `u.rad / u.s` is not a valid type annotation.
[code]

[2018-10-02 17:26] namurphy opened #547 "Use absolute rather than relative imports"
**Note: This issue is reserved for a pull request tutorial.**

The [PEP 8 style guide](https://www.python.org/dev/peps/pep-0008) for Python code recommends [using absolute imports rather than relative imports](https://www.python.org/dev/peps/pep-0008/?#imports).  It is preferable to write
[code]
rather than
[code]

For our tutorial, we will each pick one of these files and change the relative impo

[2018-10-02 17:47] namurphy commented on #546
One difficulty here that I don't know how to address is that the `@check_quantity` decorator that operates on `cold_plasma_permittivity_LRP` uses the `astropy.units.rad / astropy.units.s` annotation to check the units of `omega`.  Unfortunately, this usage is inconsistent with how [mypy](http://mypy-lang.org/) uses type hint annotations for static type checking (which would want an annotation of `

[2018-10-03 07:51] StanczakDominik commented on #546
Of course, rad/s is not a type annotation. It doesn't aim to be - it's supposed to document the units for the calculation and help our decorators automate conversions. Sure, this breaks mypy - but that's not much of a problem here.

I would vote to close this issue and possibly look into whether astropy wants to be mypy compatible.

[2018-10-03 07:52] StanczakDominik commented on #268
Probably best to close this one as we hadn't considered mypy and astropy.units clashing?

[2018-10-03 16:14] namurphy commented on #268
I just created a "Snoozed" label to add to this since we could potentially address this in the future, but there doesn't seem to be a viable way to address it now.  I'll try to remember to create an issue on Astropy's repository that discusses this problem.

[2018-10-03 16:17] #546 closed

[2018-10-03 16:19] namurphy commented on #267
Adding the "Snoozed" label since we can't address this now, but we can re-open this later once PyPy supports Python 3.6.

[2018-10-03 16:19] #267 closed

[2018-10-03 16:19] namurphy commented on #266
Adding the "Snoozed" label since we can't address this now, but we can re-open this later once PyPy supports Python 3.6.

[2018-10-03 16:19] #266 closed

[2018-10-04 18:11] namurphy commented on #547
Partially addressed by #550, #551, #552.  Thank you to our new contributors! :smiley_cat:

This is a really good issue for pull request tutorials, so I'd like to continue to reserve it for the moment.

[2018-10-04 21:08] namurphy opened #553 "Use Optional explicitly for type hints when arguments default to None"
I just looked up [PEP 484 -- Type Hints](https://www.python.org/dev/peps/pep-0484) again in response to a comment from @StanczakDominik in #385.  PEP 484 now says:

There are a lot of places in PlasmaPy where we use the first format above (from when that format was recommended), but explicit is better than implicit, so we should change everything to the second format.

It would probably also be go

[2018-10-05 02:44] schambers commented on #515
Hello,

I'd like to take a stab at this. Can you assign the issue to me? Thank you!

[2018-10-05 04:43] #515 closed

[2018-10-05 05:11] #294 closed

[2018-10-05 05:55] hsxie commented on #11
Hi all. I have developed several codes relevant to plasma dispersion relation, which could be advanced than some other solvers.

1. GPDF (http://hsxie.me/codes/gpdf/): generalized plasma dispersion function, which is very fast and accurate, and can support arbitrary 1D distribution function F(v) with an one-solve-all approach, instead of the conventional only Maxwellian one.

2. PDRF (http://hsxie

[2018-10-06 10:34] lgoenner commented on #553
I'd like to work on this!

[2018-10-06 10:48] StanczakDominik commented on #553
Sure, go right ahead!

[2018-10-07 08:04] lgoenner commented on #345
I took a look at this and the biggest issue is [here](https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/atomic/particle_class.py#L428):
`if attributes['half-life'] == np.inf * u.s`
Sometimes `attributes['half-life']` is a string (see [here](https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/atomic/isotopes.py#L974) or [here](https://github.com/PlasmaPy/PlasmaPy/blob/master/plasmapy/

[2018-10-07 08:06] lgoenner commented on #345
Currently creating a PR with some example fixes

[2018-10-07 09:50] #553 closed

[2018-10-11 03:47] carolyz commented on #373
Hi! Wondering if this is still open and if I could take a crack at it. Thanks!

[2018-10-11 04:02] StanczakDominik commented on #373
I don't recall any work being done towards this. Go right ahead! :)

[2018-10-12 17:07] #539 closed

[2018-10-15 17:55] namurphy opened #565 "Create Plasma subclass for plasma described analytically in Cartesian coordinates with fluid approximation"
Often plasma physicists needs to describe plasmas through analytical or user-provided functions.  We should create a [`Plasma`](https://github.com/PlasmaPy/PlasmaPy/blob/6d78d8c31e8e93c27b1d47a8fb0c29a91eaadad5/plasmapy/classes/plasma_factory.py#L22) subclass that allows users to provide functions that describe magnetic field, density, temperature, etc.

In the interest of finite keeping pull requ

[2018-10-15 18:10] namurphy opened #566 "Release version 0.2.0"
Our version 0.1.0 release was in April 2018, so we should plan on releasing version 0.2.0 soon.  Version 0.2.0 will be a development release.  We should not try to be feature complete, and users should expect that the API will be unstable for all subpackages (or at best, metastable).

We should decide which features and functionality to prioritize for version 0.2.0.  At the same time, we should be

[2018-10-15 18:42] namurphy commented on #566
The highest priority for me is to make improvements to the `transport` subpackage, without adding functionality.

 - [ ] Write docstrings for every public-facing function, class, or method in `transport` (#308, #310, etc.)
 - [ ] Improve narrative documentation for `transport` (#416)
 - [ ] Refactor `transport` subpackage (#248, #307, #309, #387, etc.)

I'm currently working on classes to represen

[2018-10-15 19:17] namurphy opened #567 "Create narrative documentation page for how to represent particles"
At present, the docstring for every function that accepts a particle as an argument must include a description of how to represent a particle, for example:
[code]
The problems with this are: (1) it gets very repetitive, and (2) if we want to change this description then we must change it in a whole bunch of places.

An alternative would be to
 - [ ] Create a documentation page that describes how t

[2018-10-16 04:19] StanczakDominik commented on #565
Oh, on closer reading, that's not quite what I had in mind - interesting. I was going to simply take a uniform rectangular grid, calculate values on that, and possibly interpolate to wherever we wanted to have them. But this is also interesting. I'd like to take a bite at it.

[2018-10-16 16:51] StanczakDominik commented on #469
Closed by #477, #480, #485 and #492 and thanks @samurai688 once again! :D

[2018-10-16 16:51] #469 closed

[2018-10-16 17:05] #292 closed

[2018-10-23 18:12] namurphy opened #572 "Improve consistency in type hint annotations"
Right now, we have a mix of type hint annotation styles.  Sometimes we import the packages:
[code]
Other times, we import the classes from the packages:
[code]
Importing the packages has the advantage of showing the full namespace.  Importing the classes from the packages has the advantage of improving readability.

I propose that we standardize our type hints by using the second example above and

[2018-10-23 18:17] namurphy commented on #572
Also, from the [PEP 8 style guide discussion of imports](https://www.python.org/dev/peps/pep-0008/#imports):

[2018-10-30 19:04] namurphy commented on #572
There was general support for this in our community meeting today, so let's go for it and make these changes.  :slightly_smiling_face:

[2018-10-30 20:17] StanczakDominik opened #575 "Remove skeleton subpackages"
At the telecon today we decided it'd make sense to remove our yet-unused subpackages:
* `plasmapy.io`
* `plasmapy.visualization`
* `plasmapy.constants`
    * this one will probably require replacing a bunch of imports with straight up `astropy.constants.si` style imports in places.

I'll probably get that done around Sunday, but if anyone wants to do it first, go for it! :smiley:

[2018-10-30 20:23] StanczakDominik opened #576 "Reshuffle subpackages (plasmapy.theory)"
From the telecon today and based on stuff that came up in #561, this is something that probably deserves wider discussion.

* [x] move `plasmapy.math`, `plasmapy.physics` and `plasmapy.transport` into a common `plasmapy.theory.*` subpackage (so we'd have `plasmapy.theory.math` etc)
* [x] possibly rename `physics` to `parameters` along the way
* [ ] fix all the import errors that this causes
* [ ]

[2018-10-30 20:23] dredvard commented on #280
Might it  be possible to encorporate the   BOLSIG++ solver (: https://www.bolsig.laplace.univ-tlse.fr/ )

BOLSIG+ is a free and user-friendly computer program for the numerical solution of the Boltzmann equation for electrons in weakly ionized gases in uniform electric fields, conditions which occur in swarm experiments and in various types of gas discharges and collisional low-temperature plasmas

[2018-10-30 20:32] StanczakDominik commented on #280
@dredvard that looks interesting, but after a quick look through the documentation:

That's a massive bummer and a pretty weird design decision :disappointed:

[2018-10-30 20:53] dredvard commented on #280
This would be the solution:
https://github.com/aluque/bolos

And there may be other syngergies:
https://fr.lxcat.net/download/

[2018-10-31 20:20] namurphy opened #577 "Expand documentation for ionization state classes"
The `IonizationState` and `IonizationStates` classes were created in #404 to represent what fraction of an element's population was in what ionization level.  The docstrings for these classes are not yet sufficient, and in particular do not talk about the effects of the different dunder methods, like `__iter__`/`__next__`, `__getitem__`, and `__setitem__`.  Additionally, narrative documentation ha

[2018-10-31 21:05] namurphy opened #578 "Allow negatively charged ions in ionization state classes"
The `IonizationState` and `IonizationState` classes that were developed in #404 thus far only allow neutrals and positively charged ions.  There are some instances where negatively charged ions are important, such as H⁻ in the solar atmosphere.  It would probably be helpful for some applications to (perhaps optionally) include negatively charged ions in these classes.

[2018-10-31 21:19] namurphy opened #579 "Add methods to plot charge state distributions in IonizationState(s)"
We should have a method in `IonizationState` that plots a histogram of the charge state distribution for that element or isotope.  The default should probably be a linear scale, but a logarithmic y-axis would be a good option.  We should make sure that the plot defaults provide large enough

We probably also want a method in `IonizationStates` that plots histograms for multiple elements.

It would

[2018-10-31 21:33] namurphy commented on #352
Closed by #404.

[2018-10-31 21:34] #352 closed

[2018-10-31 21:36] namurphy commented on #447
Now that #404 has been merged, one possibility for this issue would be to create a composite `Particle` from an `IonizationState` instance.  From that we would be able to get the mean and rms integer charge.  I don't think this should be the only way to create a custom `Particle`, but it would provide at least one way.

[2018-10-31 21:37] namurphy commented on #52
Cross-reference: #404

[2018-10-31 21:46] namurphy opened #580 "Change State namedtuple to a class"
`State` is a `namedtuple` in `plasmapy/particles/ionization_state.py` which contains information on a particular neutral or ion.  `State` instances are created, for example, when trying to get an item or iterating over an `IonizationState` instance.

Since it is a `namedtuple`, it does not contain checks that the ionic fraction is between 0 and 1, the integer charge is valid, the number density is

[2018-10-31 21:51] namurphy opened #581 "Improve tests for IonizationState(s)"
The `IonizationState` and `IonizationStates` classes created in #404 are reasonably well-tested, but there are a few gaps in test coverage and some possibilities for refactoring and improvement.  We should add some tests to check that the expected exceptions are raised under the appropriate conditions.  We would use Codecov test coverage reports as a guide to figure out which exceptions are not be

[2018-11-01 15:20] #522 closed

[2018-11-01 15:41] dstansby commented on #522
🎉 thanks everyone who worked on this!

[2018-11-01 18:39] namurphy opened #582 "Discuss when to merge, squash, or rebase pull requests in development guide"
Most of our pull requests have been incorporated into PlasmaPy via merge commits.  There has been a lot of discussion over the last few months on when it is appropriate to merge, squash, or rebase.  We should describe our process for deciding between these different possibilities in the development guide.

This would definitely be worthwhile to bring up at a community meeting to get more people to

[2018-11-01 18:52] namurphy commented on #582
My own preference would be to reserve squashes for:
 - when the development history is messy;
 - the changes are minor enough that it would be appropriate to include them in a single commit;
 - doing a rebase would be horrible; or
 - when there are plans to pull the changes into a bug fix branch.

I like the rebase option for experienced developers so that commit messages can focus on a particular

[2018-11-06 20:03] namurphy opened #583 "How do we incorporate data science capabilities into PlasmaPy?"
Machine learning and data science provide ways to find patterns that depend on a lot of variables that have lots of nonlinear interactions with each other (to paraphrase a quote from a panel at the APS DPP mini-conference on data science and machine learning that I'm sitting in right now).  It's going to be pretty vital that we include machine learning and data science capabilities into PlasmaPy.

[2018-11-07 19:04] jimgreen commented on #11
I implemented Huasheng's fluid and kinetic (electrostatic only for now) solvers in Python a while ago. I plan to issue a pull request in the near future.

[2018-11-11 17:34] RAJAGOPALAN-GANGADHARAN commented on #368
@lemmatum is this still available to work can i work on this?

[2018-11-13 17:13] namurphy commented on #313
In [PySat](https://github.com/rstoneback/pysat), there is the [`Instrument`](https://github.com/rstoneback/pysat/blob/8cb88aeff8f3ec913b6296bc7fba43d4b1428d11/pysat/_instrument.py#L27) class which might give us some insight in how to build a `Diagnostic` class.

[2018-11-13 20:18] ehsteve opened #584 "Broken link to Coulomb Logarithms"
The `Collisions` documentation page under the `Coulomb Logarithms` heading refers to documentation on `Coulomb Logarithms` which does not seem to exist. Perhaps it is supposed to link to the [function definition](http://docs.plasmapy.org/en/stable/api/plasmapy.physics.transport.collisions.Coulomb_logarithm.html)?

[2018-11-14 13:00] RAJAGOPALAN-GANGADHARAN commented on #368
@lemmatum can you please help me out with this as i am a beginner. I dont know where to start. can you please point me a way 😃

[2018-11-14 17:44] lemmatum commented on #368
@RAJAGOPALAN-GANGADHARAN sure! I would just write a function named `probeArea` which takes `surface` and `geometry` as arguments along with the probe dimensions (e.g., radius and length). For `geometry='cylindrical'`, write 3 different surface methods under the function for `surface='perpendicular'`, `surface='parallel'`, `surface='total'`. You could also implement `surface='spherical'` as that's

[2018-11-15 09:04] RAJAGOPALAN-GANGADHARAN commented on #368
@lemmatum thank you so much for the pointer will do in few days as exams going on 😢

[2018-11-16 14:07] RAJAGOPALAN-GANGADHARAN commented on #368
![capture](https://user-images.githubusercontent.com/29299197/48626034-d45df280-e9d6-11e8-96f4-50e9f5f39b30.PNG)
@lemmatum is this fine? i have given the dimensions as a tuple so that it can be extended for sphere also in same function is there any more geometry should i add? please help me 😄

[2018-11-19 21:33] StanczakDominik commented on #368
@RAJAGOPALAN-GANGADHARAN please don't post screenshots of code. Throw this in as a pull request (there's plenty of tutorials around!), so our tests can run on this version!

By the way, this could probably use a few tests as well :)

[2018-11-20 18:41] SolarDrew commented on #368
Also @RAJAGOPALAN-GANGADHARAN, let one of us know if you need help with the process of making a pull request :)

[2018-11-21 05:13] RAJAGOPALAN-GANGADHARAN commented on #368
@SolarDrew Yes a help would be nice 😄

[2018-11-21 05:15] lemmatum commented on #368
Apologies, I've been working 10 hr days and am preparing for a flight tomorrow. I'll try to catch up on this soon!

[2018-11-29 08:04] StanczakDominik commented on #583
I have finally gotten through that article and wow, that was neat. :ok_hand:

Still, this will probably have to come after some developments for the plasma class - I'm not aware of any generic run-of-the-mill universal problems that are data independent.

[2018-11-29 09:35] StanczakDominik commented on #584
Hi, thanks for pointing this out! It is indeed supposed to link to the location you linked. Got a fix ready :)

[2018-11-29 17:34] #584 closed

[2018-11-30 03:06] Jac0bDeal commented on #580
Hello, I'd like to get involved in this project and think I might take a crack at this issue :)

[2018-11-30 04:10] Jac0bDeal commented on #572
@namurphy I could jump on this, I'd like to get involved with the project :)

[2018-11-30 04:46] Jac0bDeal commented on #572
For type hints such as `u.kg`, `u.K`, or `np.nan`, should they be updated to match the consistency? I could see arguments going both ways, namely that the `u` and `np` in these cases actually increase readability by specifying the source.

[2018-11-30 05:07] StanczakDominik commented on #572
@Jac0bDeal go for it! :) Let's definitely keep variables such as `u.kg` and `np.nan` the way they are, though - you're quite right about better readability there, there is such a thing as too short a variable name. :D

[2018-11-30 05:08] StanczakDominik commented on #580
Awesome, go right ahead - I'm looking forward to reviewing that! :)

[2018-11-30 06:14] StanczakDominik commented on #572
Either a new issue or going a little bit out of issue scope along the way is completely fine. :smiley:

The pleasure is mine! It's nice to see you're interested :)

[2018-11-30 18:58] SolarDrew commented on #368
@RAJAGOPALAN-GANGADHARAN sorry I've taken so long to get back to you on this. What you'll need to do is make your changes to your own copy (fork) of the code, then submit them to here with the 'make a pull request' button. If you're willing to spend some time on google, you can probably find some other (better) descriptions of the process, but here's one I wrote a while back: https://github.com/So

[2018-11-30 21:42] namurphy commented on #583
Agreed.  This will definitely a much longer term discussion.  In any case, it'd be good to keep data science in the back of our minds while we're working on `Plasma` to help us plan how we develop it.  For me, at the very least, this will require taking some time to learn more about it.

[2018-12-03 22:39] lemmatum commented on #583
As mentioned in the chat room, I think image processing and computer vision as applied to diagnostic images could be major areas for applying data science techniques in PlasmaPy.

From what I've seen, most people rely on feature engineering or manually/interactively selecting the features or regions of interest. Which means lack of reproducibility. If we can use openCV or scikit-image to do edge,

[2018-12-11 09:36] StanczakDominik opened #587 "astropy.units.core.UnitConversionError: 's / m' and 's / m' are not convertible"
https://travis-ci.org/PlasmaPy/PlasmaPy/jobs/466396211

After wrestling with system packages (`conda`, `pip` and `pacman`, argh!), I've managed to figure out that this is localized to `astropy` 3.1. Also, running `python setup.py test -d` and getting into `plasmapy.physics.distribution.Maxwellian_1D`:

[code]

[2018-12-12 07:05] StanczakDominik commented on #587
Looks like this is going to be fixed for Astropy 3.1.1 in https://github.com/astropy/astropy/pull/8263 which leaves us to figure out how to block 3.1 in requirements. Basically we want to say `Astropy >= 3.0.2 & Astropy != 3.1.0"`

[2018-12-12 13:10] manasbedmutha98 commented on #587
I could find only this as the package installation file having astropy. Should this be made to `Astropy >= 3.0.2 & Astropy != 3.1.0"` or I am missing something?

 [https://github.com/PlasmaPy/PlasmaPy/blob/3e919ff0b69e2bfc735e0e60e26f1a34659eba5e/requirements/requirements.txt#L3](https://github.com/PlasmaPy/PlasmaPy/blob/3e919ff0b69e2bfc735e0e60e26f1a34659eba5e/requirements/requirements.txt#L3)

[2018-12-13 08:05] ritiek commented on #587
@manasbedmutha98 Yep, modifying that line to a format which requirements.txt accepts would be the way to go. I think replacing it with something like `astropy (>= 3.0.2, != 3.1.0)` should work.

Perhaps it would be also be a good idea to add a comment in requirements.txt referencing this issue for why we do not want `astropy v3.1.0`.

[2018-12-13 08:32] ritiek commented on #587
Wait. This doesn't seems to be working. If I `pip install "astropy==3.1.0"` and then modify the astropy line in `requirements.txt` to `astropy (>= 3.0.2, != 3.1.0)`. It doesn't seem to install a different version (anything other than `v3.1.0`) when running `python setup.py install`.

This seems a problem specific to PlasmaPy as I am able to create a dummy `test.txt` with a line containing `astropy

[2018-12-13 20:24] bsipocz opened #589 "Add more comprehensive testing"
Would you consider adding more jobs to the test matrices? E.g. test against more numpy versions you support, or astropy versions.

Also, preferably also against the dev versions of these to issues like #587 would surface much earlier, still in the development cycle.

[2018-12-15 01:13] namurphy commented on #589
You're right, that definitely would have helped with catching things like #587 much earlier.  We did try testing against astropy-dev a while ago in #172 and #264 but ran into some problems and weren't able to figure it out.  Thanks!

[2018-12-22 06:44] featTheB commented on #475
Hi,
I am interested in the project, but It would be my first contribution to an open source project, if you can guide me a little I would be very grateful.

[2018-12-24 05:02] featTheB commented on #316
I'm taking the issue.

It seems to also have an issue with the `check_quantity` decorator. I'm receiving `check_quantity() got an unexpected keyword argument 'B'`

[2019-01-02 10:05] zenitani opened #594 "Astrophysics Source Code Library"
Why don't you register PlasmaPy to Astrophysics Source Code Library (https://ascl.net/)?

[2019-01-03 20:48] namurphy opened #595 "Create prototype for calling Julia from PlasmaPy"
Python is an interpreted language and therefore does not achieve the high performance of a compiled language.  However, we will run into many applications of PlasmaPy where performance is critical.  The most commonly used methods are to call C (or sometimes Fortran) code, use a just-in-time compiler with [Numba](http://numba.pydata.org/), or generate C code from [Cython](https://cython.org/).  We

[2019-01-04 18:05] #587 closed

[2019-01-04 18:05] #589 closed

[2019-01-09 20:34] pllim opened #598 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [ ] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [ ] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,